Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform

pull-kops-e2e-cni-amazonvpc:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-calico:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-canal:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-cilium:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-flannel:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-kuberouter:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-e2e-cni-weave:
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-platform-aws: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kops-verify-hashes:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200710-6b3b6fe-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-hashes

pull-kops-verify-terraform:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200710-6b3b6fe-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-terraform
      securityContext:
        privileged: true

use list of strings for CORS
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
Due: none

Implement setter by reflection
  pkg/commands/BUILD.bazel
  pkg/commands/set_cluster.go
  pkg/commands/set_cluster_test.go
  pkg/configbuilder/buildconfigfile.go
  pkg/flagbuilder/build_flags.go
  tests/integration/create_cluster/overrides/options.yaml
  upup/pkg/fi/cloudup/loader.go
  upup/pkg/fi/topological_sort.go
  util/pkg/reflectutils/BUILD.bazel
  util/pkg/reflectutils/access.go
  util/pkg/reflectutils/access_test.go
  util/pkg/reflectutils/field_path.go
  util/pkg/reflectutils/field_path_test.go
  util/pkg/reflectutils/print.go
  util/pkg/reflectutils/walk.go
Due: none

Expose JWKS via a feature-flag
  cloudmock/aws/mockiam/oidcprovider.go
  cmd/kops/integration_test.go
  nodeup/pkg/model/kube_apiserver.go
  pkg/featureflag/featureflag.go
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/oidc_provider.go
  pkg/model/components/BUILD.bazel
  pkg/model/components/apiserver.go
  pkg/model/components/discovery.go
  pkg/model/iam/BUILD.bazel
  pkg/model/iam/pod_roles.go
  tests/integration/update_cluster/public-jwks/README.md
  tests/integration/update_cluster/public-jwks/ca.crt
  tests/integration/update_cluster/public-jwks/ca.key
  tests/integration/update_cluster/public-jwks/data/aws_iam_role_masters.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks/data/aws_iam_role_nodes.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks/data/aws_iam_role_policy_masters.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks/data/aws_iam_role_policy_nodes.minimal.example.com_policy
  tests/integration/update_cluster/public-jwks/data/aws_key_pair_kubernetes.minimal.example.com-c4a6ed9aa889b9e2c39cd663eb9c7157_public_key
  tests/integration/update_cluster/public-jwks/data/aws_launch_template_master-us-test-1a.masters.minimal.example.com_user_data
  tests/integration/update_cluster/public-jwks/data/aws_launch_template_nodes.minimal.example.com_user_data
  tests/integration/update_cluster/public-jwks/id_rsa.pub
  tests/integration/update_cluster/public-jwks/in-v1alpha2.yaml
  tests/integration/update_cluster/public-jwks/kubernetes.tf
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/anonymous-issuer-discovery.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/awstasks/iamoidcprovider.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/anonymous-issuer-discovery.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/public-jwks/manifest.yaml
  upup/pkg/fi/fitasks/keypair.go
  upup/pkg/fi/topological_sort.go
Due: pull-kops-verify-hashes, pull-kops-verify-terraform

Dont generate the ssl_certificate_id field on TCP listeners in Terraform
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/privateweave/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
  upup/pkg/fi/cloudup/awstasks/load_balancer.go
Due: pull-kops-verify-terraform

Support authentication helper for kubectl
  cmd/kops/BUILD.bazel
  cmd/kops/export_kubecfg.go
  cmd/kops/root.go
  cmd/kops/update_cluster.go
  cmd/kops/util/factory.go
  docs/cli/kops_export_kubecfg.md
  hack/.packages
  pkg/commands/BUILD.bazel
  pkg/commands/commandutils/BUILD.bazel
  pkg/commands/commandutils/exit.go
  pkg/commands/helpers.go
  pkg/commands/helpers/BUILD.bazel
  pkg/commands/helpers/kubectl_auth.go
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/kubecfg_builder.go
Due: none

kubeconfig generation: add tests for kops plugin
  cmd/kops/delete_cluster.go
  cmd/kops/export_kubecfg.go
  cmd/kops/update_cluster.go
  go.mod
  pkg/commands/helpers/BUILD.bazel
  pkg/commands/helpers/kubectl_auth.go
  pkg/kubeconfig/BUILD.bazel
  pkg/kubeconfig/create_kubecfg.go
  pkg/kubeconfig/create_kubecfg_test.go
  pkg/kubeconfig/kubecfg_builder.go
  vendor/modules.txt
Due: none

Refactor cloudinstancegroupmember in a more independent cloud instance representation
  cmd/kops/delete_instance.go
  pkg/cloudinstances/BUILD.bazel
  pkg/cloudinstances/cloud_instance.go
  pkg/cloudinstances/cloud_instance_group.go
  pkg/instancegroups/instancegroups.go
  pkg/instancegroups/rollingupdate.go
  pkg/instancegroups/rollingupdate_test.go
  pkg/resources/digitalocean/cloud.go
  pkg/resources/spotinst/resources.go
  pkg/validation/validate_cluster.go
  pkg/validation/validate_cluster_test.go
  upup/pkg/fi/cloud.go
  upup/pkg/fi/cloudup/aliup/ali_cloud.go
  upup/pkg/fi/cloudup/aliup/status.go
  upup/pkg/fi/cloudup/awsup/BUILD.bazel
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  upup/pkg/fi/cloudup/gce/instancegroups.go
  upup/pkg/fi/cloudup/openstack/instance.go
  upup/pkg/fi/cloudup/openstack/mock_cloud.go
  upup/pkg/fi/cloudup/openstack/server_group.go
Due: none

Add "set" support for setting pointers to nil values
  pkg/commands/set_cluster_test.go
  util/pkg/reflectutils/access.go
  util/pkg/reflectutils/access_test.go
Due: none

Remove dead code
  upup/pkg/fi/cloudup/loader.go
Due: none

Remove unused functionality
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/loader.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/resources.go
Due: none

Always use OpenStack Swift reauthentication
  util/pkg/vfs/swiftfs.go
Due: none

Upgrade cilium versions
  pkg/model/components/cilium.go
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
Due: pull-kops-e2e-cni-cilium

feat(spot): upgrade the controller (v1.0.64)
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/spotinst-kubernetes-cluster-controller.addons.k8s.io/v1.14.0.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Due: none

update apiversion to v1 stable
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
Due: none

update csi versions
  upup/models/cloudup/resources/addons/storage-openstack.addons.k8s.io/k8s-1.16.yaml.template
Due: none

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^nodeup\/pkg\/
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
