Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^nodeup\/pkg\/
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/

Update API slice fields to not use pointers
  examples/kops-api-example/up.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/validation/cluster.go
  pkg/apis/kops/validation/cluster_test.go
  pkg/apis/kops/validation/instancegroup.go
  pkg/apis/kops/validation/instancegroup_test.go
  pkg/apis/kops/validation/validation.go
  pkg/apis/kops/validation/validation_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/apis/nodeup/config.go
  pkg/commands/set_cluster.go
  pkg/model/awsmodel/autoscalinggroup.go
  pkg/model/bootstrapscript_test.go
  pkg/model/components/etcd.go
  pkg/model/components/etcdmanager/model.go
  pkg/model/components/etcdmanager/options.go
  pkg/model/components/node-authorizer/options.go
  pkg/model/iam/iam_builder_test.go
  pkg/model/master_volumes.go
  upup/pkg/fi/cloudup/deepvalidate_test.go
  upup/pkg/fi/cloudup/dns_test.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_cluster_spec.go
  upup/pkg/fi/cloudup/populatecluster_test.go
  upup/pkg/fi/cloudup/validation_test.go
  upup/pkg/kutil/import_cluster.go
Due: none

Bump stable versions from alpha
  channels/stable
Due: none

make apimachinery crds gomod, update-expected.sh
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  k8s/crds/kops.k8s.io_keysets.yaml
  k8s/crds/kops.k8s.io_sshcredentials.yaml
  pkg/client/clientset_generated/clientset/fake/register.go
  pkg/client/clientset_generated/internalclientset/fake/register.go
  pkg/model/components/etcdmanager/tests/minimal/tasks.yaml
  pkg/model/components/etcdmanager/tests/old_versions_mount_hosts/tasks.yaml
  pkg/model/components/etcdmanager/tests/overwrite_settings/tasks.yaml
  pkg/model/components/etcdmanager/tests/proxy/tasks.yaml
  protokube/tests/integration/build_etcd_manifest/main/etcd_env_vars.yaml
  protokube/tests/integration/build_etcd_manifest/main/non_tls.yaml
  protokube/tests/integration/build_etcd_manifest/main/tls.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Due: none

Release notes for 1.19.0-alpha.3
  docs/releases/1.19-NOTES.md
Due: none

Pull images from k8s.gcr.io/kops instead of docker.io/kope
  Makefile
  hack/set-version
  pkg/assets/builder.go
  pkg/model/components/kubeapiserver/model.go
  pkg/model/components/kubeapiserver/tests/minimal/tasks.yaml
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.12.yaml.template
  upup/models/cloudup/resources/addons/dns-controller.addons.k8s.io/k8s-1.6.yaml.template
  upup/models/cloudup/resources/addons/kops-controller.addons.k8s.io/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/amazonvpc/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/cilium/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/dns-controller.addons.k8s.io-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/kops-controller.addons.k8s.io-k8s-1.16.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/simple/manifest.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/weave/manifest.yaml
Due: none

Stop trying to pull the Protokube image
  nodeup/pkg/model/protokube.go
  nodeup/pkg/model/tests/protokube/containerd/tasks-protokube.yaml
  nodeup/pkg/model/tests/protokube/docker/tasks-protokube.yaml
Due: pull-kops-verify-hashes

Add all images to GH release
  .shipbot.yaml
Due: none

docs(iam_roles): adding docs on Permissions Boundaries
  docs/iam_roles.md
Due: none

Support writing a full certificate chain
  nodeup/pkg/model/context.go
  nodeup/pkg/model/secrets.go
  nodeup/pkg/model/tests/golden/minimal/tasks-secret.yaml
  upup/pkg/fi/nodeup/nodetasks/issue_cert.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium, pull-kops-verify-hashes

Refactor: KopsModelContext embeds IAMModelContext
  pkg/model/BUILD.bazel
  pkg/model/awsmodel/BUILD.bazel
  pkg/model/awsmodel/autoscalinggroup_test.go
  pkg/model/components/etcdmanager/BUILD.bazel
  pkg/model/components/etcdmanager/model_test.go
  pkg/model/components/kubeapiserver/BUILD.bazel
  pkg/model/components/kubeapiserver/model_test.go
  pkg/model/context.go
  pkg/model/context_test.go
  pkg/model/firewall_test.go
  pkg/model/iam/types.go
  pkg/model/openstackmodel/BUILD.bazel
  pkg/model/openstackmodel/servergroup_test.go
  upup/pkg/fi/cloudup/BUILD.bazel
  upup/pkg/fi/cloudup/apply_cluster.go
  upup/pkg/fi/cloudup/bootstrapchannelbuilder_test.go
  upup/pkg/fi/cloudup/dns.go
Due: none

Fix GCE cluster creation with private topology
  upup/pkg/fi/cloudup/new_cluster.go
Due: none

Update Calico to v3.15.2 for k8s 1.16+
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.16.yaml.template
  upup/pkg/fi/cloudup/bootstrapchannelbuilder.go
Due: pull-kops-e2e-cni-calico
