Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-e2e-cni-weave, pull-kops-verify-hashes, pull-kops-verify-terraform

Path conditions:
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/kubeproxy|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|kubelet).go|upup\/pkg\/fi\/cloudup\/defaults.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(firewall.go|pki.go|iam\/iam_builder.go)|nodeup\/pkg\/model\/networking\/calico.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/|nodeup\/pkg\/model\/networking\/(flannel|canal).go)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(firewall|components\/cilium|iam\/iam_builder).go|nodeup\/pkg\/model\/(context|networking\/cilium).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|nodeup\/pkg\/model\/(sysctls|networking\/flannel).go|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-e2e-cni-weave: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.weave\/|upup\/pkg\/fi\/cloudup\/template_functions.go)
  pull-kops-verify-hashes: any of: ^nodeup\/pkg\/
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/

Move and rename the "distros" package
  hack/.packages
  nodeup/pkg/bootstrap/BUILD.bazel
  nodeup/pkg/bootstrap/install.go
  nodeup/pkg/model/BUILD.bazel
  nodeup/pkg/model/containerd.go
  nodeup/pkg/model/containerd_test.go
  nodeup/pkg/model/context.go
  nodeup/pkg/model/convenience.go
  nodeup/pkg/model/directories.go
  nodeup/pkg/model/docker.go
  nodeup/pkg/model/docker_test.go
  nodeup/pkg/model/etcd.go
  nodeup/pkg/model/kube_controller_manager.go
  nodeup/pkg/model/kubectl.go
  nodeup/pkg/model/kubelet.go
  nodeup/pkg/model/logrotate.go
  nodeup/pkg/model/miscutils.go
  nodeup/pkg/model/ntp.go
  nodeup/pkg/model/packages.go
  nodeup/pkg/model/sysctls.go
  nodeup/pkg/model/update_service.go
  upup/pkg/fi/nodeup/BUILD.bazel
  upup/pkg/fi/nodeup/command.go
  upup/pkg/fi/nodeup/nodetasks/BUILD.bazel
  upup/pkg/fi/nodeup/nodetasks/package.go
  upup/pkg/fi/nodeup/nodetasks/service.go
  upup/pkg/fi/nodeup/nodetasks/update_packages.go
  util/pkg/distributions/BUILD.bazel
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-flannel, pull-kops-verify-hashes

Use numbers for distribution names
  nodeup/pkg/model/containerd_test.go
  nodeup/pkg/model/docker.go
  nodeup/pkg/model/docker_test.go
  nodeup/pkg/model/kubectl.go
  nodeup/pkg/model/kubelet.go
  util/pkg/distributions/distributions.go
  util/pkg/distributions/identify.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-verify-hashes

Use const for architectures and distributions
  util/pkg/architectures/architectures.go
  util/pkg/distributions/distributions.go
Due: none

Remove unused function
  util/pkg/architectures/architectures.go
Due: none

Remove confusing comment
  util/pkg/distributions/identify.go
Due: none

Add tests for distributions
  util/pkg/distributions/BUILD.bazel
  util/pkg/distributions/identify_test.go
  util/pkg/distributions/tests/BUILD.bazel
  util/pkg/distributions/tests/amazonlinux2/etc/os-release
  util/pkg/distributions/tests/centos7/etc/os-release
  util/pkg/distributions/tests/centos7/etc/redhat-release
  util/pkg/distributions/tests/centos8/etc/os-release
  util/pkg/distributions/tests/centos8/etc/redhat-release
  util/pkg/distributions/tests/containeros/etc/lsb-release
  util/pkg/distributions/tests/containeros/etc/os-release
  util/pkg/distributions/tests/coreos/etc/lsb-release
  util/pkg/distributions/tests/coreos/etc/os-release
  util/pkg/distributions/tests/coreos/usr/lib/os-release
  util/pkg/distributions/tests/debian10/etc/debian_version
  util/pkg/distributions/tests/debian10/etc/os-release
  util/pkg/distributions/tests/debian8/etc/debian_version
  util/pkg/distributions/tests/debian8/etc/os-release
  util/pkg/distributions/tests/debian9/etc/debian_version
  util/pkg/distributions/tests/debian9/etc/os-release
  util/pkg/distributions/tests/flatcar/etc/lsb-release
  util/pkg/distributions/tests/flatcar/etc/os-release
  util/pkg/distributions/tests/flatcar/usr/lib/os-release
  util/pkg/distributions/tests/rhel7/etc/os-release
  util/pkg/distributions/tests/rhel7/etc/redhat-release
  util/pkg/distributions/tests/rhel8/etc/os-release
  util/pkg/distributions/tests/rhel8/etc/redhat-release
  util/pkg/distributions/tests/ubuntu1604/etc/debian_version
  util/pkg/distributions/tests/ubuntu1604/etc/lsb-release
  util/pkg/distributions/tests/ubuntu1604/etc/os-release
  util/pkg/distributions/tests/ubuntu1804/etc/debian_version
  util/pkg/distributions/tests/ubuntu1804/etc/lsb-release
  util/pkg/distributions/tests/ubuntu1804/etc/os-release
  util/pkg/distributions/tests/ubuntu2004/etc/debian_version
  util/pkg/distributions/tests/ubuntu2004/etc/lsb-release
  util/pkg/distributions/tests/ubuntu2004/etc/os-release
Due: none

Use /etc/os-release to identify the distribution
  util/pkg/architectures/BUILD.bazel
  util/pkg/distributions/identify.go
  util/pkg/distributions/identify_test.go
  util/pkg/distributions/tests/centos7/etc/redhat-release
  util/pkg/distributions/tests/centos8/etc/redhat-release
  util/pkg/distributions/tests/containeros/etc/lsb-release
  util/pkg/distributions/tests/coreos/etc/lsb-release
  util/pkg/distributions/tests/coreos/usr/lib/os-release
  util/pkg/distributions/tests/debian10/etc/debian_version
  util/pkg/distributions/tests/debian8/etc/debian_version
  util/pkg/distributions/tests/debian9/etc/debian_version
  util/pkg/distributions/tests/flatcar/etc/lsb-release
  util/pkg/distributions/tests/flatcar/usr/lib/os-release
  util/pkg/distributions/tests/rhel7/etc/redhat-release
  util/pkg/distributions/tests/rhel8/etc/redhat-release
  util/pkg/distributions/tests/ubuntu1604/etc/debian_version
  util/pkg/distributions/tests/ubuntu1604/etc/lsb-release
  util/pkg/distributions/tests/ubuntu1804/etc/debian_version
  util/pkg/distributions/tests/ubuntu1804/etc/lsb-release
  util/pkg/distributions/tests/ubuntu2004/etc/debian_version
  util/pkg/distributions/tests/ubuntu2004/etc/lsb-release
Due: none

Document Docker iptables settings
  docs/cluster_spec.md
  docs/releases/1.18-NOTES.md
Due: none

Fix backwards compatibility when backend mode isnt set
  docs/authentication.md
  upup/models/bindata.go
  upup/models/cloudup/resources/addons/authentication.aws/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/authentication.aws-k8s-1.12.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/cluster.yaml
  upup/pkg/fi/cloudup/tests/bootstrapchannelbuilder/awsiamauthenticator/manifest.yaml
Due: none

Squash release notes for v1.6.x
  docs/releases/1.6-NOTES.md
  docs/releases/1.6.0-alpha.1.md
  docs/releases/1.6.1.md
  docs/releases/1.6.2.md
  mkdocs.yml
Due: none

Squash release notes for v1.8.x
  docs/releases/1.8-NOTES.md
  docs/releases/1.8.1.md
  mkdocs.yml
Due: none

Squash release notes for v1.7.x
  docs/releases/1.7-NOTES.md
  docs/releases/1.7.1.md
  mkdocs.yml
Due: none

Rename Legacy to 1.4
  docs/releases/1.4-NOTES.md
  mkdocs.yml
Due: none

Use kops-controller to issue kube-proxy cert
  cmd/kops-controller/pkg/server/server.go
  nodeup/pkg/model/kube_proxy.go
  nodeup/pkg/model/tests/golden/minimal/tasks-kube-proxy.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-amd64.yaml
  nodeup/pkg/model/tests/golden/side-loading/tasks-kube-proxy-arm64.yaml
  pkg/model/iam/iam_builder.go
  pkg/model/pki.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-cilium, pull-kops-verify-hashes
