Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-push-images: any of: \.go$|^rootfs/.*|TAG|go.mod|go.sum
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Corrected the spelling
  docs/deploy/index.md
Due: none

Corrected typo
  docs/deploy/index.md
Due: none

Update index.yaml
  index.yaml
Due: none

Update docs/deploy/index.md
  docs/deploy/index.md
Due: none

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Update Changelog.md
  Changelog.md
Due: none

Sync helm chart affinity examples
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Update NLB idle timeout information
  deploy/static/provider/aws/deploy.yaml
  docs/deploy/index.md
  hack/generate-deploy-scripts.sh
Due: pull-ingress-nginx-boilerplate

Switch images to k8s.gcr.io after Vanity Domain Flip
  Makefile
  build/run-in-docker.sh
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  docs/deploy/upgrade.md
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e-image/Dockerfile
  test/e2e/framework/deployment.go
  test/e2e/framework/fastcgi_helloserver.go
  test/e2e/settings/ocsp/ocsp.go
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Deploy GitHub Pages
  deploy/upgrade/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Prepare for release v0.35.0
  TAG
Due: post-ingress-nginx-push-images

Add build_id dockerfile label
  Makefile
  rootfs/Dockerfile
Due: post-ingress-nginx-push-images

Adding parameter for externalTrafficPolicy in controller service spec
  charts/ingress-nginx/templates/controller-service.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add new env variables to cloudbuild
  cloudbuild.yaml
Due: none

Rollback TAG version
  TAG
Due: post-ingress-nginx-push-images

Add ssl-passthrough annotation to gRPC example doc
  docs/examples/grpc/README.md
Due: none

feat: support to define trusted addresses for proxy protocol in stream block
  rootfs/etc/nginx/template/nginx.tmpl
  test/e2e/settings/proxy_protocol.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Release v0.35.0
  Changelog.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  docs/deploy/index.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart
