Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-releng
      - --scratch-bucket=gs://k8s-staging-releng-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-releng
      - --scratch-bucket=gs://k8s-staging-releng-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

images: Build go1.15.1 images (kube-cross, go-runner)
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: Update etcd to v3.4.13 to match k/k
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

k8s-cloud-builder: Update to skopeo v1.1.1
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Build k8s-cloud-builder:v1.15.1-1
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Build debian-hyperkube-base:buster-v1.1.4
  dependencies.yaml
  images/build/debian-hyperkube-base/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

packages: Update to CNI plugins v0.8.7
  dependencies.yaml
  packages/deb/build.go
  packages/rpm/kubelet.spec
  pkg/kubepkg/kubepkg.go
Due: none

Remove `release-version` flag and option
  cmd/krel/cmd/release_notes.go
  cmd/release-notes/README.md
  cmd/release-notes/main.go
  pkg/notes/notes.go
  pkg/notes/notes_map.go
  pkg/notes/notes_test.go
  pkg/notes/options/options.go
Due: none

schedule-builder: fix bug when path release is next and are in the previous patch list
  cmd/schedule-builder/README.md
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
Due: none

Fix compile-release-tools by removing blocking-testgrid-tests
  compile-release-tools
Due: none

Add krel set-release-version command to be used in anago
  anago
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/gcbmgr.go
  cmd/krel/cmd/set_release_version.go
  cmd/krel/cmd/set_release_version_test.go
  lib/releaselib.sh
  pkg/release/release_version.go
  pkg/release/release_version_test.go
Due: none

lib/release: Set prod variables to test prod ('k8s-release-test-prod')
  lib/releaselib.sh
Due: none

Prototype staging/releasing Kubernetes on Community infrastructure
  anago
  cmd/krel/cmd/gcbmgr_test.go
  lib/releaselib.sh
  pkg/release/release.go
Due: none

Make `krel set-release-version` a subcmd of `krel anago`
  anago
  cmd/krel/cmd/anago.go
  cmd/krel/cmd/set_release_version.go
  cmd/krel/cmd/set_release_version_test.go
Due: none

Replace most of the `master` terminology with git.DefaultBranch
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/changelog_test.go
  cmd/krel/cmd/ff.go
  cmd/krel/cmd/ff_test.go
  cmd/krel/cmd/gcbmgr.go
  cmd/krel/cmd/gcbmgr_test.go
  cmd/krel/cmd/release_notes.go
  cmd/krel/cmd/set_release_version_test.go
  cmd/krel/cmd/sut_test.go
  cmd/release-notes/main.go
  pkg/git/git.go
  pkg/git/git_integration_test.go
  pkg/git/git_test.go
  pkg/github/github.go
  pkg/github/github_test.go
  pkg/release/release.go
  pkg/release/release_test.go
  pkg/release/release_version.go
  pkg/release/release_version_test.go
  pkg/release/version.go
  pkg/testgrid/testgrid_test.go
Due: none

Fix incorrect label ID for alpha and beta releases
  cmd/krel/cmd/set_release_version_test.go
  pkg/release/release_version.go
  pkg/release/release_version_test.go
Due: none

Document gh2gcs use case and SIG Release managed buckets
  cmd/gh2gcs/README.md
Due: none

Update command to reflect prodaccess depreciation
  hack/rapture/README.md
Due: none

testgrid: check if need to upload the images
  testgridshot
Due: none

Add `krel find-green-build` subcommand
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/cmdfakes/BUILD.bazel
  cmd/krel/cmd/cmdfakes/fake_release_client.go
  cmd/krel/cmd/find_green_build.go
  cmd/krel/cmd/find_green_build_test.go
  cmd/krel/cmd/gcbmgr.go
  pkg/release/BUILD.bazel
  pkg/release/build_version.go
  pkg/release/build_version_data_test.go
  pkg/release/build_version_test.go
  pkg/release/releasefakes/BUILD.bazel
  pkg/release/releasefakes/fake_gcp_client.go
  pkg/release/releasefakes/fake_github_client.go
  pkg/release/releasefakes/fake_job_cache_client.go
  pkg/release/releasefakes/fake_test_grid_client.go
Due: none

[krel] Release Notes Editing Flow
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/release_notes.go
  go.mod
  go.sum
  pkg/notes/notes.go
  pkg/notes/notes_map.go
  repos.bzl
Due: none

images: Update env to k8s-testimages/gcb-docker-gcloud:v20200824-5d057db
  images/build/cross/cloudbuild.yaml
  images/build/debian-base/cloudbuild.yaml
  images/build/debian-hyperkube-base/cloudbuild.yaml
  images/build/debian-iptables/cloudbuild.yaml
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: Enable building via docker buildx
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/cloudbuild.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Use shell for loops to "simplify" platform building/pushing
  images/build/cross/Makefile
  images/build/go-runner/Makefile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Standardize Makefiles for build images
  images/Makefile.common-image
  images/build/Makefile.build-image
  images/build/cross/Makefile
  images/build/go-runner/Makefile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

go-runner: Drop extraneous pre-build step in Dockerfile
  images/build/go-runner/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Fix image manifests annotating 'os/arch' instead of 'arch'
  images/Makefile.common-image
  images/build/go-runner/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Build kube-cross v1.15.2-1 and v1.15.2-canary-1
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Build go-runner:buster-v2.0.2 (using go1.15.2)
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Remove unnecessary newlines from log messages
  pkg/gcp/build/build.go
Due: none

images: Build debian-base:v1.2.0
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Streamline krel push error messages
  cmd/krel/cmd/push.go
Due: none

images: Build debian-iptables:buster-v1.3.0
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/buster/Dockerfile
  images/build/debian-iptables/cloudbuild.yaml
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

debian-iptables: Install ebtables from buster-backports
  images/build/debian-iptables/buster/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Add image name tags to image-building GCB configs
  images/build/cross/cloudbuild.yaml
  images/build/debian-base/cloudbuild.yaml
  images/build/debian-hyperkube-base/cloudbuild.yaml
  images/build/debian-iptables/cloudbuild.yaml
  images/build/go-runner/cloudbuild.yaml
  images/k8s-cloud-builder/cloudbuild.yaml
  images/releng-ci-bazel/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Add git.ParseRepoSlug() function and tests
  pkg/git/git.go
  pkg/git/git_test.go
Due: none

images: Build debian-hyperbase-base:buster-v1.2.0
  dependencies.yaml
  images/build/debian-hyperkube-base/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Change --org and --*-repo flags to --fork
  cmd/krel/cmd/release_notes.go
Due: none

Update krel release-notes doc with --fork usage
  docs/krel/release-notes.md
Due: none

images: Migrate pause image building to k/release
  dependencies.yaml
  images/kubernetes/pause/.gitignore
  images/kubernetes/pause/CHANGELOG.md
  images/kubernetes/pause/Dockerfile
  images/kubernetes/pause/Makefile
  images/kubernetes/pause/OWNERS
  images/kubernetes/pause/cloudbuild.yaml
  images/kubernetes/pause/orphan.c
  images/kubernetes/pause/pause.c
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

pause: Reflect pause:3.3 image in CHANGELOG
  images/kubernetes/pause/CHANGELOG.md
  images/kubernetes/pause/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
