Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-test-images, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-test-images: any of: ^test\/images\/
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/

[go1.15] build: Update to k/repo-infra@v0.0.12 (supports go1.15.0)
  build/dependencies.yaml
  build/root/WORKSPACE
Due: pull-kubernetes-cross

[go1.13] Update to go1.13.15
  build/build-image/cross/VERSION
  build/dependencies.yaml
  build/root/WORKSPACE
  test/images/Makefile
Due: post-kubernetes-push-e2e-test-images, pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: <carry>: Copy test annotation from origin
  openshift-hack/e2e/annotate/annotate.go
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/e2e/annotate/rules_test.go
Due: none

remove some notes about scheduler/algorithm
  pkg/scheduler/framework/v1alpha1/interface.go
Due: none

go fmt fix
  cmd/kubeadm/app/preflight/checks_test.go
Due: none

Update yaml files to use seccomp GA syntax
  cluster/addons/cluster-loadbalancing/glbc/default-svc-controller.yaml
  cluster/addons/dashboard/dashboard.yaml
  cluster/addons/dns-horizontal-autoscaler/dns-horizontal-autoscaler.yaml
  cluster/addons/dns/coredns/coredns.yaml.base
  cluster/addons/dns/coredns/coredns.yaml.in
  cluster/addons/dns/coredns/coredns.yaml.sed
  cluster/addons/dns/kube-dns/kube-dns.yaml.base
  cluster/addons/dns/kube-dns/kube-dns.yaml.in
  cluster/addons/dns/kube-dns/kube-dns.yaml.sed
  cluster/addons/fluentd-elasticsearch/fluentd-es-ds.yaml
  cluster/addons/fluentd-elasticsearch/kibana-deployment.yaml
  cluster/addons/metadata-agent/stackdriver/metadata-agent.yaml
  cluster/addons/metrics-server/metrics-server-deployment.yaml
  cluster/gce/manifests/cluster-autoscaler.manifest
  cluster/gce/manifests/etcd.manifest
  cluster/gce/manifests/glbc.manifest
  cluster/gce/manifests/konnectivity-server.yaml
  cluster/gce/manifests/kube-addon-manager.yaml
  cluster/gce/manifests/kube-apiserver.manifest
  cluster/gce/manifests/kube-controller-manager.manifest
  cluster/gce/manifests/kube-scheduler.manifest
Due: none

Turn off unnecessary informer startup
  cmd/kube-scheduler/app/server.go
Due: none

add informer packages
  cmd/kube-scheduler/app/server.go
Due: none

CHANGELOG: Update directory for v1.16.14 release
  CHANGELOG/CHANGELOG-1.16.md
Due: none

Update CHANGELOG/CHANGELOG-1.16.md for v1.16.14
  CHANGELOG/CHANGELOG-1.16.md
Due: none

Add sigs for root folders
  .github/OWNERS
  OWNERS_ALIASES
  docs/OWNERS
  logo/OWNERS
  staging/src/k8s.io/kubectl/pkg/generated/bindata.go
  third_party/OWNERS
  translations/OWNERS
Due: none

Update client-go out of cluster example
  staging/src/k8s.io/client-go/examples/out-of-cluster-client-configuration/BUILD
  staging/src/k8s.io/client-go/examples/out-of-cluster-client-configuration/main.go
Due: none

Verify that an ingress with empty TLS is valid
  pkg/apis/networking/validation/validation_test.go
Due: none

Update validation.go
  staging/src/k8s.io/client-go/tools/clientcmd/validation.go
Due: none

CHANGELOG: Update directory for v1.17.11 release
  CHANGELOG/CHANGELOG-1.17.md
Due: none

Update CHANGELOG/CHANGELOG-1.17.md for v1.17.11
  CHANGELOG/CHANGELOG-1.17.md
Due: none

Update CHANGELOG/CHANGELOG-1.18.md for v1.18.8
  CHANGELOG/CHANGELOG-1.18.md
Due: none

Make CSI mock driver log parse more flexible
  test/e2e/storage/csi_mock_volume.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

[go115] Require go1.15 in build helper scripts
  hack/lib/golang.sh
Due: pull-kubernetes-cross

Delete .travis.yml.
  test/images/directx-device-plugin/.travis.yml
Due: post-kubernetes-push-e2e-test-images, pull-kubernetes-conformance-kind-ipv6-parallel

CHANGELOG: Update directory for v1.18.8 release
  CHANGELOG/CHANGELOG-1.18.md
Due: none

Remove direct accesses to cache's node map
  pkg/scheduler/BUILD
  pkg/scheduler/internal/cache/BUILD
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/fake/BUILD
  pkg/scheduler/internal/cache/fake/fake_cache.go
  pkg/scheduler/internal/cache/interface.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Keep track of remaining pods when a node is deleted.
  pkg/scheduler/framework/v1alpha1/types.go
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/debugger/dumper.go
Due: none

Add missing changelog entries for v1.17.10
  CHANGELOG/CHANGELOG-1.17.md
Due: none

Add missing changelog entries for v1.18.7
  CHANGELOG/CHANGELOG-1.18.md
Due: none

Remove direct accesses to cache's node map
  pkg/scheduler/BUILD
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/fake/BUILD
  pkg/scheduler/internal/cache/fake/fake_cache.go
  pkg/scheduler/internal/cache/interface.go
  pkg/scheduler/scheduler_test.go
  test/integration/scheduler/BUILD
  test/integration/scheduler/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix validation of ingress rules with wildcard host
  pkg/apis/networking/validation/validation.go
  pkg/apis/networking/validation/validation_test.go
Due: none

Removed broken link to Analytics
  CHANGELOG/CHANGELOG-1.2.md
  CHANGELOG/CHANGELOG-1.3.md
  CHANGELOG/CHANGELOG-1.4.md
  CHANGELOG/CHANGELOG-1.5.md
  CHANGELOG/CHANGELOG-1.6.md
  CHANGELOG/CHANGELOG-1.9.md
  CHANGELOG/README.md
  README.md
  build/README.md
  cluster/README.md
  cluster/addons/README.md
  cluster/addons/addon-manager/README.md
  cluster/addons/calico-policy-controller/README.md
  cluster/addons/dashboard/README.md
  cluster/addons/dns-horizontal-autoscaler/MAINTAINERS.md
  cluster/addons/dns-horizontal-autoscaler/README.md
  cluster/addons/dns/kube-dns/README.md
  cluster/addons/fluentd-elasticsearch/README.md
  cluster/addons/fluentd-elasticsearch/fluentd-es-image/README.md
  cluster/addons/fluentd-gcp/README.md
  cluster/addons/node-problem-detector/MAINTAINERS.md
  cluster/addons/node-problem-detector/README.md
  logo/usage_guidelines.md
  test/e2e/README.md
  test/e2e_node/README.md
  test/fixtures/doc-yaml/README.md
  test/soak/serve_hostnames/README.md
  translations/README.md
Due: pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel

add sjenning as kubelet approver
  pkg/kubelet/OWNERS
  pkg/kubelet/cadvisor/OWNERS
  pkg/kubelet/cm/OWNERS
  pkg/kubelet/cm/cpumanager/OWNERS
  pkg/kubelet/cm/cpuset/OWNERS
  pkg/kubelet/eviction/OWNERS
  pkg/kubelet/images/OWNERS
  pkg/kubelet/metrics/OWNERS
  pkg/kubelet/preemption/OWNERS
Due: none

Keep track of remaining pods when a node is deleted.
  pkg/scheduler/internal/cache/cache.go
  pkg/scheduler/internal/cache/cache_test.go
  pkg/scheduler/internal/cache/debugger/dumper.go
  pkg/scheduler/nodeinfo/node_info.go
Due: none
