Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/

golangci update and fix lint
  hack/verify-golangci-lint.sh
  pkg/testgrid/testgrid_test.go
Due: none

Use logrus instead of stdOutWriter for verbose commands
  pkg/command/command.go
  pkg/command/command_test.go
Due: none

kube-cross: Build v1.15.0-1 image
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Remove unused mailto flag from anago
  anago
Due: none

k8s-cloud-builder: Build on kube-cross:v1.15.0-1
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

HACK/REMOVE: Temporarily comment out the GCS target check
  anago
Due: none

Rename release-notes --github-org/repo flags
  cmd/release-notes/README.md
  cmd/release-notes/main.go
Due: none

images: Use OS codenames to construct clearer versions for Debian images
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/buster/Dockerfile
  images/build/debian-base/buster/Dockerfile.build
  images/build/debian-base/buster/clean-install
  images/build/debian-base/buster/excludes
  images/build/debian-base/cloudbuild.yaml
  images/build/debian-base/stretch/Dockerfile
  images/build/debian-base/stretch/Dockerfile.build
  images/build/debian-base/stretch/clean-install
  images/build/debian-base/stretch/excludes
  images/build/debian-base/variants.yaml
  images/build/debian-hyperkube-base/Makefile
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/buster/Dockerfile
  images/build/debian-iptables/buster/iptables-wrapper
  images/build/debian-iptables/cloudbuild.yaml
  images/build/debian-iptables/stretch/Dockerfile
  images/build/debian-iptables/stretch/iptables-wrapper
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Always require --buildversion for anago
  anago
Due: none

images: Initial copy of go-runner from kubernetes/kubernetes
  dependencies.yaml
  images/build/go-runner/BUILD
  images/build/go-runner/Dockerfile
  images/build/go-runner/Makefile
  images/build/go-runner/OWNERS
  images/build/go-runner/README.md
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/go-runner.go
  images/build/go-runner/go.mod
  images/build/go-runner/go.sum
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/go-runner: Enable variant building
  images/build/go-runner/Dockerfile
  images/build/go-runner/Makefile
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/go-runner: Add 'buster' variant
  dependencies.yaml
  images/build/go-runner/Dockerfile
  images/build/go-runner/Makefile
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/go-runner: Allow configurable go versions and use go1.13.15
  images/build/go-runner/Dockerfile
  images/build/go-runner/Makefile
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/go-runner: Fixup go module and build files
  BUILD.bazel
  images/build/go-runner/BUILD.bazel
  images/build/go-runner/go.mod
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/go-runner: Allow PLATFORMS to be configurable
  images/build/go-runner/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/go-runner: Echo platform value before starting build
  images/build/go-runner/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/go-runner: Use multiarch/qemu-user-static
  images/build/go-runner/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Build go-runner:buster-v1.1.0
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/go-runner: Stop attempting to pre-build without ldflags
  images/build/go-runner/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Make go-runner use stdlib-only methods
  images/build/go-runner/BUILD.bazel
  images/build/go-runner/go-runner.go
  images/build/go-runner/go.mod
  images/build/go-runner/go.sum
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Bump gorunner to v1.0.1
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/go-runner: Allow fallback to 'direct' for GOPROXY
  images/build/go-runner/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Build go-runner:buster-v2.0.0 using go1.15
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Fix dependency report generation for new minor releases
  cmd/krel/cmd/changelog.go
Due: none

Skip release-notes dependency report if start and end SHA are equal
  cmd/release-notes/main.go
Due: none

Fix note exclusion regex to be more strict
  pkg/notes/notes.go
  pkg/notes/notes_test.go
Due: none

krel/announcement: Add krel command to build the Kubernetes announcement file
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/announce.go
  cmd/krel/cmd/announce_build.go
  cmd/krel/cmd/announce_send.go
Due: none

anago: replace the build announcement to use krel command
  anago
Due: none

images: Build debian-base:buster-v1.1.4
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Build debian-iptables:buster-v1.2.0
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

hack: Add init-buildx.sh to bootstrap multiarch image building
  hack/init-buildx.sh
Due: none

images/go-runner: Use hack/init-buildx.sh
  images/build/go-runner/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

hack: Improve comment on 'docker-container' driver usage for buildx
  hack/init-buildx.sh
Due: none

kube-cross: Remove variant building for go1.13 (which is out of support)
  images/build/cross/variants.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: Remove variant building for go1.14 (which is unused in k/k)
  images/build/cross/variants.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Remove find_green_build and all of its dependencies
  BUILD.bazel
  anago
  cmd/blocking-testgrid-tests/BUILD.bazel
  cmd/blocking-testgrid-tests/main.go
  cmd/krel/cmd/gcbmgr.go
  find_green_build
  lib/common.sh
  lib/releaselib.sh
  pkg/release/BUILD.bazel
  pkg/release/build_version.go
  pkg/release/build_version_data_test.go
  pkg/release/build_version_test.go
  pkg/release/releasefakes/BUILD.bazel
  pkg/release/releasefakes/fake_gcp_client.go
  pkg/release/releasefakes/fake_github_client.go
  pkg/release/releasefakes/fake_job_cache_client.go
  pkg/release/releasefakes/fake_test_grid_client.go
Due: none

dependencies.yaml: Fixup golang regex for minor versions
  dependencies.yaml
Due: none
