Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-releng
      - --scratch-bucket=gs://k8s-staging-releng-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-releng
      - --scratch-bucket=gs://k8s-staging-releng-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

images: Build kube-cross:v1.15.3-1 and v1.15.3-canary-1
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Build go-runner:buster-v2.1.0
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

go-runner: Temporarily disable ppc64le builds
  images/build/go-runner/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Migrate promotion CLI tools to k/release
  cmd/cip-mm/README.md
  cmd/cip-mm/main.go
  cmd/promobot-files/README.md
  cmd/promobot-files/main.go
  cmd/promobot-generate-manifest/README.md
  cmd/promobot-generate-manifest/main.go
  pkg/api/files/manifest.go
  pkg/api/files/manifest_test.go
  pkg/api/files/validation.go
  pkg/filepromoter/file.go
  pkg/filepromoter/filestore.go
  pkg/filepromoter/gcs.go
  pkg/filepromoter/interfaces.go
  pkg/filepromoter/manifest.go
  pkg/filepromoter/token.go
  pkg/promobot/hash.go
  pkg/promobot/hash_test.go
  pkg/promobot/promotefiles.go
  pkg/promobot/readmanifest_test.go
  pkg/promobot/testdata/files-manifest.yaml
  pkg/promobot/testdata/files/blue.png
  pkg/promobot/testdata/files/green.png
  pkg/promobot/testdata/files/red.png
  pkg/promobot/testdata/manifests/manyfiles/expected.yaml
  pkg/promobot/testdata/manifests/manyfiles/files/blue.yaml
  pkg/promobot/testdata/manifests/manyfiles/files/green.yaml
  pkg/promobot/testdata/manifests/manyfiles/files/red.yaml
  pkg/promobot/testdata/manifests/manyfiles/filestores.yaml
  pkg/promobot/testdata/manifests/onefiles/expected.yaml
  pkg/promobot/testdata/manifests/onefiles/files.yaml
  pkg/promobot/testdata/manifests/onefiles/filestores.yaml
Due: none

Update promotion imports to use k/release/pkg/*
  cmd/promobot-files/main.go
  cmd/promobot-generate-manifest/main.go
  pkg/api/files/manifest_test.go
  pkg/filepromoter/file.go
  pkg/filepromoter/filestore.go
  pkg/filepromoter/gcs.go
  pkg/filepromoter/manifest.go
  pkg/filepromoter/token.go
  pkg/promobot/hash.go
  pkg/promobot/hash_test.go
  pkg/promobot/promotefiles.go
  pkg/promobot/readmanifest_test.go
Due: none

Use klog v2 for promo tools
  cmd/cip-mm/main.go
  cmd/promobot-files/main.go
  cmd/promobot-generate-manifest/main.go
  pkg/filepromoter/file.go
  pkg/filepromoter/filestore.go
  pkg/filepromoter/gcs.go
  pkg/filepromoter/manifest.go
  pkg/filepromoter/token.go
  pkg/promobot/promotefiles.go
Due: none

generated: Run go mod tidy
  go.mod
  go.sum
Due: none

pkg/{api,filepromoter,promobot}: Lint fixes
  pkg/api/files/manifest_test.go
  pkg/filepromoter/gcs.go
  pkg/promobot/hash_test.go
Due: none

go.mod: Update to cip/pkg@v0.3.0
  go.mod
  go.sum
Due: none

images: Build k8s-cloud-builder:v1.15.3-1
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

compile-release-tools: Add promotion tools
  compile-release-tools
Due: none

go.mod: Update all dependencies
  go.mod
  go.sum
Due: none

OWNERS: Add reviewers/approvers for promotion tools
  OWNERS_ALIASES
  cmd/kpromo/OWNERS
  cmd/promobot-files/OWNERS
  cmd/promobot-generate-manifest/OWNERS
Due: none

OWNERS: Promote puerco to release-notes-approvers
  OWNERS_ALIASES
Due: none

OWNERS: Add cpanato and puerco as krel-reviewers
  OWNERS_ALIASES
Due: none

OWNERS: Prune build-admins to only include active members
  OWNERS_ALIASES
Due: none

OWNERS: Update RelEng reviewers/approvers to include current roster
  OWNERS_ALIASES
Due: none

OWNERS: Add Release Managers as build image reviewers/approvers
  images/build/OWNERS
  images/build/debian-base/OWNERS
  images/build/debian-hyperkube-base/OWNERS
  images/build/debian-iptables/OWNERS
  images/build/go-runner/OWNERS
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Migrate vulnerability dashboard (vulndash) to k/release
  cmd/vulndash/dashboard.go
  cmd/vulndash/dashboard.html
  cmd/vulndash/dashboard.js
  docs/vuln-dashboard.md
  pkg/vulndash/adapter/adapter.go
  pkg/vulndash/adapter/adapter_test.go
  pkg/vulndash/adapter/types.go
Due: none

OWNERS: Add reviewers/approvers for vulndash
  OWNERS_ALIASES
  cmd/vulndash/OWNERS
  pkg/vulndash/OWNERS
Due: none

vulndash: Use k8s.io/release import
  cmd/vulndash/dashboard.go
  pkg/vulndash/adapter/adapter_test.go
Due: none

vulndash: Use klog v2 (and run go mod tidy)
  cmd/vulndash/dashboard.go
  go.mod
Due: none

vulndash: Convert to cobra
  cmd/vulndash/cmd/root.go
  cmd/vulndash/dashboard.go
  cmd/vulndash/main.go
Due: none

pkg/vulndash: Clean up lint warnings
  pkg/vulndash/adapter/adapter.go
  pkg/vulndash/adapter/adapter_test.go
Due: none

Add sigs.k8s.io/mdtoc to go.mod and update dependencies
  go.mod
  go.sum
Due: none

Implement sigs.k8s.io/mdtoc in changelog & release-notes. Update testdata.
  cmd/krel/cmd/changelog.go
  cmd/krel/cmd/changelog_data_test.go
  cmd/release-notes/main.go
Due: none

Delete Sascha's TOC. Thanks for all the fish.
  cmd/krel/cmd/changelog.go
  go.mod
  go.sum
  pkg/notes/toc.go
  pkg/notes/toc_test.go
Due: none

images: Add dir for k8s-staging-artifact-promoter project
  images/artifact-promoter/OWNERS
  images/artifact-promoter/vulndash/OWNERS
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

vulndash: Enable image building
  images/artifact-promoter/Makefile.artifact-promoter
  images/artifact-promoter/vulndash/Dockerfile
  images/artifact-promoter/vulndash/Makefile
  images/artifact-promoter/vulndash/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Add krel stage/release subcommand documentation
  cmd/krel/cmd/release.go
  cmd/krel/cmd/stage.go
Due: none

vulndash: Fixup image building
  cmd/vulndash/Dockerfile
  cmd/vulndash/Makefile
  cmd/vulndash/cloudbuild.yaml
  cmd/vulndash/variants.yaml
  images/artifact-promoter/vulndash/OWNERS
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

dependencies.yaml: Add vulndash as golang dependent
  dependencies.yaml
Due: none

vulndash: Build v0.2.0 image
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: none

kubepkg: Move image building config into cmd/kubepkg
  cmd/kubepkg/Dockerfile
  cmd/kubepkg/Dockerfile-rpm
  cmd/kubepkg/cloudbuild.yaml
Due: none

kubepkg: Fixup image building
  cmd/kubepkg/Dockerfile
  cmd/kubepkg/Dockerfile-rpm
  cmd/kubepkg/Makefile
  cmd/kubepkg/cloudbuild.yaml
  cmd/kubepkg/variants.yaml
Due: none

Add `tar` package
  pkg/release/release.go
  pkg/tar/tar.go
  pkg/tar/tar_test.go
  pkg/util/common.go
  pkg/util/common_test.go
Due: none

vulndash: fix file mode when creating the dashboard.json
  pkg/vulndash/adapter/adapter.go
Due: none

vulndash: bump image version
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: none

Take `NoUpdateLatest` into account for krel push
  pkg/release/push.go
Due: none

Add isPushableBranch() function to determine which branches are pushed
  cmd/krel/cmd/anago/push_git_objects.go
  cmd/krel/cmd/anago/push_git_objects_test.go
Due: none

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
