Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - images/build/cross
  ...

post-release-push-image-k8s-cloud-builder:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-releng
      - --scratch-bucket=gs://k8s-staging-releng-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

post-release-push-image-releng-ci-bazel:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-releng
      - --scratch-bucket=gs://k8s-staging-releng-gcb
      - --env-passthrough=PULL_BASE_REF
  ...

lib/release: Use a mock location for images when running mock stages
  lib/releaselib.sh
Due: none

[VDF] Reference k8s.gcr.io instead of us.gcr.io/k8s-artifacts-prod
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
  images/build/cross/Makefile
  images/k8s-cloud-builder/Dockerfile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Add release.SetReleaseVersion API
  cmd/krel/cmd/BUILD.bazel
  cmd/krel/cmd/gcbmgr.go
  cmd/krel/cmd/gcbmgr_test.go
  pkg/git/BUILD.bazel
  pkg/git/git.go
  pkg/release/BUILD.bazel
  pkg/release/build_version.go
  pkg/release/regex/BUILD.bazel
  pkg/release/regex/regex.go
  pkg/release/release_version.go
  pkg/release/release_version_test.go
Due: none

New functions git.GetUserName and git.GetUserEmail
  pkg/git/git.go
  pkg/git/git_test.go
Due: none

Cleanup dependencies.yaml
  dependencies.yaml
Due: none

base-images: Build debian-iptables@v12.1.1
  dependencies.yaml
  images/build/debian-iptables/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

base-images: Build debian-hyperkube-base@v1.1.2
  dependencies.yaml
  images/build/debian-hyperkube-base/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

lib/release: Ensure production images have been promoted in validation
  lib/releaselib.sh
Due: none

lib/release: Remove unused geo endpoints for k8s.gcr.io
  lib/releaselib.sh
Due: none

anago: Push git objects after GCS/GCR artifacts
  anago
Due: none

lib/release: Only set GCRIO_PATH once during release::set_globals
  lib/releaselib.sh
Due: none

anago: Move image validation back into push_all_artifacts
  anago
Due: none

Correct typo in krel installation documentation
  docs/krel/README.md
Due: none

Update pull request template to match latest prow capabilities
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix wrong Sign-off-by line for git commits
  pkg/git/git.go
Due: none

New function util.WrapText() and updates to util.AskYorN()
  pkg/util/common.go
  pkg/util/common_test.go
Due: none

Use existing GitHub API for release.SetBuildVersion()
  pkg/release/BUILD.bazel
  pkg/release/build_version.go
  pkg/release/build_version_test.go
  pkg/release/releasefakes/BUILD.bazel
  pkg/release/releasefakes/fake_github_client.go
  pkg/release/releasefakes/fake_http_client.go
Due: none

gh2gcs: when copying the package to cloud storage use the tag to set the path in the destination
  pkg/gh2gcs/gh2gcs.go
Due: none

Log extra version markers when publishing release
  lib/releaselib.sh
  push-build.sh
Due: none

kube-cross: Build v1.14.7-1 and v1.13.15-1 images
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

k8s-cloud-builder: Build on kube-cross:v1.14.7-1 and v1.13.15-1
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/build/debian-**: Enable variant building
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/cloudbuild.yaml
  images/build/debian-base/v2/Dockerfile
  images/build/debian-base/v2/Dockerfile.build
  images/build/debian-base/v2/clean-install
  images/build/debian-base/v2/excludes
  images/build/debian-base/variants.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/cloudbuild.yaml
  images/build/debian-iptables/v12/Dockerfile
  images/build/debian-iptables/v12/iptables-wrapper
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Build debian-base:v2.1.3
  dependencies.yaml
  images/build/debian-base/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/build/debian-base: Restore v1 variant
  images/build/debian-base/v1/Dockerfile
  images/build/debian-base/v1/Dockerfile.build
  images/build/debian-base/v1/clean-install
  images/build/debian-base/v1/excludes
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/build/debian-iptables: Restore v11 variant
  images/build/debian-iptables/v11/Dockerfile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/debian-base/v1: Set last-known image version
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/debian-iptables/v11: Set last-known image version
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images/debian-iptables/v11: Add iptables-wrapper
  images/build/debian-iptables/v11/Dockerfile
  images/build/debian-iptables/v11/iptables-wrapper
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

base-images: Build debian-base@v1.1.0
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Build debian-base:v2.1.3 (for real this time)
  images/build/debian-base/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Build debian-iptables:v11.1.0
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Added schedule of recurring work
  README.md
Due: none

images: Build debian-iptables:v12.1.2
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Fix setting extra version markers in push build
  push-build.sh
Due: none

Clean up extra version markers logs
  push-build.sh
Due: none

kube-cross: Build v1.15.0-rc.2 image
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

k8s-cloud-builder: Build on kube-cross:v1.15.0-rc.2-1
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

base-images: Build debian-hyperkube-base:v1.1.3
  dependencies.yaml
  images/build/debian-hyperkube-base/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

k8s-cloud-builder: Drop 'canary' variant
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

wip: update deps
  cmd/krel/cmd/BUILD.bazel
  go.mod
  go.sum
  repos.bzl
Due: none

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/
