Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-push-images: any of: \.go$|^rootfs/.*|TAG|go.mod|go.sum
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Update test runner image
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
Due: pull-ingress-nginx-boilerplate

Update zipkin library location
  internal/ingress/controller/template/template_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Refactor load of tracer load
  internal/ingress/controller/template/template.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update nginx image
  Makefile
Due: none

Add e2e tests to verify opentracing libraries
  test/e2e/settings/opentracing.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update default gzip level
  internal/ingress/controller/config/config.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Add use-regex to the rewrite-example.
  docs/examples/rewrite/README.md
Due: none

Switch modules to dynamic and remove http_dav_module
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

Use dynamic load of modules
  internal/ingress/controller/config/config.go
  internal/ingress/controller/template/template.go
  rootfs/etc/nginx/template/nginx.tmpl
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/exposing-tcp-udp-services/index.html
Due: none

Update cloudbuild jobs
  cloudbuild.yaml
  images/cfssl/cloudbuild.yaml
  images/echo/cloudbuild.yaml
  images/fastcgi-helloserver/cloudbuild.yaml
  images/httpbin/cloudbuild.yaml
  images/nginx/cloudbuild.yaml
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image

Update qemu-user-static image
  hack/init-buildx.sh
Due: pull-ingress-nginx-boilerplate

Add install command for Scaleway
  deploy/static/provider/scw/deploy.yaml
  deploy/static/provider/scw/kustomization.yaml
  docs/deploy/index.md
  hack/generate-deploy-scripts.sh
Due: pull-ingress-nginx-boilerplate

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations/index.html
Due: none

reject annotations with default prefix in the case of an override
  cmd/nginx/flags.go
  internal/ingress/annotations/parser/main.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/controller_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

add `topologySpreadConstraint` to controller
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart
