Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/

vulndash: improve vulndash html page
  cmd/vulndash/Makefile
  cmd/vulndash/dashboard.html
  cmd/vulndash/dashboard.js
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: none

vulndash: fix wrong path for js file and small cleanup
  cmd/vulndash/Makefile
  cmd/vulndash/dashboard.html
  cmd/vulndash/dashboard.js
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: none

vulndash: Build v0.4.3-1 image
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: none

go-runner: Build buster-v2.2.3 image
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

releng-ci: Build v0.1.3 image
  dependencies.yaml
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: rebuild image using go1.15.7
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

cross: increase gcb job timeout to 30 min
  images/build/cross/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Build debian-iptables:buster-v1.4.0
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Set correct architecture for debian-iptables images
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/buster/Dockerfile
  images/build/debian-iptables/stretch/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

images: Build debian-hyperkube-base:buster-v1.3.0
  dependencies.yaml
  images/build/debian-hyperkube-base/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Binary package: Base module for binary analysis
  pkg/binary/binary.go
  pkg/binary/elf.go
  pkg/binary/header.go
  pkg/binary/mach-o.go
  pkg/binary/windows.go
Due: none

Tests for binary pkg
  pkg/binary/binary_test.go
Due: none

Autogenerated fakes for tests
  pkg/binary/binaryfakes/fake_binary_implementation.go
Due: none

Add verify-build step to make target
  Makefile
  hack/verify-build.sh
Due: none

images: fix Archs expansion in makefile
  images/Makefile.common-image
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: bump image of kube-cross
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: set gcb timeout to 1h
  images/build/cross/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Switch to buildkit for building multi architecture images
  cmd/vulndash/cloudbuild.yaml
  dependencies.yaml
  images/build/cross/cloudbuild.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/cloudbuild.yaml
  images/build/debian-base/variants.yaml
  images/build/debian-hyperkube-base/Makefile
  images/build/debian-hyperkube-base/cloudbuild.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/cloudbuild.yaml
  images/build/go-runner/cloudbuild.yaml
  images/releng/k8s-ci-builder/cloudbuild.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Fix GCR authentication for base images
  images/build/debian-base/cloudbuild.yaml
  images/build/debian-hyperkube-base/cloudbuild.yaml
  images/build/debian-iptables/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Fix docker buildx image builds
  hack/verify-shellcheck.sh
  images/build/debian-base/Makefile
  images/build/debian-hyperkube-base/Makefile
  images/build/debian-iptables/Makefile
  third_party/multiarch/qemu-user-static/LICENSE
  third_party/multiarch/qemu-user-static/README.kubernetes
  third_party/multiarch/qemu-user-static/register/qemu-binfmt-conf.sh
  third_party/multiarch/qemu-user-static/register/register.sh
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

go-runner: bump image version
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Remove stretch based debian images
  images/build/debian-base/stretch/Dockerfile
  images/build/debian-base/stretch/Dockerfile.build
  images/build/debian-base/stretch/clean-install
  images/build/debian-base/stretch/excludes
  images/build/debian-base/variants.yaml
  images/build/debian-iptables/stretch/Dockerfile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

k8s.io/release/pkg/license package
  pkg/license/download.go
  pkg/license/license.go
  pkg/license/spdx.go
Due: none

License package implementation fakes
  pkg/license/licensefakes/fake_downloader_implementation.go
  pkg/license/licensefakes/fake_reader_implementation.go
Due: none

go mod tidy for new modules used by license pkg
  go.mod
  go.sum
Due: none

License package tests
  pkg/license/license_test.go
  pkg/license/license_unit_test.go
Due: none

Move shared hash functions into own package
  pkg/announce/github_page.go
  pkg/filepromoter/file.go
  pkg/hash/hash.go
  pkg/hash/hash_test.go
  pkg/notes/document/document.go
  pkg/promobot/hash.go
  pkg/release/release.go
Due: none

Update k8s-cloud-builder to v1.15.7-2 and k8s-ci-builder to 1.15.7
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Update debian-iptables to v1.5.0
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Update debian-hyperkube-base to v1.4.0
  dependencies.yaml
  images/build/debian-hyperkube-base/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Use MarshalIndent for JSON release notes output
  cmd/krel/cmd/release_notes.go
Due: none

support for mips64le architecture.
  images/build/debian-base/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Cleanup buildx builder after its usage
  images/build/debian-base/Makefile
  images/build/debian-hyperkube-base/Makefile
  images/build/debian-iptables/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

dependencies.yaml: Update Golang to go1.16rc1
  dependencies.yaml
Due: none

vulndash: Build v0.4.3-2 image
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: none

go-runner: Build buster-v2.3.0 image
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: Build v1.16.0-rc.1-1 image
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

releng-ci: Build v0.2.0 image
  dependencies.yaml
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

the new architecture uses the registry as gcr.io/k8s-staging-experimental
  images/build/debian-base/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

go1.16rc1 mod tidy
  go.sum
Due: none
