Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-test-images, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

pull-kubernetes-e2e-azure-disk-windows:
  decorate: true
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-azure-windows: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200710-6b3b6fe-master
      command:
  ...

pull-kubernetes-e2e-azure-file-windows:
  decorate: true
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-azure-windows: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200710-6b3b6fe-master
      command:
  ...

pull-kubernetes-e2e-aks-engine-azure:
  decorate: true
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200710-6b3b6fe-master
      command:
      - runner.sh
      - kubetest
      args:
      - --test
      - --up
  ...

pull-kubernetes-e2e-azure-disk:
  decorate: true
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200710-6b3b6fe-master
      command:
      - runner.sh
      - kubetest
      args:
      - --test
      - --up
  ...

Add chendave to sig-scheduling REVIEWERS
  OWNERS_ALIASES
Due: none

Fix panic on /readyz
  staging/src/k8s.io/apiserver/pkg/server/healthz/BUILD
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz_test.go
Due: none

Increase the default size to 2Gi
  test/e2e/storage/testsuites/volume_expand.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Deflake TestControllerSync
  pkg/controller/volume/persistentvolume/pv_controller_test.go
Due: none

Use golangci-lint to replace vet+lint+staticcheck
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  hack/verify-golangci-lint.sh
Due: none

test/e2e: fail test rather than flooding logs if PVC watch is closed prematurely
  test/e2e/storage/csi_mock_volume.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

cloud-node-lifecycle controller: add missing instancev2 calls for node exists and node shutdown
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller.go
  staging/src/k8s.io/cloud-provider/controllers/nodelifecycle/node_lifecycle_controller.go
  staging/src/k8s.io/cloud-provider/controllers/nodelifecycle/node_lifecycle_controller_test.go
Due: none

cloud provider: remove redundant implementation of InstanceMetadataByProviderID since instanceV2 is disabled for all providers
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances_test.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_instances.go
  staging/src/k8s.io/legacy-cloud-providers/openstack/openstack_instances.go
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file

cloud provider: remove provider ID references and improve documentation
  staging/src/k8s.io/cloud-provider/cloud.go
  staging/src/k8s.io/cloud-provider/controllers/node/node_controller.go
  staging/src/k8s.io/cloud-provider/fake/fake.go
Due: none

Deflake scheduler PostBind integration test
  test/integration/scheduler/framework_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Updating EndpointSliceMirroring controller to copy labels from Endpoints
  pkg/controller/endpointslicemirroring/utils.go
  pkg/controller/endpointslicemirroring/utils_test.go
Due: none

fix the remote endpoint cleanup logic
  pkg/proxy/winkernel/proxier.go
  pkg/proxy/winkernel/proxier_test.go
Due: none

Set DeprecatedLastTimestamp so LastTimestamp is still set when listing events with Last Seen column
  staging/src/k8s.io/client-go/tools/events/event_recorder.go
Due: none

Update e2e csi images to k8s.gcr.io
  test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml
  test/e2e/testing-manifests/storage-csi/gce-pd/node_ds.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-attacher.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-provisioner.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-resizer.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  test/utils/image/manifest.go
  test/utils/image/manifest_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Updating the Reviewers / Approvers for WinKernel Proxier
  pkg/proxy/winkernel/OWNERS
Due: none

add nfs support for windows in-tree driver
  pkg/volume/nfs/nfs.go
  vendor/k8s.io/utils/mount/mount_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

Move bgrant0607 to emeritus status.
  OWNERS
  OWNERS_ALIASES
  build/visible_to/OWNERS
  pkg/apis/OWNERS
  pkg/apis/core/OWNERS
  test/conformance/behaviors/OWNERS
  test/conformance/testdata/OWNERS
Due: pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

Strip unnecessary security contexts on Windows
  pkg/kubelet/kuberuntime/kuberuntime_container_windows.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  test/e2e/windows/security_context.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-conformance-kind-ipv6-parallel

build: Update to debian-base@v2.1.0 and debian-iptables@v12.1.1
  build/common.sh
  build/dependencies.yaml
  build/workspace.bzl
  cluster/images/etcd/Makefile
  test/utils/image/manifest.go
Due: pull-kubernetes-cross, pull-kubernetes-conformance-kind-ipv6-parallel

cluster/images/etcd: Build etcd@3.4.9-2 using debian-base@v2.1.2
  cluster/images/etcd/Makefile
Due: pull-kubernetes-cross

Azure: per VMSS, incremental VMSS VMs cache
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_cache_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file

remove sttts who stepped down from the working group
  staging/src/k8s.io/component-base/SECURITY_CONTACTS
Due: none

Cleanup wait forever loops in pv_controller_test.go
  pkg/controller/volume/persistentvolume/pv_controller_test.go
Due: none

Add remind in expand variable references
  pkg/kubelet/kubelet_pods.go
Due: none

Update DeprecatedLastTimestamp when series is updated/recorded
  staging/src/k8s.io/client-go/tools/events/event_broadcaster.go
Due: none

Avoid hanging during panic unwind on defer ... Wait()
  staging/src/k8s.io/client-go/tools/cache/controller.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
Due: none

Perpare e2e test of device plugins for Windows.
  test/e2e/windows/device_plugin.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Set DeprecatedFirstTimestamp so FirstTimestamp is set when computing Age column
  staging/src/k8s.io/client-go/tools/events/event_recorder.go
Due: none

Fix /readyz to contain informer-sync
  staging/src/k8s.io/apiserver/pkg/server/config.go
  test/e2e/apimachinery/BUILD
  test/e2e/apimachinery/health_handlers.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix TestScorePlugin: numScore should be accessed with atomic.LoadInt32
  test/integration/scheduler/framework_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

expose Run[Pre]ScorePlugins functions in PluginRunner interface
  pkg/scheduler/framework/v1alpha1/interface.go
  test/integration/scheduler/framework_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Update CHANGELOG/CHANGELOG-1.19.md for v1.19.0-rc.4
  CHANGELOG/CHANGELOG-1.19.md
Due: none

kubectl describe pod: use ReportingController as an event source
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
Due: none

Fix subPath tests for Windows
  test/e2e/storage/testsuites/subpath.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-test-images: any of: ^test\/images\/
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
