Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Path conditions:
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-k8s-cloud-builder: any of: ^images\/
  post-release-push-image-releng-ci-bazel: any of: ^images\/

Add do_not_publish to template release note map
  cmd/krel/cmd/release_notes.go
Due: none

Release Notes: experimental lookup commits on local repository instead of GitHub API call
  cmd/krel/cmd/release_notes.go
  go.mod
  go.sum
  pkg/notes/document/document.go
  pkg/notes/notes.go
  pkg/notes/notes_v2.go
  pkg/notes/options/options.go
Due: none

go1.16 mod tidy + golangci-lint
  cmd/krel/cmd/release_notes.go
  go.sum
  pkg/notes/notes_v2.go
  pkg/notes/options/options.go
Due: none

add unit tests for setting up builddir
  pkg/build/build_test.go
Due: none

Add a RepoRoot option
  pkg/build/build.go
  pkg/build/ci.go
  pkg/build/push.go
Due: none

Fix err returns from deferred funcs in krel relnotes
  cmd/krel/cmd/release_notes.go
Due: none

Apply MatchesExcludeFilter on PR (v1 parity)
  pkg/notes/notes_v2.go
Due: none

Add comment on quirky goroutine implementation
  pkg/notes/notes_v2.go
Due: none

Only show progress bar on TTY / user terminal
  go.mod
  pkg/notes/notes_v2.go
Due: none

Re-draw graph for commit rewind explanation
  pkg/notes/notes_v2.go
Due: none

vulndash: Image v0.4.3-3 (golang 1.15.8)
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: none

Build go-runner:buster-v2.3.1 (golang 1.15.8)
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Build releng-ci:v0.2.1 (golang 1.15.8)
  dependencies.yaml
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Build kubecross:v1.15.8-1 (golang 1.15.8)
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

releng: kube-cross set canary to use go 1.16
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Update k8s-ci-builder to 1.15.8
  dependencies.yaml
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Add structured logging and move apply map log to Debug
  pkg/notes/notes.go
Due: none

Utilize MergeBase for finding common ancestor
  pkg/notes/notes_v2.go
Due: none

Change k/k8s.io branch to "main" in image promotion PRs
  cmd/krel/cmd/promote-images.go
Due: none

Display DoNotPublish on edit view
  cmd/krel/cmd/release_notes.go
Due: none

pkg/github will no longer set GITHUB_TOKEN variable
  pkg/github/github.go
Due: none

Adding a setcap image so that capabilities can be applied to kubernetes binaries.
  images/build/setcap/Dockerfile
  images/build/setcap/Makefile
  images/build/setcap/README.md
  images/build/setcap/cloudbuild.yaml
  images/build/setcap/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Update go-modiff to v1.3.0
  go.mod
  go.sum
Due: none

Simplify debian-base image builds
  .gitignore
  images/build/debian-base/Makefile
  images/build/debian-base/buster/Dockerfile.build
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

docs: Cleanup
  docs/vuln-dashboard.md
Due: none

Fix formatting of README file.
  images/build/setcap/README.md
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Fix s390x build failures.
  images/build/setcap/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Use ARG and --build-arg instead of sed.
  images/build/debian-hyperkube-base/Dockerfile
  images/build/debian-hyperkube-base/Makefile
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/buster/Dockerfile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

cross: create new variant with protobuf version 3.0.2
  images/build/cross/Makefile
  images/build/cross/cloudbuild.yaml
  images/build/cross/default/Dockerfile
  images/build/cross/legacy/Dockerfile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

vulndash: Build v0.4.3-4 image (using go1.16rc1)
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
Due: none

go-runner: Build v2.3.1-go1.16rc1-buster.0 image
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/VERSION
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

releng-ci: Build v0.3.0 image (using go1.16rc1)
  images/releng/ci/cloudbuild.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: Build v1.16.0-rc.1-2 image (using go1.16rc1)
  images/build/cross/Makefile
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

go-runner: Build v2.3.1-go1.16rc1-buster.1 image
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

kube-cross: Build v1.16.0-rc.1-2 image (for real this time)
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross, post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

go.mod: Update directives to go1.16 and run `go mod tidy`
  go.mod
  go.sum
  images/build/go-runner/go.mod
  packages/deb/go.mod
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Simplify build image Makefile's
  images/build/debian-base/Makefile
  images/build/debian-hyperkube-base/.gitignore
  images/build/debian-hyperkube-base/Dockerfile
  images/build/debian-hyperkube-base/Makefile
  images/build/debian-iptables/Makefile
  images/build/setcap/Makefile
Due: post-release-push-image-k8s-cloud-builder, post-release-push-image-releng-ci-bazel

Add dateless go license boilerplate
  hack/boilerplate/boilerplate.generatego.txt
Due: none
