Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

Path conditions:
  post-ingress-nginx-push-images: any of: \.go$|^rootfs/.*|TAG|go.mod|go.sum
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/

Require Kubernetes v1.14 or higher and deprecate extensions
  cmd/nginx/main.go
  internal/admission/controller/main.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/store/store_test.go
  internal/ingress/status/status.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update go to 1.5.1 and add arm64
  images/test-runner/Makefile
  images/test-runner/rootfs/Dockerfile
Due: post-ingress-nginx-build-e2e-image

Increase cloudbuild timeout value
  images/test-runner/cloudbuild.yaml
Due: post-ingress-nginx-build-e2e-image

Update e2e image
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
Due: pull-ingress-nginx-boilerplate

Cleanup github actions
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .github/workflows/helm.yaml
Due: none

Test
  TAG
  charts/ingress-nginx/Chart.yaml
Due: post-ingress-nginx-push-images, pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Use net.JoinHostPort to avoid IPV6 issues
  internal/ingress/controller/nginx.go
  internal/ingress/controller/tcp.go
  test/e2e/framework/framework.go
  test/e2e/security/request_smuggling.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update trace modules
  images/nginx/Makefile
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

shuffle lua tests
  build/test-lua.sh
Due: pull-ingress-nginx-boilerplate

Library dd-opentracing cannot be static
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

Add custom annotations example
  docs/examples/customization/custom-annotations/README.md
  docs/examples/customization/custom-annotations/ingress.yaml
  docs/examples/index.md
  docs/user-guide/nginx-configuration/custom-template.md
Due: none

Fix hello world lua plugin documentation link
  rootfs/etc/nginx/lua/plugins/README.md
Due: post-ingress-nginx-push-images

Add e2e tests to verify opentracing libraries
  test/e2e/settings/opentracing.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Refactor load of tracer load
  internal/ingress/controller/template/template.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update nginx image
  Makefile
Due: none

AKS example of adding an internal loadbalancer This is a simple example of adding an Azure internal loadbalancer when creating the ingress controller.
  charts/ingress-nginx/README.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Fixed proxy protocol link
  docs/user-guide/exposing-tcp-udp-services.md
Due: none

Update test runner image
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image

Update deploy instructions with corrections
  docs/deploy/index.md
Due: none

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none
