Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

post-ingress-nginx-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-cfssl-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-echo-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-fastcgi-helloserver-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-httpbin-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

pull-ingress-nginx-boilerplate:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-ingress-nginx/e2e-test-runner:v20200627-ingress-nginx-2.9.0-9-ga003eabd5
      command:
      - ./hack/verify-boilerplate.sh

pull-ingress-nginx-codegen:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-ingress-nginx/e2e-test-runner:v20200627-ingress-nginx-2.9.0-9-ga003eabd5
      command:
      - ./hack/verify-codegen.sh

Cleanup e2e tests
  test/e2e/annotations/limitconnections.go
  test/e2e/status/update.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Disable enable-access-log-for-default-backend e2e test
  test/e2e/defaultbackend/default_backend.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

v1
  internal/ingress/annotations/canary/main.go
  internal/ingress/controller/controller.go
  internal/ingress/types.go
  internal/ingress/types_equals.go
  rootfs/etc/nginx/lua/balancer.lua
  rootfs/etc/nginx/lua/balancer/hashcode.lua
  rootfs/etc/nginx/lua/test/balancer_test.lua
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test

Remove sha checking on controller image
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Add SIGCHLD handler
  cmd/nginx/main.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Fixed typo "permanen"
  test/e2e/annotations/redirect.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

SIGCHLD signal handler test
  cmd/nginx/main.go
  cmd/nginx/main_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

feat(baremetal): Add kustomization.yaml
  deploy/static/provider/aws/kustomization.yaml
  deploy/static/provider/baremetal/kustomization.yaml
  deploy/static/provider/cloud/kustomization.yaml
  deploy/static/provider/do/kustomization.yaml
  deploy/static/provider/kind/kustomization.yaml
Due: none

Add security mitigation file for chartcenter
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/security-mitigation.yaml
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

fix for 5590
  docs/enhancements/YYYYMMDD-kep-template.md
Due: none

Deploy GitHub Pages
  enhancements/YYYYMMDD-kep-template/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

Add missing return
  cmd/nginx/main_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Fix panic in ingress class validation
  internal/ingress/annotations/class/main.go
  internal/ingress/annotations/class/main_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/monitoring/index.html
Due: none

Migrate to klog v2
  cmd/nginx/flags.go
  cmd/nginx/main.go
  cmd/waitshutdown/main.go
  go.mod
  go.sum
  internal/admission/controller/main.go
  internal/admission/controller/server.go
  internal/file/file.go
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/authreq/main.go
  internal/ingress/annotations/backendprotocol/main.go
  internal/ingress/annotations/rewrite/main.go
  internal/ingress/annotations/secureupstream/main.go
  internal/ingress/annotations/sessionaffinity/main.go
  internal/ingress/controller/config/config.go
  internal/ingress/controller/controller.go
  internal/ingress/controller/endpoints.go
  internal/ingress/controller/nginx.go
  internal/ingress/controller/process/nginx.go
  internal/ingress/controller/status.go
  internal/ingress/controller/store/backend_ssl.go
  internal/ingress/controller/store/store.go
  internal/ingress/controller/tcp.go
  internal/ingress/controller/template/configmap.go
  internal/ingress/controller/template/template.go
  internal/ingress/controller/util.go
  internal/ingress/metric/collectors/controller.go
  internal/ingress/metric/collectors/nginx_status.go
  internal/ingress/metric/collectors/process.go
  internal/ingress/metric/collectors/socket.go
  internal/ingress/metric/main.go
  internal/ingress/status/status.go
  internal/k8s/main.go
  internal/net/dns/dns.go
  internal/net/ssl/ssl.go
  internal/nginx/main.go
  internal/task/queue.go
  test/e2e/framework/framework.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update dependencies for controller-runtime
  go.mod
  go.sum
Due: post-ingress-nginx-push-images

Fix wait times in e2e tests
  test/e2e/annotations/auth.go
  test/e2e/framework/framework.go
  test/e2e/gracefulshutdown/shutdown.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Typo
  charts/ingress-nginx/README.md
Due: pull-ingress-nginx-chart-lint, pull-ingress-nginx-e2e-helm-chart

Fix nginx command env variable reference
  internal/ingress/controller/util.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Clean up minikube installation instructions
  docs/deploy/index.md
Due: none

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix variable ordering in error message
  cmd/nginx/main.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update psp example
  docs/examples/psp/psp.yaml
Due: none

Deploy GitHub Pages
  examples/psp/psp.yaml
  sitemap.xml
  sitemap.xml.gz
Due: none

Path conditions:
  post-ingress-nginx-push-images: any of: \.go$|^rootfs/.*|TAG|go.mod|go.sum
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
