Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-lualint, pull-ingress-nginx-chart-lint, pull-ingress-nginx-test-lua, pull-ingress-nginx-test, pull-ingress-nginx-e2e-helm-chart

post-ingress-nginx-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-cfssl-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-echo-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-fastcgi-helloserver-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-httpbin-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

pull-ingress-nginx-boilerplate:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-ingress-nginx/e2e-test-runner:v20200627-ingress-nginx-2.9.0-9-ga003eabd5
      command:
      - ./hack/verify-boilerplate.sh

pull-ingress-nginx-codegen:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-ingress-nginx/e2e-test-runner:v20200627-ingress-nginx-2.9.0-9-ga003eabd5
      command:
      - ./hack/verify-codegen.sh

Update nginx to 1.19.2
  images/nginx/cloudbuild.yaml
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

Update nginx image
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
Due: post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image

Update to to 1.15 and chart testing to 3.0.0
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image

Update e2e-test-runner image
  build/run-in-docker.sh
  test/e2e-image/Dockerfile
Due: pull-ingress-nginx-boilerplate

Update go dependencies
  go.mod
  go.sum
Due: post-ingress-nginx-push-images

Rollback update of Jaeger library to 0.5.0 and update datadog to 1.2.0
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

Remove .a files
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

Update mimalloc to v1.6.4
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image, pull-ingress-nginx-boilerplate

Update nginx image
  Makefile
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Update github action go to 1.15
  .github/workflows/ci.yaml
Due: none

Avoid missing SIGCHLD signals
  cmd/nginx/main.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Multiple dead children test and mixed children wait styles
  cmd/nginx/main_test.go
Due: post-ingress-nginx-push-images, pull-ingress-nginx-boilerplate, pull-ingress-nginx-codegen, pull-ingress-nginx-gofmt, pull-ingress-nginx-golint, pull-ingress-nginx-test

Added missing backend protocol.
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Update development.md
  docs/development.md
Due: none

Deploy GitHub Pages
  development/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Adding prometheus anotations
  deploy/static/provider/cloud/deploy.yaml
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations/index.html
Due: none

Update deploy-tls-termination.yaml
  deploy/static/provider/aws/deploy-tls-termination.yaml
Due: none

Path conditions:
  post-ingress-nginx-push-images: any of: \.go$|^rootfs/.*|TAG|go.mod|go.sum
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  pull-ingress-nginx-boilerplate: any of: \.go$|\.sh$
  pull-ingress-nginx-codegen: any of: \.go$
  pull-ingress-nginx-gofmt: any of: \.go$
  pull-ingress-nginx-golint: any of: \.go$
  pull-ingress-nginx-lualint: any of: \.lua$
  pull-ingress-nginx-chart-lint: any of: ^charts/
  pull-ingress-nginx-test-lua: any of: \.lua$
  pull-ingress-nginx-test: any of: \.go$
  pull-ingress-nginx-e2e-helm-chart: any of: ^charts/
