Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-test-images, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

post-kubernetes-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-kubernetes-push-e2e-test-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200708-4b69e15
      command:
      - /run.sh
      args:
      - --project=k8s-staging-e2e-test-images
      - --scratch-bucket=gs://k8s-staging-e2e-test-images-gcb
  ...

pull-kubernetes-e2e-azure-disk-windows:
  decorate: true
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-azure-windows: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200710-6b3b6fe-master
      command:
  ...

pull-kubernetes-e2e-azure-file-windows:
  decorate: true
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-azure-windows: 'true'
    preset-k8s-ssh: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200710-6b3b6fe-master
      command:
  ...

pull-kubernetes-e2e-aks-engine-azure:
  decorate: true
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200710-6b3b6fe-master
      command:
      - runner.sh
      - kubetest
      args:
      - --test
      - --up
  ...

pull-kubernetes-e2e-azure-disk:
  decorate: true
  optional: true
  labels:
    preset-service-account: 'true'
    preset-azure-cred: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200710-6b3b6fe-master
      command:
      - runner.sh
      - kubetest
      args:
      - --test
      - --up
  ...

check readyz before adding endpoint for kube-apiserver
  pkg/controlplane/controller.go
Due: none

Fix `kubectl describe ingress` format
  staging/src/k8s.io/kubectl/pkg/describe/describe.go
  staging/src/k8s.io/kubectl/pkg/describe/describe_test.go
Due: none

kubectl: Add maintainer FAQ
  staging/src/k8s.io/kubectl/.github/ISSUE_TEMPLATE/bug-report.md
  staging/src/k8s.io/kubectl/.github/ISSUE_TEMPLATE/enhancement.md
  staging/src/k8s.io/kubectl/docs/maintainers/faq.md
Due: none

Allow the lifecycle of kube-proxy to be managed independently of the startup scripts for GCE
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure-helper.sh
Due: none

Update bazel go_test srcs
  staging/src/k8s.io/cli-runtime/pkg/printers/BUILD
Due: none

Make default value of name printer namespace empty
  staging/src/k8s.io/cli-runtime/pkg/printers/name.go
Due: none

using kubectl apply to create metric adapter
  test/e2e/instrumentation/monitoring/custom_metrics_deployments.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Update .golint_failures
  hack/.golint_failures
Due: none

Replace e2essh on e2e service tests
  test/e2e/network/networking.go
  test/e2e/network/service.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

modify static check
  pkg/volume/util/device_util_linux_test.go
  pkg/volume/util/fsquota/common/quota_linux_common_impl.go
  pkg/volume/util/fsquota/project.go
  pkg/volume/util/fsquota/quota_linux.go
  pkg/volume/util/hostutil/hostutil_linux_test.go
  pkg/volume/util/nested_volumes.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go
  pkg/volume/util/nestedpendingoperations/nestedpendingoperations_test.go
  pkg/volume/util/operationexecutor/operation_executor.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/recyclerclient/recycler_client.go
  pkg/volume/util/recyclerclient/recycler_client_test.go
  pkg/volume/util/subpath/subpath_linux.go
  pkg/volume/util/util.go
Due: none

deprecate scheduler metrics BindingLatency and SchedulingAlgorithmPreemptionEvaluationDuration
  pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go
  pkg/scheduler/metrics/metrics.go
  pkg/scheduler/scheduler.go
Due: none

Add testcases for NamePrinter.PrintObj
  staging/src/k8s.io/cli-runtime/pkg/printers/name_test.go
Due: none

Add description for WithNamespace
  staging/src/k8s.io/cli-runtime/pkg/printers/name.go
Due: none

Delete pre-provisioned Cinder volume by ID
  test/e2e/storage/drivers/in_tree.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Add extra log when Cinder volume deletion fails
  test/e2e/storage/drivers/in_tree.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fail test when Cinder volume deletion fails
  test/e2e/storage/drivers/in_tree.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

UPSTREAM: 94984: check readyz before adding endpoint for kube-apiserver
  pkg/master/controller.go
Due: none

Graduate kubeadm alpha certs command
  cmd/kubeadm/app/cmd/alpha/alpha.go
  cmd/kubeadm/app/cmd/alpha/certs.go
  cmd/kubeadm/app/cmd/cmd.go
Due: none

Update the use message for kubectl debug
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
Due: none

Adding back in the breadth-first-polling logic. "Revert "Merge pull request #93837 from jayunit100/DialFromContainerB""
  test/e2e/common/networking.go
  test/e2e/framework/network/utils.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

do not mutate endpoints in the apiserver
  pkg/registry/core/endpoint/BUILD
  pkg/registry/core/endpoint/strategy.go
  test/integration/BUILD
  test/integration/endpoints/BUILD
  test/integration/endpoints/endpoints_test.go
  test/integration/endpoints/main_test.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Add failure logic to tests that rely on side-effect-free dial functions.
  test/e2e/framework/network/utils.go
  test/e2e/network/networking.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Remove ext2 + ext3 tests
  test/e2e/storage/drivers/in_tree.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Raise error if the user has multiple contexts but no current set
  staging/src/k8s.io/client-go/tools/clientcmd/loader.go
  staging/src/k8s.io/client-go/tools/clientcmd/validation.go
Due: none

Allow setting a context when the config does not have one
  staging/src/k8s.io/client-go/tools/clientcmd/config.go
  staging/src/k8s.io/client-go/tools/clientcmd/merged_client_builder.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/create_authinfo.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/create_cluster.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/create_context.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/delete_cluster.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/delete_context.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/get_contexts.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/rename_context.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/set.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/unset.go
  staging/src/k8s.io/kubectl/pkg/cmd/config/use_context.go
Due: none

Keep the imagePullPolicy of kubectl alpha debug consistent with the default
  pkg/apis/apps/v1/zz_generated.defaults.go
  pkg/apis/apps/v1beta1/zz_generated.defaults.go
  pkg/apis/apps/v1beta2/zz_generated.defaults.go
  pkg/apis/batch/v1/zz_generated.defaults.go
  pkg/apis/batch/v1beta1/zz_generated.defaults.go
  pkg/apis/batch/v2alpha1/zz_generated.defaults.go
  pkg/apis/core/fuzzer/fuzzer.go
  pkg/apis/core/v1/defaults.go
  pkg/apis/core/v1/defaults_test.go
  pkg/apis/core/v1/zz_generated.defaults.go
  pkg/apis/extensions/v1beta1/zz_generated.defaults.go
  staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go
Due: none

kubelet: add unit tests for imagePullSecrets keyring
  pkg/credentialprovider/secrets/BUILD
  pkg/credentialprovider/secrets/secrets_test.go
Due: none

Use pager's context instead of TODO
  pkg/controller/cronjob/cronjob_controller.go
Due: none

replace sha1 with sha512
  cluster/gce/config-default.sh
  cluster/gce/config-test.sh
  cluster/gce/gci/configure.sh
  cluster/gce/gci/mounter/stage-upload.sh
  cluster/gce/util.sh
  cluster/gce/windows/common.psm1
  cluster/gce/windows/k8s-node-setup.psm1
  cluster/get-kube-binaries.sh
Due: none

Remove unmaintained stackdriver logging e2e test
  test/e2e/instrumentation/logging/BUILD
  test/e2e/instrumentation/logging/imports.go
  test/e2e/instrumentation/logging/stackdriver/BUILD
  test/e2e/instrumentation/logging/stackdriver/basic.go
  test/e2e/instrumentation/logging/stackdriver/soak.go
  test/e2e/instrumentation/logging/stackdriver/utils.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Fix typo & documentation on kustomize.md
  staging/src/k8s.io/kubectl/docs/book/pages/reference/kustomize.md
Due: none

Remove dependency on behaviors for conformance generation
  test/conformance/testdata/conformance.yaml
  test/conformance/walk.go
  test/conformance/walk_test.go
  test/e2e/common/pods.go
  test/e2e/node/pods.go
Due: pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

Remove kubeconform
  test/conformance/BUILD
  test/conformance/kubeconform/.gitignore
  test/conformance/kubeconform/BUILD
  test/conformance/kubeconform/README.md
  test/conformance/kubeconform/gen.go
  test/conformance/kubeconform/kubeconform.go
  test/conformance/kubeconform/link.go
Due: pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

Update dependencies
  go.mod
  vendor/modules.txt
Due: none

e2e tests must consider duplicate endpoint slices
  test/e2e/network/endpointslice.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Update bazel
  test/conformance/BUILD
Due: pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

Move resources de-allocation logic for Service into AfterDeleteFunc
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/service/storage/BUILD
  pkg/registry/core/service/storage/rest.go
  pkg/registry/core/service/storage/rest_test.go
  pkg/registry/core/service/storage/storage.go
  pkg/registry/core/service/storage/storage_test.go
Due: none

Use slow timeout for some volume tests running on Windows
  test/e2e/framework/pod/create.go
  test/e2e/framework/util.go
  test/e2e/framework/volume/fixtures.go
  test/e2e/storage/testsuites/provisioning.go
  test/e2e/storage/testsuites/subpath.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

Updated vendor by `hack/update-vendor.sh`
  vendor/BUILD
  vendor/google.golang.org/api/logging/v2beta1/BUILD
  vendor/google.golang.org/api/logging/v2beta1/logging-api.json
  vendor/google.golang.org/api/logging/v2beta1/logging-gen.go
  vendor/google.golang.org/api/pubsub/v1/BUILD
  vendor/google.golang.org/api/pubsub/v1/pubsub-api.json
  vendor/google.golang.org/api/pubsub/v1/pubsub-gen.go
  vendor/modules.txt
Due: none

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-test-images: any of: ^test\/images\/
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/
