Repository kubernetes/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: post-kubernetes-push-image-debian-base, post-kubernetes-push-image-debian-iptables, post-kubernetes-push-image-go-runner, post-kubernetes-push-e2e-test-images, pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows, pull-kubernetes-e2e-aks-engine-azure, pull-kubernetes-e2e-azure-disk, pull-kubernetes-e2e-azure-disk-vmss, pull-kubernetes-e2e-azure-file, pull-kubernetes-e2e-gce-alpha-features, pull-kubernetes-e2e-gci-gce-ipvs, pull-kubernetes-cross, pull-kubernetes-conformance-image-test, pull-kubernetes-conformance-kind-ipv6-parallel

Path conditions:
  post-kubernetes-push-image-debian-base: any of: ^build\/debian-base\/
  post-kubernetes-push-image-debian-iptables: any of: ^build\/debian-iptables\/
  post-kubernetes-push-image-go-runner: any of: ^build\/go-runner\/
  post-kubernetes-push-e2e-test-images: any of: ^test\/images\/
  pull-kubernetes-e2e-azure-disk-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-azure-file-windows: any of: azure.*\.go$|.*windows\.go$
  pull-kubernetes-e2e-aks-engine-azure: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk: any of: azure.*\.go
  pull-kubernetes-e2e-azure-disk-vmss: any of: azure.*\.go
  pull-kubernetes-e2e-azure-file: any of: azure.*\.go
  pull-kubernetes-e2e-gce-alpha-features: any of: ^.*feature.*\.go
  pull-kubernetes-e2e-gci-gce-ipvs: any of: ^pkg/.*/ipvs/
  pull-kubernetes-cross: any of: ^((build\/|hack\/lib\/).*)|(.*Makefile.*)$
  pull-kubernetes-conformance-image-test: any of: conformance
  pull-kubernetes-conformance-kind-ipv6-parallel: any of: ^test/

fix: remove unnecessary readlink check in IsLikelyNotMountPoint on Windows
  mount_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

Remove driver letter assignment during volume format
  mount_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

Fix mount_windows build error
  mount_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

Update doc.go to show k8s.io/utils
  doc.go
Due: none

Fix golint errors
  fake_mounter.go
  mount_helper_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

feature: implement Output method for FakeCmd
  safe_format_and_mount_test.go
Due: none

use xfs_repair to check and repair xfs filesystem
  mount_linux.go
  safe_format_and_mount_test.go
Due: none

Validate the existence of filesystem before attempting to mount it (linux)
  mount_linux.go
  safe_format_and_mount_test.go
Due: none

fix bad spelling
  mount.go
  mount_linux.go
Due: none

Introduce paramater for sensitive mount options.
  fake_mounter.go
  mount.go
  mount_linux.go
  mount_linux_test.go
  mount_test.go
  mount_unsupported.go
  mount_windows.go
  safe_format_and_mount_test.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

Switch to klog v2
  fake_mounter.go
  mount_helper_common.go
  mount_helper_windows.go
  mount_linux.go
  mount_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

Fix subPath mountpint check
  mount_helper_common.go
Due: none

Revert xfs_repair fix
  mount_linux.go
  safe_format_and_mount_test.go
Due: none

FormatAndMount unit test only checks for MountErrorValue now and closed gaps for some error values
  mount.go
  mount_linux.go
  safe_format_and_mount_test.go
Due: none

Add more detailed error output when disk formatting fails
  mount_linux.go
Due: none

Fix windows MountSensitive error
  mount_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

rename
  cmd/kube-apiserver/app/aggregator.go
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  cmd/kube-apiserver/app/server.go
  pkg/controlplane/controller.go
  pkg/controlplane/controller_test.go
  pkg/controlplane/doc.go
  pkg/controlplane/master.go
  pkg/controlplane/master_test.go
  test/integration/apiserver/apiserver_test.go
  test/integration/apiserver/apply/apply_test.go
  test/integration/apiserver/flowcontrol/concurrency_test.go
  test/integration/auth/dynamic_client_test.go
  test/integration/auth/rbac_test.go
  test/integration/etcd/server.go
  test/integration/examples/webhook_test.go
  test/integration/framework/master_utils.go
  test/integration/framework/test_server.go
  test/integration/master/synthetic_master_test.go
  test/integration/openshift/openshift_test.go
  test/integration/volumescheduling/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

fix doc file
  pkg/controlplane/doc.go
Due: none

remove --verbose_failures from .bazelrc
  build/root/.bazelrc
Due: pull-kubernetes-cross

moving files from k8s.io/util/mount into staging/src/k8s.io/mount-utils
  go.mod
  hack/.golint_failures
  staging/publishing/rules.yaml
  staging/repos_generated.bzl
  staging/src/BUILD
  staging/src/k8s.io/mount-utils/.github/PULL_REQUEST_TEMPLATE.md
  staging/src/k8s.io/mount-utils/BUILD
  staging/src/k8s.io/mount-utils/LICENSE
  staging/src/k8s.io/mount-utils/OWNERS
  staging/src/k8s.io/mount-utils/README.md
  staging/src/k8s.io/mount-utils/SECURITY_CONTACTS
  staging/src/k8s.io/mount-utils/code-of-conduct.md
  staging/src/k8s.io/mount-utils/doc.go
  staging/src/k8s.io/mount-utils/fake_mounter.go
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/mount-utils/mount.go
  staging/src/k8s.io/mount-utils/mount_helper_common.go
  staging/src/k8s.io/mount-utils/mount_helper_test.go
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
  staging/src/k8s.io/mount-utils/mount_helper_unix_test.go
  staging/src/k8s.io/mount-utils/mount_helper_windows.go
  staging/src/k8s.io/mount-utils/mount_helper_windows_test.go
  staging/src/k8s.io/mount-utils/mount_linux.go
  staging/src/k8s.io/mount-utils/mount_linux_test.go
  staging/src/k8s.io/mount-utils/mount_test.go
  staging/src/k8s.io/mount-utils/mount_unsupported.go
  staging/src/k8s.io/mount-utils/mount_windows.go
  staging/src/k8s.io/mount-utils/mount_windows_test.go
  staging/src/k8s.io/mount-utils/safe_format_and_mount_test.go
  vendor/k8s.io/mount-utils
  vendor/modules.txt
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

fix: return error with fewer mount options on Windows
  mount_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

chore: add more logging for mklink on Windows
  mount_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

fix: smb remount issue
  mount_windows.go
  mount_windows_test.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

update scripts
  cmd/kube-apiserver/app/BUILD
  cmd/kube-apiserver/app/options/BUILD
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/options/options_test.go
  cmd/kube-apiserver/app/server.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-proxy/app/server.go
  cmd/kubelet/app/options/options.go
  cmd/kubemark/hollow-node.go
  pkg/BUILD
  pkg/apis/core/validation/validation.go
  pkg/controlplane/BUILD
  pkg/controlplane/controller/clusterauthenticationtrust/BUILD
  pkg/controlplane/controller/crdregistration/BUILD
  pkg/controlplane/master.go
  pkg/controlplane/master_test.go
  pkg/controlplane/reconcilers/BUILD
  pkg/controlplane/storageversionhashdata/BUILD
  pkg/controlplane/tunneler/BUILD
  pkg/kubelet/apis/config/fuzzer/fuzzer.go
  pkg/kubelet/apis/config/v1beta1/defaults.go
  pkg/proxy/apis/config/v1alpha1/defaults.go
  pkg/registry/core/rest/storage_core.go
  test/integration/apiserver/BUILD
  test/integration/apiserver/apply/BUILD
  test/integration/apiserver/flowcontrol/BUILD
  test/integration/auth/BUILD
  test/integration/auth/dynamic_client_test.go
  test/integration/etcd/BUILD
  test/integration/examples/BUILD
  test/integration/framework/BUILD
  test/integration/framework/master_utils.go
  test/integration/master/BUILD
  test/integration/openshift/BUILD
  test/integration/volumescheduling/BUILD
  test/integration/volumescheduling/util.go
Due: pull-kubernetes-conformance-kind-ipv6-parallel

fix a few missed references
  hack/.golint_failures
  hack/verify-api-groups.sh
  staging/src/k8s.io/apiserver/pkg/endpoints/request/requestinfo.go
Due: none

Revert "Merge pull request #166 from jingxu97/May/drivename"
  mount_windows.go
Due: pull-kubernetes-e2e-azure-disk-windows, pull-kubernetes-e2e-azure-file-windows

partial
  pkg/controlplane/BUILD
  pkg/controlplane/OWNERS
  pkg/controlplane/client_util.go
  pkg/controlplane/controller.go
  pkg/controlplane/controller/clusterauthenticationtrust/BUILD
  pkg/controlplane/controller/clusterauthenticationtrust/cluster_authentication_trust_controller.go
  pkg/controlplane/controller/clusterauthenticationtrust/cluster_authentication_trust_controller_test.go
  pkg/controlplane/controller/crdregistration/BUILD
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
  pkg/controlplane/controller/crdregistration/crdregistration_controller_test.go
  pkg/controlplane/controller_test.go
  pkg/controlplane/doc.go
  pkg/controlplane/import_known_versions.go
  pkg/controlplane/import_known_versions_test.go
  pkg/controlplane/master.go
  pkg/controlplane/master_openapi_test.go
  pkg/controlplane/master_test.go
  pkg/controlplane/reconcilers/BUILD
  pkg/controlplane/reconcilers/doc.go
  pkg/controlplane/reconcilers/endpointsadapter.go
  pkg/controlplane/reconcilers/endpointsadapter_test.go
  pkg/controlplane/reconcilers/lease.go
  pkg/controlplane/reconcilers/lease_test.go
  pkg/controlplane/reconcilers/mastercount.go
  pkg/controlplane/reconcilers/none.go
  pkg/controlplane/reconcilers/reconcilers.go
  pkg/controlplane/services.go
  pkg/controlplane/storageversionhashdata/BUILD
  pkg/controlplane/storageversionhashdata/OWNERS
  pkg/controlplane/storageversionhashdata/data.go
  pkg/controlplane/tunneler/BUILD
  pkg/controlplane/tunneler/ssh.go
  pkg/controlplane/tunneler/ssh_test.go
Due: none

drain: eviction creates in a deleting namespace will throw a forbidden error
  staging/src/k8s.io/kubectl/pkg/drain/drain.go
Due: none

Fixed error string should not be capitalized
  pkg/volume/hostpath/host_path.go
Due: none

fix staticcheck errors in resourcequota
  hack/.staticcheck_failures
  pkg/controller/resourcequota/resource_quota_controller_test.go
Due: none

proxy/userspace: clean up and consolidate testcase setup
  pkg/proxy/userspace/proxier_test.go
Due: none

Fixed potential nil dereference in hostpath unit test
  pkg/volume/hostpath/host_path_test.go
Due: none

kubeadm: Fix `upgrade plan` for air-gapped setups
  cmd/kubeadm/app/cmd/upgrade/common.go
Due: none

fix typos in cmd/kubeadm
  cmd/kubeadm/app/util/initsystem/initsystem_unix.go
Due: none

Handle eviction of pods in deleted namespace
  staging/src/k8s.io/kubectl/pkg/drain/drain.go
Due: none

proxy/userspace: use waitgroups instead of sketchy atomic ops in testcases
  pkg/proxy/userspace/proxier.go
  pkg/proxy/userspace/proxier_test.go
Due: none

Added support for register-with-taints setting #93608
  cmd/kubemark/BUILD
  cmd/kubemark/hollow-node.go
  pkg/kubemark/BUILD
  pkg/kubemark/hollow_kubelet.go
Due: none

Add exp backoff for connection refused errors
  staging/src/k8s.io/client-go/tools/cache/reflector.go
  staging/src/k8s.io/client-go/tools/cache/reflector_test.go
Due: none
