Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

Path conditions:
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$

Clean up steps in density test config
  clusterloader2/testing/density/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

perfdash/parser.go: remove unused throughput fields
  perfdash/parser.go
Due: none

fix deployment template variable & fix ds to tolerate
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/daemonset.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Increase page size to 5000 in slo-monitor
  slo-monitor/Makefile
  slo-monitor/src/monitors/pod_monitor.go
Due: none

chore: remove travis ci badge
  README.md
Due: none

feat: Add errcheck linter with golangci-lint
  .golangci.yml
  benchmark/pkg/comparer/comparer.go
  benchmark/pkg/metricsfetcher/runselector/selector.go
  benchmark/pkg/metricsfetcher/util/mock_util.go
  benchmark/pkg/metricsfetcher/util/util.go
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/config/template_provider.go
  clusterloader2/pkg/measurement/common/service_creation_latency.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/provider/util.go
  clusterloader2/pkg/tuningset/global_qps_load.go
  network/benchmarks/netperf/launch.go
  network/benchmarks/netperf/nptest/nptest.go
  perfdash/metrics-downloader-helper.go
  perfdash/metrics-downloader.go
  perfdash/perfdash.go
  slo-monitor/src/monitors/store.go
  slo-monitor/src/monitors/watcher.go
  util-images/access-tokens/cmd/main.go
  util-images/probes/pkg/ping/server/server.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

feat: add deadcode linter in golangci-lint
  .golangci.yml
  compare/src/compare-resources.go
  network/benchmarks/netperf/launch.go
  perfdash/config.go
Due: none

feat: enable govet in golangci-lint
  .golangci.yml
  clusterloader2/api/types.go
  clusterloader2/pkg/measurement/util/resource.go
  clusterloader2/pkg/prometheus/util.go
  slo-monitor/src/monitors/store.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

feat: migrate benchmark package to golang modules
  benchmark/Godeps/Godeps.json
  benchmark/Godeps/Readme
  benchmark/go.mod
  benchmark/go.sum
  benchmark/vendor/github.com/aclements/go-moremath/mathx/package.go
  benchmark/vendor/github.com/dgryski/go-onlinestats/dea.go
  benchmark/vendor/github.com/dgryski/go-onlinestats/stats.go
  benchmark/vendor/github.com/dgryski/go-onlinestats/utest.go
  benchmark/vendor/github.com/golang/glog/README
  benchmark/vendor/github.com/golang/glog/glog.go
  benchmark/vendor/github.com/spf13/pflag/.gitignore
  benchmark/vendor/github.com/spf13/pflag/.travis.yml
  benchmark/vendor/github.com/spf13/pflag/README.md
  benchmark/vendor/github.com/spf13/pflag/bool_slice.go
  benchmark/vendor/github.com/spf13/pflag/bytes.go
  benchmark/vendor/github.com/spf13/pflag/count.go
  benchmark/vendor/github.com/spf13/pflag/duration_slice.go
  benchmark/vendor/github.com/spf13/pflag/flag.go
  benchmark/vendor/github.com/spf13/pflag/golangflag.go
  benchmark/vendor/github.com/spf13/pflag/int16.go
  benchmark/vendor/github.com/spf13/pflag/ip.go
  benchmark/vendor/github.com/spf13/pflag/ip_slice.go
  benchmark/vendor/github.com/spf13/pflag/ipnet.go
  benchmark/vendor/github.com/spf13/pflag/string_array.go
  benchmark/vendor/github.com/spf13/pflag/string_slice.go
  benchmark/vendor/github.com/spf13/pflag/uint_slice.go
  benchmark/vendor/k8s.io/kubernetes/test/e2e/perftype/BUILD
  benchmark/vendor/modules.txt
Due: none

Increase page size in slo-monitor to 5000 (attempt #2).
  slo-monitor/Makefile
  slo-monitor/src/monitors/pod_monitor.go
  slo-monitor/src/monitors/watcher.go
  slo-monitor/src/third_party/forked/k8s.io/client-go/tools/cache/controller.go
Due: none

Exclude proxy subresource from API responsiveness
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix benchmark Makefile after migration to go modules
  benchmark/Makefile
Due: none

Use kubernetes.io/os instead of beta
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-deployment.yaml
  clusterloader2/pkg/prometheus/manifests/grafana-deployment.yaml
  clusterloader2/pkg/prometheus/manifests/prometheus-prometheus.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Network benchmark: add ImagePullPolicy flag
  network/benchmarks/netperf/launch.go
Due: none

Use 5000 page size in OOMTracker
  clusterloader2/pkg/measurement/common/ooms_tracker.go
  clusterloader2/pkg/measurement/common/store.go
  clusterloader2/pkg/third_party/forked/k8s.io/client-go/tools/cache/controller.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

feat: add github issue and pull requests templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/failing-test.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Pin python and pip to v2 version
  dns/run
Due: none

Add a test config for "max pods per service" test
  clusterloader2/testing/service-size/config.yaml
  clusterloader2/testing/service-size/deployment.yaml
  clusterloader2/testing/service-size/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add a test config for "max pods per service" test
  clusterloader2/testing/service-size/config.yaml
  clusterloader2/testing/service-size/deployment-readiness.yaml
  clusterloader2/testing/service-size/deployment.yaml
  clusterloader2/testing/service-size/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

perfdash: add scheduler throughput/latency labels
  perfdash/config.go
  perfdash/parser.go
Due: none

bump perfdash to 2.26
  perfdash/Makefile
  perfdash/deployment.yaml
Due: none

WIP
  clusterloader2/pkg/measurement/common/exec.go
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Initial commit to test failures
  dns/run
Due: none

cl2/density: add pod-affinty workload to scheduler suite
  clusterloader2/testing/density/scheduler-suite.yaml
  clusterloader2/testing/density/scheduler/pod-affinity/deployment.yaml
  clusterloader2/testing/density/scheduler/pod-affinity/overrides.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

cl2/density: add vanilla workload to scheduler suite
  clusterloader2/testing/density/scheduler-suite.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

cl2/density: add pod topology spread workload to scheduler suite
  clusterloader2/testing/density/scheduler-suite.yaml
  clusterloader2/testing/density/scheduler/pod-topology-spread/deployment.yaml
  clusterloader2/testing/density/scheduler/pod-topology-spread/overrides.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

cl2/density: make MIN_LATENCY_PODS configurable
  clusterloader2/testing/density/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

WIP modify experimental test suite
  clusterloader2/testing/experimental/storage/pod-startup/suite.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Generate names for unnamed steps in clusterloader2
  clusterloader2/pkg/test/simple_test_executor.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

WIP Bump timeout for the linter test job
  .golangci.yml
  verify/verify-lint.sh
Due: none

perfdash: add pod-affinity, pod-topology-spread workloads
  perfdash/Makefile
  perfdash/config.go
  perfdash/deployment.yaml
Due: none

Introduce SchedulerInsecurePortDisabled
  clusterloader2/pkg/measurement/common/scheduler_latency.go
  clusterloader2/pkg/provider/provider.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add per step reporting in CL2
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/test/interface.go
  clusterloader2/pkg/test/simple_context.go
  clusterloader2/pkg/test/simple_reporter.go
  clusterloader2/pkg/test/simple_test_executor.go
  clusterloader2/pkg/test/test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Append ordinal numbers to test steps names
  clusterloader2/pkg/test/simple_test_executor.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix memory usage when listing pods/events
  slo-monitor/Makefile
  slo-monitor/src/monitors/pod_monitor.go
  slo-monitor/src/monitors/watcher.go
Due: none

Slo-monitor cleanup
  slo-monitor/Makefile
  slo-monitor/src/monitors/watcher.go
  slo-monitor/src/third_party/forked/k8s.io/client-go/tools/cache/controller.go
Due: none

Allow per-job path override for clusterloader2 results dir
  perfdash/config.go
  perfdash/metrics-downloader.go
Due: none

Collect resource usage from non-joined master nodes over SSH
  clusterloader2/go.mod
  clusterloader2/pkg/measurement/common/resource_usage.go
  clusterloader2/pkg/measurement/util/gatherers/container_resource_gatherer.go
  clusterloader2/pkg/measurement/util/gatherers/container_resource_gatherer_test.go
  clusterloader2/pkg/measurement/util/gatherers/resource_gather_worker.go
  clusterloader2/pkg/measurement/util/kubelet/kubelet.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark
