Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

pull-perf-tests-clusterloader2:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-e2e-scalability-common: 'true'
    preset-e2e-scalability-containerd: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
  ...

pull-perf-tests-clusterloader2-kubemark:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-kubemark-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
  ...

pull-perf-tests-util-images:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20200430-be2a8a9
      args:
      - --root=/go/src
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --timeout=60
      - --scenario=execute
      - --
  ...

pull-perf-tests-verify-dashboard:
  optional: true
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - make
      args:
      - verify-dashboard

Code optimization and fixed issues
  clusterloader2/pkg/measurement/common/network/controller.go
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
  clusterloader2/pkg/measurement/common/network/types.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

clean up
  util-images/network/netperfbenchmark/api/types.go
  util-images/network/netperfbenchmark/cmd/main.go
  util-images/network/netperfbenchmark/pkg/controller/controller.go
  util-images/network/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

using constants
  util-images/network/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

using constants
  clusterloader2/pkg/measurement/common/network/controller.go
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
  util-images/network/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Fixing review comments
  clusterloader2/pkg/measurement/common/network/controller.go
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add Golang job script printing Golang repo commit hash
  golang/run-e2e.sh
Due: none

Rename WAIT_AFTER_EXEC_DURATION to SLEEP_AFTER_EXEC_DURATION in load test
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add resource scope to api call latency to show anything
  clusterloader2/pkg/prometheus/manifests/dashboards/dns.json
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.dashboard.py
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.json
  clusterloader2/pkg/prometheus/manifests/dashboards/network.json
  clusterloader2/pkg/prometheus/manifests/dashboards/requirements.txt
  clusterloader2/pkg/prometheus/manifests/dashboards/slo.json
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-verify-dashboard

Add OWNERS file to golang subdirectory
  golang/OWNERS
Due: none

Allow to wait and exit after command execution
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

replaced channel for result with slice
  util-images/network/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

Fixing minor space issue
  clusterloader2/pkg/measurement/common/network/controller.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

removing unused var
  util-images/network/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

Adding makefile for build and push
  util-images/network/netperfbenchmark/Makefile
Due: pull-perf-tests-util-images

Replace references to old topology labels with the new ones
  clusterloader2/pkg/prometheus/experimental.go
  clusterloader2/pkg/util/ssh.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Sleep after latency pods
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

WIP: clusterloader2: switch to kube-scheduler secure port
  clusterloader2/pkg/measurement/common/scheduler_latency.go
  clusterloader2/pkg/prometheus/manifests/master-ip/master-endpoints.yaml
  clusterloader2/pkg/prometheus/manifests/master-ip/master-service.yaml
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
  clusterloader2/pkg/provider/util.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fixing issue with single digit duration for tcp measurement
  util-images/network/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

initialization and Closing channel
  clusterloader2/pkg/measurement/common/network/controller.go
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

removing unwanted folders
  util-images/phases/go.mod
  util-images/phases/netperfbenchmark/go.mod
  util-images/phasetest/Dockerfile
  util-images/phasetest/cmd/main.go
  util-images/phasetest/go.mod
Due: pull-perf-tests-util-images

Parametrize latency pod cpu and memory requests in load test
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

WIP
  clusterloader2/pkg/framework/config/client_config.go
  clusterloader2/pkg/measurement/common/scheduler_latency.go
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
  clusterloader2/pkg/prometheus/util.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Revert "Replace references to old topology labels with the new ones"
  clusterloader2/pkg/prometheus/experimental.go
  clusterloader2/pkg/util/ssh.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Define resource tracking mode based on cluster size
  clusterloader2/pkg/measurement/common/resource_usage.go
  clusterloader2/pkg/measurement/util/gatherers/container_resource_gatherer.go
  clusterloader2/testing/access-tokens/config.yaml
  clusterloader2/testing/density/config.yaml
  clusterloader2/testing/density/high-density-config.yaml
  clusterloader2/testing/experimental/storage/pod-startup/config.yaml
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Allow to disable APIResponsivenessPrometheusSimple violations
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Run a DNS workload as part of load tests.
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update configmap in load test for preparation to DNS tests
  clusterloader2/testing/load/configmap.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Move the sleep command to a separate step
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

DO NOT MERGE
  clusterloader2/pkg/prometheus/manifests/default/prometheus-serviceMonitorDNSPods.yaml
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/deployment.yaml
  clusterloader2/testing/load/service2.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add cluster roles to prometheus
  clusterloader2/pkg/prometheus/manifests/0prometheus-operator-clusterRole.yaml
  clusterloader2/pkg/prometheus/manifests/prometheus-clusterRole.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Change to pod monitor
  clusterloader2/pkg/prometheus/manifests/default/prometheus-serviceMonitorDNSPods.yaml
  clusterloader2/testing/load/service2.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Path conditions:
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
