Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

Path conditions:
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$

Config changes to add SLOMeasurement- initial commit
  clusterloader2/pkg/measurement/common/slos/slo_measurement.go
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Decouple deletion test throughput from load test throughput.
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

clusterloader2: -provider is required
  clusterloader2/README.md
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

support for udp tcp http
  util-images/phases/netperfbenchmark/api/types.go
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

commenting test code
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

cl2/density: make MIN_LATENCY_PODS configurable
  clusterloader2/testing/density/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

iperf returning aggregated metrics
  util-images/phases/netperfbenchmark/api/types.go
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

Always count slow queries
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix SlowCount calculations
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add custom thresholds mechanism in APIResponsivenessPrometheus measurement
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/golang/custom_api_call_thresholds.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

parsing and aggregating metric for iperf and siege
  util-images/phases/netperfbenchmark/api/types.go
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

remove commented lines
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

created DockerFile for compile and run benchmark
  util-images/phases/netperfbenchmark/Dockerfile
  util-images/phases/netperfbenchmark/go.mod
Due: pull-perf-tests-util-images

Dockerfile modified for reducing image size
  util-images/phases/netperfbenchmark/Dockerfile
Due: pull-perf-tests-util-images

Turn on alerting in load test when pod latency is above 5s or scheduling throughput below 100
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

change for TCP with iperf and yaml files for clusterloader
  clusterloader2/testing/network/controller-deployment.yaml
  clusterloader2/testing/network/controller-service.yaml
  clusterloader2/testing/network/worker-deployment.yaml
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

clusterloader2 test case for netperf and change to pass controller host through commandline
  clusterloader2/testing/network/config.yaml
  clusterloader2/testing/network/controller-deployment.yaml
  clusterloader2/testing/network/controller-service.yaml
  clusterloader2/testing/network/worker-deployment.yaml
  util-images/phases/netperfbenchmark/api/types.go
  util-images/phases/netperfbenchmark/cmd/main.go
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Add overrides and SchedulingThroughputPrometheus to SLOMeasurement
  clusterloader2/pkg/measurement/common/slos/slo_measurement.go
  clusterloader2/pkg/measurement/common/slos/slo_measurement_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

storage/pod-startup: name all steps
  clusterloader2/testing/experimental/storage/pod-startup/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Adding new measurement to clusterloader2
  clusterloader2/pkg/measurement/common/network_performance_measurement.go
  clusterloader2/testing/network/config.yaml
  clusterloader2/testing/network/controller-service.yaml
  util-images/phases/netperfbenchmark/pkg/controller/controller.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

[WIP] DO NOT SUBMIT
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Adding new measurement to clusterloader2
  clusterloader2/pkg/measurement/common/network_performance_measurement.go
  clusterloader2/testing/network/config.yaml
  clusterloader2/testing/network/controller-service.yaml
  util-images/phases/netperfbenchmark/pkg/controller/controller.go
  util-images/phasetest/cmd/main.go
  util-images/phasetest/go.mod
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

using port report by node instead of from config
  clusterloader2/pkg/measurement/util/gatherers/container_resource_gatherer.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add CL2_PROMETHEUS_SLOW_APISERVER
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Supporting netperf metrics in perfdash and Perf dash display from local build
  clusterloader2/pkg/measurement/common/network_performance_measurement.go
  clusterloader2/testing/network/config.yaml
  perfdash/config.go
  perfdash/metrics-downloader.go
  perfdash/perfdash.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Disable endpoints
  clusterloader2/testing/load/service.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

modifying testcase to include delay between controller and worker
  clusterloader2/testing/network/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

modifying testcase to include delay between controller and worker
  clusterloader2/testing/network/config.yaml
  util-images/phases/netperfbenchmark/pkg/controller/controller.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Force Delete Pods on Timeout Initial Commit
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add wait 10h after master upgrade
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Increase timeout for prometheus scraping
  clusterloader2/pkg/prometheus/manifests/master-ip/master-serviceMonitor.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add override for master upgrade - zone cluster
  clusterloader2/testing/load/experimental/overrides/enable_master_upgrade_zone.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Reduce wait to 1h and remove following steps
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

WIP add leaking deployment
  clusterloader2/pkg/prometheus/manifests/leaker-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Adding duration
  clusterloader2/testing/network/controller-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark
