Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

pull-perf-tests-clusterloader2:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-e2e-scalability-common: 'true'
    preset-e2e-scalability-containerd: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
  ...

pull-perf-tests-clusterloader2-kubemark:
  labels:
    preset-service-account: 'true'
    preset-k8s-ssh: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-dind-enabled: 'true'
    preset-e2e-kubemark-common: 'true'
    preset-e2e-scalability-presubmits: 'true'
  spec:
    containers:
    - args:
      - --root=/go/src
  ...

pull-perf-tests-util-images:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20200430-be2a8a9
      args:
      - --root=/go/src
      - --repo=k8s.io/$(REPO_NAME)=$(PULL_REFS)
      - --timeout=60
      - --scenario=execute
      - --
  ...

pull-perf-tests-verify-dashboard:
  optional: true
  decorate: true
  spec:
    containers:
    - image: python:3.7
      command:
      - make
      args:
      - verify-dashboard

Adding external dependencies
  util-images/phases/go.mod
Due: pull-perf-tests-util-images

Adding external dependencies
  util-images/phases/go.mod
  util-images/phases/netperfbenchmark/Dockerfile
  util-images/phases/netperfbenchmark/api/types.go
  util-images/phases/netperfbenchmark/cmd/main.go
  util-images/phases/netperfbenchmark/pkg/controller/controller.go
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

Adding Metric in api
  util-images/phases/netperfbenchmark/api/types.go
Due: pull-perf-tests-util-images

Fix cpu requests in density part of load test
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Mark 'verify-all' as deprecated, but leave it to make pass existing PRs
  Makefile
Due: none

resolve compilation error
  util-images/phases/netperfbenchmark/api/types.go
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

fixed rp register
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

fixed rpc register
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

Test commit do not submit
  clusterloader2/cmd/clusterloader.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add mborsz to perfdash/OWNERS and remove oxddr
  perfdash/OWNERS
Due: none

perfdash: process all testDescriptions within a category
  perfdash/Makefile
  perfdash/deployment.yaml
  perfdash/metrics-downloader.go
Due: none

New SchedulingThroughput metric based on Prometheus metric.
  clusterloader2/pkg/measurement/common/scheduling_throughput_prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

cl2/density: add vanilla workload to scheduler suite
  clusterloader2/testing/density/scheduler-suite.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

cl2/density: add pod-affinty workload to scheduler suite
  clusterloader2/testing/density/scheduler-suite.yaml
  clusterloader2/testing/density/scheduler/pod-affinity/deployment.yaml
  clusterloader2/testing/density/scheduler/pod-affinity/overrides.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

cl2/density: add pod-pod anti-affinity benchmarks
  clusterloader2/testing/density/config.yaml
  clusterloader2/testing/density/high-density-config.yaml
  clusterloader2/testing/density/scheduler-suite.yaml
  clusterloader2/testing/density/scheduler/pod-anti-affinity/deployment.yaml
  clusterloader2/testing/density/scheduler/pod-anti-affinity/overrides.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Clean up steps in density test config
  clusterloader2/testing/density/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

cl2/density: add pod topology spread workload to scheduler suite
  clusterloader2/testing/density/scheduler-suite.yaml
  clusterloader2/testing/density/scheduler/pod-topology-spread/deployment.yaml
  clusterloader2/testing/density/scheduler/pod-topology-spread/overrides.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

cl2/density: make MIN_LATENCY_PODS configurable
  clusterloader2/testing/density/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

cl2/density: add pod-pod anti-affinity benchmarks
  clusterloader2/testing/density/config.yaml
  clusterloader2/testing/density/scheduler-suite.yaml
  clusterloader2/testing/density/scheduler/pod-anti-affinity/deployment.yaml
  clusterloader2/testing/density/scheduler/pod-anti-affinity/overrides.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Removing network programming latency from slo measurement
  clusterloader2/pkg/measurement/common/slos/slo_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

correcting http service listener
  util-images/phases/netperfbenchmark/api/types.go
  util-images/phases/netperfbenchmark/cmd/main.go
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

uncommenting register
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

Fix scheduling throughput/latency for load test in perf dash and add max to scheduling throughput
  perfdash/Makefile
  perfdash/config.go
  perfdash/deployment.yaml
  perfdash/parser.go
Due: none

support for udp
  util-images/phases/netperfbenchmark/api/types.go
  util-images/phases/netperfbenchmark/cmd/main.go
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

Path conditions:
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$
