Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

Path conditions:
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$

Parse envs first as numbers before parsing them as booleans
  clusterloader2/pkg/config/template_provider.go
  clusterloader2/pkg/config/template_provider_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

[ClusterLoader2] Add information about environment variables to readme
  clusterloader2/README.md
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Unpack the string values from the CL2_.* envs
  clusterloader2/pkg/config/template_provider.go
  clusterloader2/pkg/config/template_provider_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Enable slow API calls allowance in 1.17 tests
  clusterloader2/testing/density/config.yaml
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Regenerate master dashboard
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.json
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-verify-dashboard

use provider across clusterloader2.
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/chaos/monkey.go
  clusterloader2/pkg/chaos/nodes.go
  clusterloader2/pkg/config/cluster.go
  clusterloader2/pkg/framework/framework.go
  clusterloader2/pkg/imagepreload/imagepreload.go
  clusterloader2/pkg/measurement/common/etcd_metrics.go
  clusterloader2/pkg/measurement/common/metrics_for_e2e.go
  clusterloader2/pkg/measurement/common/probes/probes.go
  clusterloader2/pkg/measurement/common/profile.go
  clusterloader2/pkg/measurement/common/resource_usage.go
  clusterloader2/pkg/measurement/common/scheduler_latency.go
  clusterloader2/pkg/measurement/common/slos/network_programming.go
  clusterloader2/pkg/measurement/interface.go
  clusterloader2/pkg/measurement/util/gatherers/container_resource_gatherer.go
  clusterloader2/pkg/measurement/util/gatherers/resource_gather_worker.go
  clusterloader2/pkg/measurement/util/kubemark/kubemark.go
  clusterloader2/pkg/measurement/util/ssh.go
  clusterloader2/pkg/prometheus/experimental.go
  clusterloader2/pkg/prometheus/gce_windows_util.go
  clusterloader2/pkg/prometheus/prometheus.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Make schedulerThroughput measurement SLO violation failing a test customizable
  clusterloader2/pkg/measurement/common/scheduling_throughput.go
  clusterloader2/testing/density/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix errors from linter in release-1.19
  perfdash/metrics-downloader.go
  perfdash/perfdash.go
Due: none

Set the verbosity level in the info logs
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/chaos/nodes.go
  clusterloader2/pkg/execservice/exec_service.go
  clusterloader2/pkg/framework/framework.go
  clusterloader2/pkg/imagepreload/imagepreload.go
  clusterloader2/pkg/measurement/common/etcd_metrics.go
  clusterloader2/pkg/measurement/common/exec.go
  clusterloader2/pkg/measurement/common/ooms_tracker.go
  clusterloader2/pkg/measurement/common/probes/probes.go
  clusterloader2/pkg/measurement/common/profile.go
  clusterloader2/pkg/measurement/common/resource_usage.go
  clusterloader2/pkg/measurement/common/scheduler_latency.go
  clusterloader2/pkg/measurement/common/scheduling_throughput.go
  clusterloader2/pkg/measurement/common/service_creation_latency.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
  clusterloader2/pkg/measurement/common/slos/network_programming.go
  clusterloader2/pkg/measurement/common/slos/pod_startup_latency.go
  clusterloader2/pkg/measurement/common/slos/prometheus_measurement.go
  clusterloader2/pkg/measurement/common/system_pod_metrics.go
  clusterloader2/pkg/measurement/common/timer.go
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/measurement/util/gatherers/container_resource_gatherer.go
  clusterloader2/pkg/measurement/util/phase_latency.go
  clusterloader2/pkg/measurement/util/prometheus.go
  clusterloader2/pkg/measurement/util/wait_for_pods.go
  clusterloader2/pkg/modifier/modifier.go
  clusterloader2/pkg/prometheus/experimental.go
  clusterloader2/pkg/prometheus/gce_windows_util.go
  clusterloader2/pkg/prometheus/prometheus.go
  clusterloader2/pkg/prometheus/util.go
  clusterloader2/pkg/test/simple_test_executor.go
  clusterloader2/pkg/util/ssh.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add SECURITY.md
  SECURITY.md
Due: none

Initial commit - Making wrapper measurement changes for WaitForControlledPodsRunning
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add AWS S3 functionality for perfdash
  perfdash/Makefile
  perfdash/gcs_metrics_bucket.go
  perfdash/go.mod
  perfdash/go.sum
  perfdash/metrics-downloader.go
  perfdash/perfdash.go
  perfdash/s3_metrics_bucket.go
Due: none

fix typos
  clusterloader2/docs/design.md
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

* Fix typo in Github Bearer Token * Remove redundant check for ignoring non-yaml files in config.go
  perfdash/config.go
  perfdash/github-configs-fetcher.go
Due: none

Fix typo
  perfdash/README.md
Due: none

probers: log to file
  clusterloader2/pkg/measurement/common/probes/manifests/dnsLookup/dns-prober-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/ping-client-deployment.yaml
  clusterloader2/pkg/measurement/common/probes/manifests/ping-server-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update aws-sdk-go to version v1.34.4
  perfdash/go.mod
  perfdash/go.sum
Due: none

set nullPointMode to null as default
  clusterloader2/pkg/prometheus/manifests/dashboards/defaults.py
  clusterloader2/pkg/prometheus/manifests/dashboards/dns.json
  clusterloader2/pkg/prometheus/manifests/dashboards/master-dashboard.json
  clusterloader2/pkg/prometheus/manifests/dashboards/network.json
  clusterloader2/pkg/prometheus/manifests/dashboards/slo.json
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-verify-dashboard

Api availability measurement initial commit
  clusterloader2/pkg/measurement/common/api_availability_measurement.go
  clusterloader2/pkg/measurement/common/api_availability_metrics.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Always count slow queries
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix SlowCount calculations
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus.go
  clusterloader2/pkg/measurement/common/slos/api_responsiveness_prometheus_test.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

cl2/scheduler_latency: add PostFilter extension point
  clusterloader2/pkg/measurement/common/scheduler_latency.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add countErrorMargin to WaitForControlledPods
  clusterloader2/pkg/measurement/common/wait_for_controlled_pods.go
  clusterloader2/pkg/measurement/util/wait_for_pods.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

add etcdHost
  clusterloader2/pkg/measurement/common/etcd_metrics.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

add etcdHost
  clusterloader2/pkg/measurement/common/etcd_metrics.go
  go.mod
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Delete go.mod
  go.mod
Due: none

cl2/density: add pod-pod anti-affinity benchmarks
  clusterloader2/testing/density/config.yaml
  clusterloader2/testing/density/high-density-config.yaml
  clusterloader2/testing/density/scheduler-suite.yaml
  clusterloader2/testing/density/scheduler/pod-anti-affinity/deployment.yaml
  clusterloader2/testing/density/scheduler/pod-anti-affinity/overrides.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update template_functions.go
  clusterloader2/pkg/config/template_functions.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fix namespace num method
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

[ClusterLoader2] Enable custom timeouts for probes
  clusterloader2/pkg/measurement/common/probes/probes.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

fix curl with cacert
  clusterloader2/pkg/measurement/common/etcd_metrics.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add configurable timeout for probes in configs
  clusterloader2/testing/density/config.yaml
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add configurable timeout for probes in configs
  clusterloader2/testing/density/config.yaml
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/experimental-config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark
