Repository kubernetes/perf-tests: changes, and which Prow jobs are due for each by the changed paths.
All: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images, pull-perf-tests-verify-dashboard

Path conditions:
  pull-perf-tests-clusterloader2: any of: ^clusterloader2/.*$
  pull-perf-tests-clusterloader2-kubemark: any of: ^clusterloader2/.*$
  pull-perf-tests-util-images: any of: ^util-images/.*$
  pull-perf-tests-verify-dashboard: any of: ^clusterloader2/pkg/prometheus/manifests/dashboards/.*\.json$

Fixes related to metric aggregation
  util-images/phases/netperfbenchmark/pkg/controller/controller.go
Due: pull-perf-tests-util-images

support timestamp based worker scheduling and some minor modification
  clusterloader2/testing/network/config_nm.yaml
  clusterloader2/testing/network/worker-deployment.yaml
  util-images/phases/netperfbenchmark/cmd/main.go
  util-images/phases/netperfbenchmark/pkg/controller/controller.go
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

new logs and testcase modifications
  clusterloader2/testing/network/config.yaml
  clusterloader2/testing/network/config_nm.yaml
  util-images/phases/netperfbenchmark/api/types.go
  util-images/phases/netperfbenchmark/pkg/controller/controller.go
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Initial changes for measurement design
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

yaml files moved to manifest folder
  clusterloader2/pkg/measurement/common/network/manifests/controller-deployment.yaml
  clusterloader2/pkg/measurement/common/network/manifests/controller-service.yaml
  clusterloader2/pkg/measurement/common/network/manifests/worker-deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

adding controller logic in measurement
  clusterloader2/pkg/measurement/common/network/controller.go
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
  clusterloader2/pkg/measurement/common/network/types.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add density test to load test
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Rename PodStartupLatency to CreatePhasePodStartupLatency in load test
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix cpu requests in density part of load test
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Add SchedulingThroughputPrometheus to perfdash
  perfdash/Makefile
  perfdash/config.go
  perfdash/deployment.yaml
Due: none

New folder for docker image and source code
  util-images/network/go.mod
  util-images/network/netperfbenchmark/Dockerfile
  util-images/network/netperfbenchmark/api/types.go
  util-images/network/netperfbenchmark/cmd/main.go
  util-images/network/netperfbenchmark/go.mod
  util-images/network/netperfbenchmark/pkg/controller/controller.go
  util-images/network/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-util-images

adding controller logic in measurement
  clusterloader2/cmd/clusterloader.go
  clusterloader2/pkg/measurement/common/network/controller.go
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
  clusterloader2/pkg/measurement/common/network/types.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

communication to podIP's using REST with k8s client go
  clusterloader2/pkg/measurement/common/network/controller.go
  clusterloader2/pkg/measurement/common/network/types.go
  util-images/network/netperfbenchmark/api/types.go
  util-images/network/netperfbenchmark/cmd/main.go
  util-images/network/netperfbenchmark/pkg/controller/controller.go
  util-images/network/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

new set of changes
  clusterloader2/pkg/measurement/common/network/controller.go
  clusterloader2/pkg/measurement/common/network/manifests/controller-deployment.yaml
  clusterloader2/pkg/measurement/common/network/manifests/controller-service.yaml_1
  clusterloader2/pkg/measurement/common/network/manifests/worker-deployment.yaml
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
  clusterloader2/pkg/measurement/common/network/types.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Fix density in load
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Update configmap in load test for preparation to DNS tests
  clusterloader2/testing/load/configmap.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

controller changes
  clusterloader2/pkg/measurement/common/network/controller.go
  clusterloader2/pkg/measurement/common/network/manifests/worker-deployment.yaml
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
  clusterloader2/pkg/measurement/common/network/types.go
  util-images/network/go.mod
  util-images/network/netperfbenchmark/go.mod
  util-images/phases/go.mod
  util-images/phases/netperfbenchmark/go.mod
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Adding gather
  clusterloader2/pkg/measurement/common/network/controller.go
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
  clusterloader2/pkg/measurement/common/network/types.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

change method name
  clusterloader2/pkg/measurement/common/network/controller.go
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

bug fixes
  clusterloader2/pkg/measurement/common/network/controller.go
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
  util-images/network/netperfbenchmark/api/types.go
  util-images/network/netperfbenchmark/cmd/main.go
  util-images/network/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

Dispose implementation
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

perfdash: parse vanilla results correctly
  perfdash/Makefile
  perfdash/config.go
  perfdash/deployment.yaml
Due: none

Further enhancement
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
  clusterloader2/pkg/measurement/common/network/types.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

small fixes
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Remove unused prometheus api responsiveness param
  clusterloader2/testing/density/config.yaml
  clusterloader2/testing/density/high-density-config.yaml
  clusterloader2/testing/experiments/enable_prometheus_api_responsiveness.yaml
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Remove experimental load test config
  clusterloader2/testing/load/experimental-config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Enable OOM tracking by default
  clusterloader2/testing/density/config.yaml
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Enable restart count checking by default
  clusterloader2/testing/access-tokens/config.yaml
  clusterloader2/testing/density/config.yaml
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Run a DNS workload as part of load tests.
  clusterloader2/testing/load/config.yaml
  clusterloader2/testing/load/deployment.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

cleanup
  clusterloader2/testing/network/measconfig.yaml
  util-images/phases/go.sum
  util-images/phases/netperfbenchmark/Dockerfile
  util-images/phases/netperfbenchmark/api/types.go
  util-images/phases/netperfbenchmark/cmd/main.go
  util-images/phases/netperfbenchmark/pkg/controller/controller.go
  util-images/phases/netperfbenchmark/pkg/worker/worker.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

gather polling changes
  clusterloader2/pkg/measurement/common/network/controller.go
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

changed docker image to use alpine as base image
  clusterloader2/pkg/measurement/common/network/manifests/worker-deployment.yaml
  clusterloader2/testing/network/config.yaml
  clusterloader2/testing/network/measconfig.yaml
  util-images/network/netperfbenchmark/Dockerfile
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark, pull-perf-tests-util-images

[Remove density] Rework SchedulingThroughput
  clusterloader2/pkg/measurement/common/scheduling_throughput.go
  clusterloader2/testing/load/experimental-config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Allow to wait and exit after command execution
  clusterloader2/testing/load/config.yaml
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

Cleanup and coding guideline changes
  clusterloader2/pkg/measurement/common/network/controller.go
  clusterloader2/pkg/measurement/common/network/network_performance_measurement.go
  clusterloader2/pkg/measurement/common/network/types.go
Due: pull-perf-tests-clusterloader2, pull-perf-tests-clusterloader2-kubemark

[Golang CI jobs] Print most recent Golang tip commits
  golang/build-go.sh
Due: none
