Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

kubeflow-pipelines-sdk-python35:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.5
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-component-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-component-containers.sh

kubeflow-pipelines-backend-visualization:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

Clean up a few more errant references
  docs/source/kfp.client.rst
  docs/source/kfp.components.structures.rst
  docs/source/kfp.rst
  sdk/python/kfp/components/_python_op.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

Clean up docstrings for kfp.Client
  docs/source/modules.rst
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Update components area to add in code references and make formatting a little more consistent.
  sdk/python/kfp/components/_python_op.py
  sdk/python/kfp/components/_python_to_graph_component.py
  sdk/python/kfp/containers/_component_builder.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

Update SDK docs for KFP extensions to follow Sphinx guidelines
  docs/conf.py
  docs/index.rst
  sdk/python/kfp/aws.py
  sdk/python/kfp/azure.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/kfp/gcp.py
  sdk/python/kfp/onprem.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Remove unused kfp.notebook package links
  docs/source/kfp.notebook.rst
Due: none

fix: all big enough ui proxy requests fail with error proxying with partial data
  frontend/server/app.ts
  frontend/server/consts.ts
  frontend/server/handlers/artifacts.ts
  frontend/server/proxy-middleware.ts
Due: none

Fix naming
  frontend/server/app.ts
  frontend/server/handlers/artifacts.ts
  frontend/server/proxy-middleware.ts
Due: none

fix: all big enough ui proxy requests fail with error proxying with partial data (#4266)
  frontend/server/app.ts
  frontend/server/consts.ts
  frontend/server/handlers/artifacts.ts
  frontend/server/proxy-middleware.ts
Due: none

extra complex code to a function and add more test
  frontend/server/app.test.ts
  frontend/server/handlers/artifacts.ts
  frontend/server/helpers/server-info.ts
  frontend/server/k8s-helper.test.ts
  frontend/server/k8s-helper.ts
  frontend/server/utils.test.ts
  frontend/server/utils.ts
Due: none

Components - keras - Added the Train_classifier component
  components/keras/Train_classifier/from_CSV/component.py
  components/keras/Train_classifier/from_CSV/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Added a sample pipeline
  components/keras/Train_classifier/_samples/sample_pipeline.py
Due: kubeflow-pipelines-component-containers

Add platform-agnostic-pns type
  manifests/kustomize/base/argo/workflow-controller-configmap.yaml
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/base/params.env
  manifests/kustomize/env/platform-agnostic-pns/kustomization.yaml
  manifests/kustomize/env/platform-agnostic-pns/params.env
Due: none

use ml-pipeline-ui container name to find server container instead of use containers[0]
  frontend/server/app.test.ts
  frontend/server/handlers/artifacts.ts
Due: none

some assumption on token's Model field
  backend/src/apiserver/list/list.go
  backend/src/apiserver/list/list_test.go
Due: none

fix the regular field checking logic
  backend/src/apiserver/model/run.go
Due: none

Add client assume role functionality
  components/aws/sagemaker/batch_transform/src/batch_transform.py
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/deploy/src/deploy.py
  components/aws/sagemaker/ground_truth/src/ground_truth.py
  components/aws/sagemaker/hyperparameter_tuning/src/hyperparameter_tuning.py
  components/aws/sagemaker/model/src/create_model.py
  components/aws/sagemaker/process/src/process.py
  components/aws/sagemaker/tests/unit_tests/tests/test_utils.py
  components/aws/sagemaker/train/src/train.py
  components/aws/sagemaker/workteam/src/workteam.py
Due: kubeflow-pipelines-component-containers

Add assume_role to component.yaml files
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/workteam/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Update input to force NoneType on empty
  components/aws/sagemaker/common/_utils.py
Due: kubeflow-pipelines-component-containers

Update image to personal
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/workteam/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Update integration test setup with assumed role
  components/aws/sagemaker/tests/integration_tests/scripts/generate_iam_role
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: kubeflow-pipelines-component-containers

Update boto session to use refreshing credentials
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/tests/unit_tests/tests/test_utils.py
Due: kubeflow-pipelines-component-containers

Add assume_role to all READMEs
  components/aws/sagemaker/batch_transform/README.md
  components/aws/sagemaker/deploy/README.md
  components/aws/sagemaker/ground_truth/README.md
  components/aws/sagemaker/hyperparameter_tuning/README.md
  components/aws/sagemaker/model/README.md
  components/aws/sagemaker/process/README.md
  components/aws/sagemaker/train/README.md
  components/aws/sagemaker/workteam/README.md
Due: kubeflow-pipelines-component-containers

Add processing assume integ test
  components/aws/sagemaker/tests/integration_tests/resources/config/assume-role-processing/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/definition/processing_pipeline.py
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Add assume role unit test for main methods
  components/aws/sagemaker/tests/unit_tests/tests/test_batch_transform.py
  components/aws/sagemaker/tests/unit_tests/tests/test_deploy.py
  components/aws/sagemaker/tests/unit_tests/tests/test_ground_truth.py
  components/aws/sagemaker/tests/unit_tests/tests/test_hpo.py
  components/aws/sagemaker/tests/unit_tests/tests/test_model.py
  components/aws/sagemaker/tests/unit_tests/tests/test_process.py
  components/aws/sagemaker/tests/unit_tests/tests/test_train.py
  components/aws/sagemaker/tests/unit_tests/tests/test_workteam.py
Due: kubeflow-pipelines-component-containers

Update assume role relax trust relationship
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: kubeflow-pipelines-component-containers

Add assume role integration test
  components/aws/sagemaker/tests/integration_tests/component_tests/test_train_component.py
  components/aws/sagemaker/tests/integration_tests/conftest.py
  components/aws/sagemaker/tests/integration_tests/resources/config/assume-role-training/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/definition/training_pipeline.py
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
  components/aws/sagemaker/tests/integration_tests/utils/__init__.py
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Add check for defined assumed role name
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: kubeflow-pipelines-component-containers

Kfserving and seldon e2e pipeline examples
  samples/contrib/e2e-outlier-drift-explainer/README.md
  samples/contrib/e2e-outlier-drift-explainer/gcp-create-rwx-pv.sh
  samples/contrib/e2e-outlier-drift-explainer/kfserving/README.md
  samples/contrib/e2e-outlier-drift-explainer/kfserving/cifar10-drift.png
  samples/contrib/e2e-outlier-drift-explainer/kfserving/cifar10-explainer.png
  samples/contrib/e2e-outlier-drift-explainer/kfserving/cifar10-outlier.png
  samples/contrib/e2e-outlier-drift-explainer/kfserving/cifar10-pipeline.png
  samples/contrib/e2e-outlier-drift-explainer/kfserving/cifar10-prediction.png
  samples/contrib/e2e-outlier-drift-explainer/kfserving/income-pipeline.png
  samples/contrib/e2e-outlier-drift-explainer/kfserving/kfserving_e2e_adult.ipynb
  samples/contrib/e2e-outlier-drift-explainer/kfserving/kfserving_e2e_adult.kale.py
  samples/contrib/e2e-outlier-drift-explainer/seldon/README.md
  samples/contrib/e2e-outlier-drift-explainer/seldon/README.md~
  samples/contrib/e2e-outlier-drift-explainer/seldon/cifar10-drift.png
  samples/contrib/e2e-outlier-drift-explainer/seldon/cifar10-explainer.png
  samples/contrib/e2e-outlier-drift-explainer/seldon/cifar10-outlier.png
  samples/contrib/e2e-outlier-drift-explainer/seldon/cifar10-pipeline.png
  samples/contrib/e2e-outlier-drift-explainer/seldon/cifar10-prediction.png
  samples/contrib/e2e-outlier-drift-explainer/seldon/income-pipeline.png
  samples/contrib/e2e-outlier-drift-explainer/seldon/seldon_e2e_adult.ipynb
  samples/contrib/e2e-outlier-drift-explainer/seldon/seldon_e2e_adult.kale.py
  samples/contrib/e2e-outlier-drift-explainer/seldon/seldon_e2e_cifar10.ipynb
  samples/contrib/e2e-outlier-drift-explainer/seldon/seldon_e2e_cifar10.kale.py
Due: none

Update session to use AssumeRoleProvider
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/tests/unit_tests/tests/test_utils.py
Due: kubeflow-pipelines-component-containers

Remove region from child calls to session
  components/aws/sagemaker/common/_utils.py
Due: kubeflow-pipelines-component-containers

Fix extra region_name in test
  components/aws/sagemaker/tests/unit_tests/tests/test_utils.py
Due: kubeflow-pipelines-component-containers

Update assume role processing integ test name
  components/aws/sagemaker/tests/integration_tests/resources/config/assume-role-processing/config.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Implemented debugger for training component with sample pipeline, unit tests, and integration test
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/common/train.template.yaml
  components/aws/sagemaker/tests/integration_tests/README.md
  components/aws/sagemaker/tests/integration_tests/component_tests/test_deploy_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_hpo_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_train_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_workteam_component.py
  components/aws/sagemaker/tests/integration_tests/resources/config/xgboost-mnist-trainingjob-debugger/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/definition/training_pipeline.py
  components/aws/sagemaker/tests/integration_tests/utils/__init__.py
  components/aws/sagemaker/tests/unit_tests/tests/test_train.py
  components/aws/sagemaker/train/README.md
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/train/src/train.py
  samples/contrib/aws-samples/debugger_component_demo/README.md
  samples/contrib/aws-samples/debugger_component_demo/debugger-component-demo.py
  samples/contrib/aws-samples/simple_train_pipeline/README.md
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

done
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Update samples/contrib/e2e-outlier-drift-explainer/README.md
  samples/contrib/e2e-outlier-drift-explainer/README.md
Due: none

Update samples/contrib/e2e-outlier-drift-explainer/kfserving/README.md
  samples/contrib/e2e-outlier-drift-explainer/kfserving/README.md
Due: none

Update samples/contrib/e2e-outlier-drift-explainer/seldon/README.md
  samples/contrib/e2e-outlier-drift-explainer/seldon/README.md
Due: none

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*
