Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*

Update deploy config ignore overwrite
  components/aws/sagemaker/codebuild/scripts/deploy.sh
Due: kubeflow-pipelines-component-containers

Update component for debugging
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/common/boto3_manager.py
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/deploy/src/sagemaker_deploy_component.py
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/tests/unit_tests/tests/batch_transform/test_transform_component.py
  components/aws/sagemaker/tests/unit_tests/tests/ground_truth/test_ground_truth_component.py
  components/aws/sagemaker/tests/unit_tests/tests/workteam/test_workteam_component.py
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/workteam/component.yaml
  components/aws/sagemaker/workteam/src/sagemaker_workteam_spec.py
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

chore(sdk): Allow arbitrary input/output types in v2 compiler (#4679)
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.py
  sdk/python/kfp/v2/dsl/component_bridge.py
  sdk/python/kfp/v2/dsl/type_utils.py
  sdk/python/kfp/v2/dsl/type_utils_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Update images back to 1.0.0
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/workteam/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Remove coverage from components
  components/.coverage
Due: kubeflow-pipelines-component-containers

update
  test/sample-test/sample_test_launcher.py
Due: none

Update deploy-cluster.sh
  test/deploy-cluster.sh
Due: none

fix syntax error
  test/sample-test/sample_test_launcher.py
Due: none

chore(proxy): PROXY_URL should end with /
  proxy/attempt-register-vm-on-proxy.sh
Due: none

fix
  test/sample-test/sample_test_launcher.py
Due: none

test: make details log url easier to select (#4680)
  test/deploy-cluster.sh
Due: none

let test run faster
  test/e2e_test_gke_v2.yaml
Due: none

keep cluster for debugging
  test/deploy-cluster.sh
Due: none

update
  test/deploy-cluster.sh
Due: none

doc: versioning policy and feature stages docs. Part of #4533 (#4210)
  README.md
  docs/release/feature-stages.md
  docs/release/versioning-policy.md
  docs/releases/release-1.0.md
  docs/releases/versioning-policy.md
Due: none

Expose multi_user in frontend and add integration test
  frontend/server/app.test.ts
  frontend/server/handlers/healthz.ts
Due: none

Fix integration test
  frontend/server/app.test.ts
Due: none

Allow arbitrary input/output types with default to generic artifact.
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.py
  sdk/python/kfp/v2/dsl/component_bridge.py
  sdk/python/kfp/v2/dsl/type_utils.py
  sdk/python/kfp/v2/dsl/type_utils_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

updated tests
  backend/src/apiserver/server/pipeline_upload_server_test.go
Due: none

address review comments
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
  sdk/python/kfp/v2/dsl/type_utils.py
  sdk/python/kfp/v2/dsl/type_utils_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Upgrade Argo workflow controller manifest
  manifests/kustomize/base/argo/workflow-controller-deployment.yaml
Due: none

fixup! Upgrade Argo workflow controller manifest
  manifests/kustomize/base/argo/workflow-controller-configmap.yaml
Due: none

Upgrade argo docker base image version
  third_party/argo/Dockerfile.argoexec
  third_party/argo/Dockerfile.workflow-controller
Due: none

fixup! Upgrade argo docker base image version
  third_party/argo/release.sh
Due: none

address comments
  sdk/python/kfp/v2/dsl/type_utils.py
  sdk/python/kfp/v2/dsl/type_utils_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix docstring
  sdk/python/kfp/v2/dsl/type_utils.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fixup! fixup! Upgrade argo docker base image version
  .cloudbuild.yaml
  .release.cloudbuild.yaml
  backend/Dockerfile
  manifests/kustomize/env/aws/config
  test/install-argo.sh
  test/tag_for_hosted.sh
Due: none

fixup! fixup! fixup! Upgrade argo docker base image version
  test/sample-test/Dockerfile
Due: none

VolumeOp has apiVersion as parameter
  sdk/python/kfp/dsl/_volume_snapshot_op.py
  sdk/python/tests/dsl/volume_snapshotop_tests.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix tests
  test/deploy-cluster.sh
  test/e2e_test_gke_v2.yaml
Due: none

fix test sample.
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

test(proxy): use inverse proxy staging env for presubmit tests. Part of #4667 (#4678)
  proxy/attempt-register-vm-on-proxy.sh
  test/manifests/dev/kustomization.yaml
  test/manifests/dev/proxy-agent-patch.yaml
  test/sample-test/README.md
  test/sample-test/check_notebook_results.py
  test/sample-test/requirements.in
  test/sample-test/run_sample_test.py
  test/sample-test/sample_test_launcher.py
Due: none

feat(frontend): change artifact link to download without extracting. Fixes #3667
  frontend/server/app.ts
  frontend/server/handlers/artifacts.ts
  frontend/server/minio-helper.ts
  frontend/src/components/MinioArtifactPreview.tsx
  frontend/src/lib/Apis.ts
  frontend/src/lib/Utils.tsx
Due: kubeflow-pipelines-component-containers
