Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*

new test
  backend/test/integration/pipeline_version_api_test.go
Due: none

typo
  backend/test/integration/pipeline_version_api_test.go
Due: none

updated the pipeline default
  backend/test/integration/pipeline_version_api_test.go
Due: none

updated the pipeline version
  backend/test/integration/pipeline_version_api_test.go
Due: none

formatting
  backend/test/integration/pipeline_version_api_test.go
Due: none

error in comparison
  backend/test/integration/pipeline_version_api_test.go
Due: none

Added tests
  backend/src/apiserver/server/pipeline_server_test.go
  backend/src/apiserver/server/pipeline_upload_server_test.go
Due: none

Updated after feedback
  backend/src/apiserver/client/pod_fake.go
  backend/src/cache/client/pod_fake.go
  test/initialization-test/Dockerfile
Due: none

error in my defer statement
  backend/src/apiserver/server/pipeline_upload_server_test.go
Due: none

feat(API): exposing api for setting the default version of pipeline. Fixes #4049 (#4406)
  backend/api/go_client/pipeline.pb.go
  backend/api/go_client/pipeline.pb.gw.go
  backend/api/go_http_client/pipeline_client/pipeline_service/BUILD.bazel
  backend/api/go_http_client/pipeline_client/pipeline_service/pipeline_service_client.go
  backend/api/go_http_client/pipeline_client/pipeline_service/update_pipeline_default_version_parameters.go
  backend/api/go_http_client/pipeline_client/pipeline_service/update_pipeline_default_version_responses.go
  backend/api/pipeline.proto
  backend/api/swagger/kfp_api_single_file.swagger.json
  backend/api/swagger/pipeline.swagger.json
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/pipeline_server.go
  backend/src/common/client/api_server/pipeline_client.go
  backend/src/common/client/api_server/pipeline_client_fake.go
  backend/test/integration/pipeline_version_api_test.go
Due: none

address comments
  frontend/src/pages/RunDetails.test.tsx
  frontend/src/pages/__snapshots__/RunDetails.test.tsx.snap
Due: none

fix(frontend): fix parsing large workflow graph. Fixes #4179 (#4180)
  frontend/mock-backend/fixed-data.ts
  frontend/mock-backend/large-graph-runtime.ts
  frontend/src/lib/Utils.test.ts
  frontend/src/lib/Utils.tsx
  frontend/src/pages/RunDetails.test.tsx
  frontend/src/pages/RunDetails.tsx
Due: none

Components - JSON - Added the "Build dict", "Build list" and "Combine lists" components
  components/json/Build_dict/component.py
  components/json/Build_dict/component.yaml
  components/json/Build_list/component.py
  components/json/Build_list/component.yaml
  components/json/Combine_lists/component.py
  components/json/Combine_lists/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Backend - Caching - Fixed deployer failure on Kubernetes v1.16+
  backend/src/cache/deployer/cache-webhook-config.v1.yaml.template
  backend/src/cache/deployer/cache-webhook-config.v1beta1.v1.15.yaml.template
  backend/src/cache/deployer/cache-webhook-config.v1beta1.yaml.template
Due: none

Components - Google Cloud Optimizer - Added the "Suggest parameter sets from measurements" component
  components/google-cloud/Optimizer/Suggest_parameter_sets_based_on_measurements/component.py
  components/google-cloud/Optimizer/Suggest_parameter_sets_based_on_measurements/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Added the multi-stage optimization sample pipeline
  components/google-cloud/Optimizer/_samples/multi_stage_optimization_atomic_pipeline.py
Due: kubeflow-pipelines-component-containers

fix(sdk): Components - Fixed handling of typing.NamedTuple in Python 3.9 (#4614)
  sdk/python/kfp/components/_python_op.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

Updated the test
  backend/src/apiserver/server/pipeline_server_test.go
Due: none

Tests - Testing the component library
  test/presubmit-tests-sdk.sh
Due: none

Env variable friendly config names & comments
  backend/src/apiserver/archive/log.go
  backend/src/apiserver/client_manager.go
  backend/src/apiserver/config/config.json
  backend/src/apiserver/main.go
  backend/src/apiserver/server/run_log_server.go
Due: none

Suppress print messages on cli command output for json format
  sdk/python/kfp/cli/run.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Replace print messages with click style echo statements with ANSI color
  sdk/python/kfp/cli/cli.py
  sdk/python/kfp/cli/diagnose_me_cli.py
  sdk/python/kfp/cli/experiment.py
  sdk/python/kfp/cli/output.py
  sdk/python/kfp/cli/pipeline.py
  sdk/python/kfp/cli/run.py
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Add version constraint to colorama
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

feat(backend): allow configuring if default version should be updated when uploading new pipeline version. Fixes #4049 (#4476)
  backend/src/apiserver/common/config.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/resource/resource_manager_util_test.go
  backend/src/apiserver/server/pipeline_server.go
  backend/src/apiserver/server/pipeline_server_test.go
  backend/src/apiserver/server/pipeline_upload_server.go
  backend/src/apiserver/server/pipeline_upload_server_test.go
  backend/src/apiserver/server/test_util.go
  backend/src/apiserver/storage/pipeline_store.go
  backend/src/apiserver/storage/pipeline_store_test.go
  manifests/kustomize/base/params.env
  manifests/kustomize/base/pipeline/ml-pipeline-apiserver-deployment.yaml
Due: none

feat(components): Google Cloud Optimizer - Added the "Suggest parameter sets from measurements" component (#4633)
  components/google-cloud/Optimizer/Suggest_parameter_sets_based_on_measurements/component.py
  components/google-cloud/Optimizer/Suggest_parameter_sets_based_on_measurements/component.yaml
  components/google-cloud/Optimizer/_samples/multi_stage_optimization_atomic_pipeline.py
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Set current namespace in local KFP context if running from notebook
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

simplified test
  backend/src/apiserver/server/pipeline_upload_server_test.go
Due: none

intial work'
  backend/src/crd/controller/scheduledworkflow/controller.go
  backend/src/crd/controller/scheduledworkflow/main.go
  backend/src/crd/controller/scheduledworkflow/util/cron_schedule.go
  backend/src/crd/controller/scheduledworkflow/util/cron_schedule_test.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow_test.go
Due: none

small fixes
  backend/src/crd/controller/scheduledworkflow/controller.go
  backend/src/crd/controller/scheduledworkflow/util/const.go
Due: none

Added colorama to requirements.in and generated requirements.txt
  sdk/python/requirements.in
  sdk/python/requirements.txt
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

The admissionReviewVersions field became required in the v1 API in v1.16
  backend/src/cache/deployer/cache-webhook-config.v1.yaml.template
Due: none

Update deploy component output description
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/model/src/sagemaker_model_spec.py
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/workteam/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

fix(backend): Caching - Fixed deployer failure on Kubernetes v1.16+. Fixes #4627 (#4632)
  backend/src/cache/deployer/cache-webhook-config.v1.yaml.template
  backend/src/cache/deployer/cache-webhook-config.v1beta1.v1.15.yaml.template
  backend/src/cache/deployer/cache-webhook-config.v1beta1.yaml.template
Due: none
