Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

kubeflow-pipelines-sdk-python35:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.5
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-component-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-component-containers.sh

kubeflow-pipelines-backend-visualization:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

revert stable labels
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/components/_component_store.py
  sdk/python/kfp/components/_components.py
  sdk/python/kfp/components/_python_op.py
  sdk/python/kfp/containers/_build_image_api.py
  sdk/python/kfp/dsl/_component.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/kfp/dsl/_pipeline.py
  sdk/python/kfp/dsl/_pipeline_param.py
  sdk/python/kfp/gcp.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

support op2.after(op1)
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_after.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_after.py
  sdk/python/kfp/v2/dsl/component_bridge.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix missing test
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

chore: Add doc strings marking the feature stages for SDK. (#4575)
  sdk/python/kfp/_runners.py
  sdk/python/kfp/cli/cli.py
  sdk/python/kfp/cli/diagnose_me_cli.py
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/components/_component_store.py
  sdk/python/kfp/components/_components.py
  sdk/python/kfp/components/_python_op.py
  sdk/python/kfp/containers/_build_image_api.py
  sdk/python/kfp/dsl/_pipeline.py
  sdk/python/kfp/dsl/_pipeline_volume.py
  sdk/python/kfp/dsl/_resource_op.py
  sdk/python/kfp/dsl/_volume_op.py
  sdk/python/kfp/dsl/_volume_snapshot_op.py
  sdk/python/kfp/dsl/types.py
  sdk/python/kfp/gcp.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

fix(frontend): Fix logic deciding if a node was cached. Fixes #4814 (#4819)
  frontend/src/lib/StatusUtils.test.tsx
  frontend/src/lib/StatusUtils.ts
Due: none

m: simplify signature of OpsGroup.after
  sdk/python/kfp/dsl/_ops_group.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

feat(components): Added a sample C# script component (#4815)
  components/sample/C#_script/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

fix(sdk): Do not wait for resource deletion
  sdk/python/kfp/dsl/_resource_op.py
  sdk/python/tests/dsl/resource_op_tests.py
  sdk/python/tests/dsl/volume_op_tests.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Remove unused commit_sha and tag_name
  api/v2alpha1/BUILD.bazel
  backend/api/go_client/healthz.pb.go
  backend/api/go_client/healthz.pb.gw.go
  backend/api/go_http_client/healthz_client/healthz_service/get_healthz_parameters.go
  backend/api/go_http_client/healthz_model/api_get_healthz_response.go
  backend/api/healthz.proto
  backend/api/python_http_client/docs/ApiGetHealthzResponse.md
  backend/api/python_http_client/docs/HealthzServiceApi.md
  backend/api/python_http_client/kfp_server_api/api/healthz_service_api.py
  backend/api/python_http_client/kfp_server_api/models/api_get_healthz_response.py
  backend/api/python_http_client/test/test_api_get_healthz_response.py
  backend/api/swagger/healthz.swagger.json
  backend/api/swagger/kfp_api_single_file.swagger.json
  backend/src/apiserver/archive/BUILD.bazel
  backend/src/apiserver/resource/BUILD.bazel
Due: none

chore(sdk.v2): Allow component to be reused in a pipeline (#4784)
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/component_yaml/add_component.yaml
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_reused_component.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_reused_component.py
  sdk/python/kfp/v2/dsl/component_bridge.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

chore(sdk.v2): Support explicit task dependency (#4824)
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_after.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_after.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

feat: Set current namespace for in-cluster SDK in multi-user mode and add healthz endpoint to API backends (#4638)
  api/v2alpha1/BUILD.bazel
  backend/api/BUILD.bazel
  backend/api/generate_api.sh
  backend/api/go_client/BUILD.bazel
  backend/api/go_client/healthz.pb.go
  backend/api/go_client/healthz.pb.gw.go
  backend/api/go_http_client/healthz_client/BUILD.bazel
  backend/api/go_http_client/healthz_client/healthz_client.go
  backend/api/go_http_client/healthz_client/healthz_service/BUILD.bazel
  backend/api/go_http_client/healthz_client/healthz_service/get_healthz_parameters.go
  backend/api/go_http_client/healthz_client/healthz_service/get_healthz_responses.go
  backend/api/go_http_client/healthz_client/healthz_service/healthz_service_client.go
  backend/api/go_http_client/healthz_model/BUILD.bazel
  backend/api/go_http_client/healthz_model/api_get_healthz_response.go
  backend/api/go_http_client/healthz_model/api_status.go
  backend/api/go_http_client/healthz_model/protobuf_any.go
  backend/api/healthz.proto
  backend/api/python_http_client/README.md
  backend/api/python_http_client/docs/ApiGetHealthzResponse.md
  backend/api/python_http_client/docs/HealthzServiceApi.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/api/__init__.py
  backend/api/python_http_client/kfp_server_api/api/healthz_service_api.py
  backend/api/python_http_client/kfp_server_api/models/__init__.py
  backend/api/python_http_client/kfp_server_api/models/api_get_healthz_response.py
  backend/api/python_http_client/test/test_api_get_healthz_response.py
  backend/api/python_http_client/test/test_healthz_service_api.py
  backend/api/swagger/healthz.swagger.json
  backend/api/swagger/kfp_api_single_file.swagger.json
  backend/src/apiserver/archive/BUILD.bazel
  backend/src/apiserver/main.go
  backend/src/apiserver/resource/BUILD.bazel
  frontend/server/app.test.ts
  frontend/server/handlers/healthz.ts
  sdk/python/kfp/_client.py
  test/sample-test/Dockerfile
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

docs: Update RELEASE.md to include release from master branch instructions (#4823)
  RELEASE.md
Due: none

Change Experiment spec structure to JsonObject
  components/kubeflow/katib-launcher/component.yaml
  components/kubeflow/katib-launcher/src/launch_experiment.py
  samples/contrib/kubeflow-katib/early-stopping.ipynb
  samples/contrib/kubeflow-katib/mpi-job-horovod.py
  samples/contrib/kubeflow-katib/mpi-job-horovod.py.tar.gz
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Remove generated file
  samples/contrib/kubeflow-katib/mpi-job-horovod.py.tar.gz
Due: none

fix(components): Login to Dockerhub before running integ tests for SageMaker Components
  components/aws/sagemaker/codebuild/integration-test.buildspec.yml
Due: kubeflow-pipelines-component-containers

Use component.yaml in MPI example
  samples/contrib/kubeflow-katib/mpi-job-horovod.py
Due: none

Update params.env
  manifests/kustomize/base/params.env
Due: none

Update RELEASE.md
  RELEASE.md
Due: none

Revert "Update RELEASE.md"
  RELEASE.md
Due: none

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*
