Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

kubeflow-pipelines-sdk-python35:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.5
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-component-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-component-containers.sh

kubeflow-pipelines-backend-visualization:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

Fix bug that pipline parameter missing from runtime parameter list
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_if_placeholder.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

moved files
  sdk/python/kfp/v2/dsl/importer_node.py
  sdk/python/kfp/v2/dsl/importer_node_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

chore(deployment): Add app=minio label to minio service (#4707)
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/minio.yaml
Due: none

Update minio-helper.ts
  frontend/server/minio-helper.ts
Due: none

feat(sdk): added pipeline name option to kfp run submit (#4535)
  .gitignore
  sdk/python/kfp/cli/pipeline.py
  sdk/python/kfp/cli/run.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

update
  frontend/server/minio-helper.ts
Due: none

feat(frontend): UX change to support downloading directory artifacts. Fixes #3667 (#4696)
  frontend/server/app.test.ts
  frontend/server/app.ts
  frontend/server/aws-helper.test.ts
  frontend/server/handlers/artifacts.ts
  frontend/server/integration-tests/artifact-get.test.ts
  frontend/server/integration-tests/artifact-proxy.test.ts
  frontend/server/integration-tests/test-helper.ts
  frontend/server/minio-helper.ts
  frontend/src/atoms/ExternalLink.tsx
  frontend/src/components/MinioArtifactPreview.test.tsx
  frontend/src/components/MinioArtifactPreview.tsx
  frontend/src/lib/Apis.test.ts
  frontend/src/lib/Apis.ts
  frontend/src/lib/Utils.test.ts
  frontend/src/lib/Utils.tsx
Due: kubeflow-pipelines-component-containers

feat(sdk): Replace print messages with click style echo statements with ANSI color
  sdk/python/kfp/cli/cli.py
  sdk/python/kfp/cli/diagnose_me_cli.py
  sdk/python/kfp/cli/experiment.py
  sdk/python/kfp/cli/output.py
  sdk/python/kfp/cli/pipeline.py
  sdk/python/kfp/cli/run.py
  sdk/python/requirements.in
  sdk/python/requirements.txt
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

feat(sdk): Fix print message for run submission with respect to output format
  sdk/python/kfp/cli/run.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Adding more instructions for image repo name
  components/azure/azureml/aml-deploy-model/compile_pipeline.py
Due: kubeflow-pipelines-component-containers

Add readme.md for pipeline deployment component
  components/azure/azureml/aml-deploy-model/README.MD
  components/azure/azureml/aml-deploy-model/compile_pipeline.py
  components/azure/azureml/aml-deploy-model/component.yaml
  components/azure/azureml/aml-deploy-model/src/deploy.sh
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

address review comments
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/dsl/component_bridge.py
  sdk/python/kfp/v2/dsl/importer_node.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

AIP-653: Sym-link python SDK components to avoid poetry lacking subdirectory install capabilities (#1)
  kfp
  setup.py
Due: none

removed paramter that is not needed
  backend/src/apiserver/server/pipeline_upload_server_test.go
Due: none

fix(backend): added setup structure to simplify adding new tests and removing duplicated code. Fixes #4630 (#4639)
  backend/src/apiserver/server/pipeline_upload_server_test.go
Due: none

updated after feedback
  backend/src/crd/controller/scheduledworkflow/controller.go
  backend/src/crd/controller/scheduledworkflow/main.go
  backend/src/crd/controller/scheduledworkflow/util/const.go
  backend/src/crd/controller/scheduledworkflow/util/const_test.go
  backend/src/crd/controller/scheduledworkflow/util/cron_schedule.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow_test.go
Due: none

Add InputUriPlaceholder and OutputUriPlaceholder
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/compiler_test.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_if_placeholder.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_ontology.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/simple_pipeline_without_importer.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.py
  sdk/python/kfp/v2/components/__init__.py
  sdk/python/kfp/v2/components/components.py
  sdk/python/kfp/v2/components/python_op.py
  sdk/python/kfp/v2/components/structures.py
  sdk/python/kfp/v2/dsl/_pipeline.py
  sdk/python/kfp/v2/dsl/component_bridge.py
  sdk/python/kfp/v2/dsl/container_op.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

chore(sdk): Fix a bug where we missed injecting importer node (#4712)
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/importer_node.py
  sdk/python/kfp/v2/compiler/importer_node_test.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.py
  sdk/python/kfp/v2/dsl/component_bridge.py
  sdk/python/kfp/v2/dsl/importer_node.py
  sdk/python/kfp/v2/dsl/importer_node_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix bug around assertion and test
  sdk/python/kfp/v2/dsl/importer_node.py
  sdk/python/kfp/v2/dsl/importer_node_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

add job to IR
  api/v2alpha1/pipeline_spec.proto
Due: none

add generated proto_py
  sdk/python/kfp/v2/proto/pipeline_spec_pb2.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

make comments concise
  api/v2alpha1/pipeline_spec.proto
Due: none

fix test data
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix(components): sending pyspark jobs to aws EMR with the correct py file
  components/aws/emr/common/_utils.py
Due: kubeflow-pipelines-component-containers

simplify test code
  sdk/python/kfp/v2/dsl/importer_node.py
  sdk/python/kfp/v2/dsl/importer_node_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

refactor and tests
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/compiler_utils.py
  sdk/python/kfp/v2/compiler/compiler_utils_test.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_ontology.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.json
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fixed pointer error
  backend/src/crd/controller/scheduledworkflow/controller.go
Due: none

chore(sdk): fix bug around assertion and test (#4718)
  sdk/python/kfp/v2/dsl/importer_node.py
  sdk/python/kfp/v2/dsl/importer_node_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

test to add paramter
  manifests/kustomize/base/params.env
Due: none

feat(sdk): Fix print message for run submission with respect to output format (#4691)
  sdk/python/kfp/cli/run.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

moved to init so removed not needed code
  backend/src/crd/controller/scheduledworkflow/controller.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow_test.go
Due: none

updated further
  backend/src/crd/controller/scheduledworkflow/util/const.go
  backend/src/crd/controller/scheduledworkflow/util/cron_schedule.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow_test.go
Due: none

fix(components): sending pyspark jobs to aws EMR with the correct py … (#4721)
  components/aws/emr/common/_utils.py
Due: kubeflow-pipelines-component-containers

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*
