Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

kubeflow-pipelines-sdk-python35:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.5
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-component-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-component-containers.sh

kubeflow-pipelines-backend-visualization:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

list is generic. model specific test is put to run_store_test.go
  backend/src/apiserver/list/list_test.go
Due: none

done
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix(components): emr: add option to add ec2key name and subnet. remove needless submit_pyspark_job arguments
  components/aws/emr/common/_utils.py
Due: kubeflow-pipelines-component-containers

Update README.md
  components/aws/sagemaker/README.md
Due: kubeflow-pipelines-component-containers

reserve https
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

doc(release): instructions for update master branch version and etc (#4250)
  RELEASE.md
Due: none

update pr
  manifests/kustomize/base/cache-deployer/cache-deployer-role.yaml
  manifests/kustomize/base/cache-deployer/cluster-scoped/cache-deployer-clusterrole.yaml
Due: none

update pr
  manifests/kustomize/base/cache-deployer/cache-deployer-role.yaml
Due: none

feat(backend): sort by run metrics - step 2 (#4235)
  backend/src/apiserver/list/BUILD.bazel
  backend/src/apiserver/list/list.go
  backend/src/apiserver/list/list_test.go
  backend/src/apiserver/model/experiment.go
  backend/src/apiserver/model/job.go
  backend/src/apiserver/model/pipeline.go
  backend/src/apiserver/model/pipeline_version.go
  backend/src/apiserver/model/run.go
  backend/src/apiserver/server/list_request_util_test.go
  backend/src/apiserver/storage/run_store.go
  backend/src/apiserver/storage/run_store_test.go
Due: none

Remove extra flake8 check in integ tests
  components/aws/sagemaker/tests/integration_tests/.flake8
Due: kubeflow-pipelines-component-containers

remove list&watch
  manifests/kustomize/base/cache-deployer/cluster-scoped/cache-deployer-clusterrole.yaml
Due: none

Install a specific version of TFX
  .travis.yml
Due: none

fix(cache): adds certificate approver permission to kubeflow-pipelines-cache-deployer-role. Fixes #4138 (#4246)
  manifests/kustomize/base/cache-deployer/cluster-scoped/cache-deployer-clusterrole.yaml
Due: none

support tensorboard viewer and other visualize Results using volume mount path, modify 'file' schema to 'volume':
  frontend/server/handlers/artifacts.ts
  frontend/server/k8s-helper.test.ts
  frontend/server/k8s-helper.ts
  frontend/src/lib/WorkflowParser.test.ts
  frontend/src/lib/WorkflowParser.ts
Due: none

SDK - Fixed documentation by updating the kfp-server-api dependency
  sdk/python/requirements.txt
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix test and add more tests
  frontend/server/app.test.ts
  frontend/server/handlers/artifacts.ts
  frontend/server/helpers/server-info.ts
  frontend/server/k8s-helper.test.ts
  frontend/server/k8s-helper.ts
Due: none

change error message not found to not exist.
  frontend/server/k8s-helper.ts
Due: none

feat(sdk): support HTTP/S PROXY for SDK client (#4215)
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix tensorboard create test
  frontend/server/app.test.ts
Due: none

Update README.md
  README.md
Due: none

Add sample formatting checks
  components/aws/sagemaker/tests/unit_tests/Dockerfile
  components/aws/sagemaker/tests/unit_tests/README.md
  components/aws/sagemaker/tests/unit_tests/check_formatting.sh
  components/aws/sagemaker/tests/unit_tests/run_automated_test.sh
  components/aws/sagemaker/tests/unit_tests/run_unit_tests.sh
  samples/contrib/aws-samples/ground_truth_pipeline_demo/mini-image-classification-pipeline.py
  samples/contrib/aws-samples/ground_truth_pipeline_demo/prep_inputs.py
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/kmeans_preprocessing.py
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/mnist-classification-pipeline.py
  samples/contrib/aws-samples/simple_train_pipeline/training-pipeline.py
  samples/contrib/aws-samples/titanic-survival-prediction/titanic-survival-prediction.py
Due: kubeflow-pipelines-component-containers

Update README.md (#4260)
  README.md
Due: none

doc(sdk): Fixed documentation by updating the kfp-server-api dependency (#4255)
  sdk/python/requirements.txt
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

combining volume mount path and key as artifacts path
  frontend/server/app.test.ts
  frontend/server/handlers/artifacts.ts
  frontend/server/handlers/tensorboard.ts
  frontend/server/k8s-helper.ts
Due: none

feat!: switch to pns executor
  manifests/kustomize/base/argo/workflow-controller-configmap.yaml
Due: none

move model specific code to model; prevent model package depends on list package; let list package depends on modelpackage; marshal/unmarshal listable interface; include listable interface in token.
  backend/src/apiserver/list/list.go
  backend/src/apiserver/list/list_test.go
  backend/src/apiserver/model/BUILD.bazel
  backend/src/apiserver/model/experiment.go
  backend/src/apiserver/model/job.go
  backend/src/apiserver/model/pipeline.go
  backend/src/apiserver/model/pipeline_version.go
  backend/src/apiserver/model/pipeline_version_test.go
  backend/src/apiserver/model/resource_reference_test.go
  backend/src/apiserver/model/run.go
  backend/src/apiserver/model/run_test.go
  backend/src/apiserver/server/list_request_util_test.go
  backend/src/apiserver/storage/run_store.go
Due: none

Prepare SDK docs environment so its easier to understand how to build the docs locally so theyre consistent with ReadTheDocs.
  .readthedocs.yml
  docs/conf.py
  docs/requirements.txt
Due: none

Clean up the DSL docs some more
  sdk/python/kfp/containers/_build_image_api.py
  sdk/python/kfp/dsl/_component.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/kfp/dsl/_metadata.py
  sdk/python/kfp/dsl/_ops_group.py
  sdk/python/kfp/dsl/_pipeline.py
  sdk/python/kfp/dsl/_pipeline_param.py
  sdk/python/kfp/dsl/_pipeline_volume.py
  sdk/python/kfp/dsl/_resource_op.py
  sdk/python/kfp/dsl/_volume_op.py
  sdk/python/kfp/dsl/_volume_snapshot_op.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Clean up formatting of docstrings after Ark-Kuns comments
  sdk/python/kfp/components/_python_op.py
  sdk/python/kfp/dsl/_container_op.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

Clean up containers, add in custom CSS to ensure we do not overflow on inline code blocks
  sdk/python/kfp/containers/_build_image_api.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Clean up containers, add in custom CSS to ensure we do not overflow on inline code blocks
  docs/_static/custom.css
  docs/conf.py
Due: none

Add in updates to the docs for compiler and components
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/components/_component_store.py
  sdk/python/kfp/components/_components.py
  sdk/python/kfp/components/_python_op.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*
