Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

kubeflow-pipelines-sdk-python35:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.5
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-component-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-component-containers.sh

kubeflow-pipelines-backend-visualization:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

feat(components): Added JSON query components (#4601)
  components/json/Get_element_by_index/component.yaml
  components/json/Get_element_by_key/component.yaml
  components/json/Query/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Added the sample pipeline
  components/google-cloud/Optimizer/_samples/multi_stage_optimization_pipeline.py
Due: kubeflow-pipelines-component-containers

fix(sdk): Components - Fixed ModelBase handling of open generic types in Python 3.9 (#4613)
  sdk/python/kfp/components/modelbase.py
  sdk/python/kfp/components_tests/test_structure_model_base.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

test(sdk): Components - Tests - Made python component tests use the same python executable to run the components (#4615)
  sdk/python/kfp/components_tests/test_python_op.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

started to make the integration test
  backend/src/common/client/api_server/pipeline_client.go
  backend/test/integration/pipeline_api_test.go
Due: none

Suppress print messages on cli command output for json format
  sdk/python/kfp/cli/run.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix a typo
  api/v2alpha1/pipeline_spec.proto
Due: none

added integreation test
  backend/src/common/client/api_server/pipeline_client.go
  backend/test/integration/pipeline_api_test.go
  backend/test/integration/pipeline_version_api_test.go
Due: none

chore(sdk): Components - Simplified graph component child task resolving (#4608)
  sdk/python/kfp/components/_components.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

doc(release): drop python 3.5 support
  RELEASE.md
Due: none

Update IR ExecutorOutput message to use ArtifactList for artifacts field. (#4619)
  api/v2alpha1/pipeline_spec.proto
  sdk/python/kfp/v2/proto/pipeline_spec_pb2.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

feat(components): Added the Google Cloud Optimizer components (#4621)
  components/google-cloud/Optimizer/Add_measurement_for_trial/component.py
  components/google-cloud/Optimizer/Add_measurement_for_trial/component.yaml
  components/google-cloud/Optimizer/Create_study/component.py
  components/google-cloud/Optimizer/Create_study/component.yaml
  components/google-cloud/Optimizer/Suggest_trials/component.py
  components/google-cloud/Optimizer/Suggest_trials/component.yaml
  components/google-cloud/Optimizer/_samples/multi_stage_optimization_pipeline.py
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

doc(release): drop python 3.5 support. Part of #4584 (#4623)
  RELEASE.md
Due: none

fix python3.5 test failure
  sdk/python/kfp/v2/dsl/_pipeline.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

support outputs.parameters placeholder
  sdk/python/kfp/components/_components.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.json
  sdk/python/kfp/v2/dsl/component_bridge.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

remove pipeline decorator from v2.dsl
  sdk/python/kfp/v2/compiler/compiler_test.py
  sdk/python/kfp/v2/compiler/main.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/simple_pipeline_without_importer.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.py
  sdk/python/kfp/v2/dsl/__init__.py
  sdk/python/kfp/v2/dsl/_pipeline.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

address comments: wait for zlib instead of mocking decodeCompressedNodes
  frontend/src/pages/RunDetails.test.tsx
Due: none

address comments: decodeCompressedNodes reject in case of error + catch error on run load
  frontend/src/lib/Utils.test.ts
  frontend/src/lib/Utils.tsx
  frontend/src/pages/RunDetails.test.tsx
  frontend/src/pages/RunDetails.tsx
  frontend/src/pages/__snapshots__/RunDetails.test.tsx.snap
Due: none

Update minor changes
  components/aws/sagemaker/common/component_compiler.py
  components/aws/sagemaker/common/sagemaker_component.py
  samples/contrib/aws-samples/simple_train_pipeline/training-pipeline.py
Due: kubeflow-pipelines-component-containers

updated the golang versions
  backend/Dockerfile.cacheserver
  backend/Dockerfile.persistenceagent
  backend/Dockerfile.scheduledworkflow
  test/api-integration-test/Dockerfile
Due: none

missed one docker file update, from 1.11 -> 1.13
  test/initialization-test/Dockerfile
Due: none

fixed build and feedback
  backend/src/common/client/api_server/pipeline_client_fake.go
  backend/test/integration/pipeline_version_api_test.go
Due: none

testing to fixe persistinace agent issues
  backend/src/agent/persistence/persistence_agent.go
Due: none

updated after feedback
  manifests/kustomize/base/params.env
Due: none

compiler for IR (#4529)
  sdk/python/kfp/components/_components.py
  sdk/python/kfp/v2/__init__.py
  sdk/python/kfp/v2/compiler/__init__.py
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/compiler_test.py
  sdk/python/kfp/v2/compiler/importer_node.py
  sdk/python/kfp/v2/compiler/importer_node_test.py
  sdk/python/kfp/v2/compiler/main.py
  sdk/python/kfp/v2/compiler_cli_tests/__init__.py
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/component_yaml/serving_component.yaml
  sdk/python/kfp/v2/compiler_cli_tests/test_data/component_yaml/trainer_component.yaml
  sdk/python/kfp/v2/compiler_cli_tests/test_data/simple_pipeline_without_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/simple_pipeline_without_importer.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.py
  sdk/python/kfp/v2/dsl/__init__.py
  sdk/python/kfp/v2/dsl/_pipeline.py
  sdk/python/kfp/v2/dsl/component_bridge.py
  sdk/python/kfp/v2/dsl/type_utils.py
  sdk/python/kfp/v2/dsl/type_utils_test.py
  sdk/python/setup.py
  sdk/python/tests/compiler/main.py
  test/presubmit-tests-sdk.sh
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

SDK - Restored module decoupling
  sdk/python/kfp/components/_components.py
  sdk/python/kfp/v2/dsl/component_bridge.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

SDK - Restored module decoupling (#4625)
  sdk/python/kfp/components/_components.py
  sdk/python/kfp/v2/dsl/component_bridge.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

test: use GCP cluster regular channel
  test/deploy-cluster.sh
Due: none

updated the tests
  backend/test/integration/pipeline_version_api_test.go
Due: none

Updated the test
  backend/test/integration/pipeline_version_api_test.go
Due: none

Replace print messages with click style echo statements with ANSI color
  sdk/python/kfp/cli/cli.py
  sdk/python/kfp/cli/diagnose_me_cli.py
  sdk/python/kfp/cli/experiment.py
  sdk/python/kfp/cli/output.py
  sdk/python/kfp/cli/pipeline.py
  sdk/python/kfp/cli/run.py
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*
