Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*

rename to feature stages, add links in README.md
  README.md
  docs/release/feature-stages.md
Due: none

remove depythonification of outputs - not needed anymore
  sdk/python/kfp/components/_components.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

add contract for ContainerTaskConstructor
  sdk/python/kfp/components/_components.py
  sdk/python/requirements.in
  sdk/python/requirements.txt
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

use Protocol for ContainerTaskConstructor
  sdk/python/kfp/components/_components.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

add ResolvedTask protocol
  sdk/python/kfp/components/_components.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

feat(sdk/cli): add extra header for cli (#4400)
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Update _client.py
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Fix Groundtruth workteam cleanup
  components/aws/sagemaker/tests/integration_tests/component_tests/test_groundtruth_component.py
Due: kubeflow-pipelines-component-containers

test(frontend): make run details graph captured in snapshot
  frontend/src/pages/RunDetails.test.tsx
  frontend/src/pages/__snapshots__/RunDetails.test.tsx.snap
Due: none

test(frontend): make run details graph captured in unit test snapshot (#4538)
  frontend/src/pages/RunDetails.test.tsx
  frontend/src/pages/__snapshots__/RunDetails.test.tsx.snap
Due: none

`follow` query parameter in GET /apis/v1beta1/runs/{run_id}/nodes/{node_id}/log
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/run_log_server.go
Due: none

Pipeline IR (#4371)
  api/v2alpha1/pipeline_spec.proto
Due: none

compile to IR
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/dsl/ir_types.py
  sdk/python/kfp/ir/pipeline_spec.proto
  sdk/python/kfp/v2/compiler/__init__.py
  sdk/python/kfp/v2/compiler/compiler.py
  sdk/python/kfp/v2/compiler/importer_node.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

removed unecessary function and updated after feedback
  backend/api/pipeline.proto
  backend/src/apiserver/common/config.go
  backend/src/apiserver/server/pipeline_upload_server.go
  backend/src/apiserver/server/util.go
  backend/src/apiserver/storage/pipeline_store.go
Due: none

missed to save pipeline.proto
  backend/api/pipeline.proto
Due: none

updated the last parts after feedback
  backend/api/go_client/pipeline.pb.go
  backend/api/go_client/pipeline.pb.gw.go
  backend/src/apiserver/BUILD.bazel
  backend/src/apiserver/list/BUILD.bazel
  backend/src/apiserver/model/BUILD.bazel
  backend/src/apiserver/server/BUILD.bazel
  manifests/kustomize/base/params.env
  manifests/kustomize/base/pipeline/ml-pipeline-apiserver-deployment.yaml
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

missed to add the description
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

update to fetch remote
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

initial work
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/resource/resource_manager_util_test.go
  backend/src/apiserver/server/pipeline_server.go
  backend/src/apiserver/server/pipeline_upload_server.go
  backend/src/apiserver/server/test_util.go
  backend/src/apiserver/server/util.go
  backend/src/apiserver/storage/pipeline_store.go
  backend/src/apiserver/storage/pipeline_store_test.go
Due: none

fixed test and bug
  backend/src/apiserver/server/util.go
  backend/src/apiserver/storage/pipeline_store.go
  backend/src/apiserver/storage/pipeline_store_test.go
Due: none

fixed merge conflict
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

initial work
  backend/src/crd/controller/scheduledworkflow/main.go
  backend/src/crd/controller/scheduledworkflow/util/const.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go
Due: none

reverted back to use string and env variable
  backend/src/apiserver/common/config.go
  backend/src/apiserver/server/pipeline_upload_server.go
  backend/src/apiserver/server/util.go
Due: none

updated typo
  backend/api/pipeline.proto
Due: none

add test for keyword-only arguments in pipeline func
  sdk/python/tests/compiler/compiler_tests.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix: kwargs-only argument for pipeline func
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

branch pipeline IR proto under sdk
  sdk/python/kfp/proto/pipeline_spec.proto
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Update ImporterSpec uri type
  sdk/python/kfp/proto/pipeline_spec.proto
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

azure owners
  manifests/kustomize/env/azure/OWNERS
Due: none

proto generated file
  sdk/python/kfp/proto/__init__.py
  sdk/python/kfp/proto/pipeline_spec_pb2.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

remove the copy of pipeline_spec.proto from sdk
  sdk/python/kfp/proto/pipeline_spec.proto
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

move proto generated file to under kfp/v2
  sdk/python/kfp/v2/proto/__init__.py
  sdk/python/kfp/v2/proto/pipeline_spec_pb2.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

add readme
  sdk/python/kfp/v2/proto/README.md
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Update ImporterSpec artifact_uri type
  api/v2alpha1/pipeline_spec.proto
Due: none

regenerate proto and add copyright
  sdk/python/kfp/v2/proto/__init__.py
  sdk/python/kfp/v2/proto/pipeline_spec_pb2.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Package pipeline_spec proto into SDK (#4546)
  sdk/python/kfp/v2/proto/README.md
  sdk/python/kfp/v2/proto/__init__.py
  sdk/python/kfp/v2/proto/pipeline_spec_pb2.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36
