Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

kubeflow-pipelines-sdk-python35:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.5
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-component-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-component-containers.sh

kubeflow-pipelines-backend-visualization:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

Remove extra flake8 check in integ tests
  components/aws/sagemaker/tests/integration_tests/.flake8
Due: kubeflow-pipelines-component-containers

Add unit test black check
  components/aws/sagemaker/tests/unit_tests/Dockerfile
  components/aws/sagemaker/tests/unit_tests/requirements.txt
Due: kubeflow-pipelines-component-containers

Update black formatting for all files
  components/aws/sagemaker/batch_transform/src/batch_transform.py
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/deploy/src/deploy.py
  components/aws/sagemaker/ground_truth/src/ground_truth.py
  components/aws/sagemaker/hyperparameter_tuning/src/hyperparameter_tuning.py
  components/aws/sagemaker/model/src/create_model.py
  components/aws/sagemaker/process/src/process.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_batch_transform_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_hpo_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_processing_component.py
  components/aws/sagemaker/tests/integration_tests/scripts/kmeans_preprocessing.py
  components/aws/sagemaker/tests/integration_tests/utils/argo_utils.py
  components/aws/sagemaker/tests/unit_tests/tests/test_batch_transform.py
  components/aws/sagemaker/tests/unit_tests/tests/test_deploy.py
  components/aws/sagemaker/tests/unit_tests/tests/test_ground_truth.py
  components/aws/sagemaker/tests/unit_tests/tests/test_hpo.py
  components/aws/sagemaker/tests/unit_tests/tests/test_model.py
  components/aws/sagemaker/tests/unit_tests/tests/test_process.py
  components/aws/sagemaker/tests/unit_tests/tests/test_utils.py
  components/aws/sagemaker/tests/unit_tests/tests/test_workteam.py
  components/aws/sagemaker/train/src/train.py.old
  components/aws/sagemaker/workteam/src/workteam.py
Due: kubeflow-pipelines-component-containers

Update include black formatting
  components/aws/sagemaker/.gitignore
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/common/boto3_manager.py
  components/aws/sagemaker/common/common_inputs.py
  components/aws/sagemaker/common/component_compiler.py
  components/aws/sagemaker/common/generate_components.py
  components/aws/sagemaker/common/sagemaker_component.py
  components/aws/sagemaker/hyperparameter_tuning/src/hyperparameter_tuning.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_batch_transform_component.py
  components/aws/sagemaker/tests/unit_tests/tests/common/dummy_component.py
  components/aws/sagemaker/tests/unit_tests/tests/common/dummy_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/common/test_boto3_manager.py
  components/aws/sagemaker/tests/unit_tests/tests/common/test_component_compiler.py
  components/aws/sagemaker/tests/unit_tests/tests/common/test_sagemaker_component.py
  components/aws/sagemaker/tests/unit_tests/tests/common/test_sagemaker_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/test_batch_transform.py
  components/aws/sagemaker/tests/unit_tests/tests/test_ground_truth.py
  components/aws/sagemaker/tests/unit_tests/tests/test_hpo.py
  components/aws/sagemaker/tests/unit_tests/tests/test_new_train.py
  components/aws/sagemaker/tests/unit_tests/tests/train/test_train_component.py
  components/aws/sagemaker/tests/unit_tests/tests/train/test_train_spec.py
  components/aws/sagemaker/train/src/sagemaker_training_component.py
  components/aws/sagemaker/train/src/sagemaker_training_spec.py
Due: kubeflow-pipelines-component-containers

Add all component specs
  components/aws/sagemaker/batch_transform/src/sagemaker_transform_spec.py
  components/aws/sagemaker/deploy/src/sagemaker_deploy_spec.py
  components/aws/sagemaker/ground_truth/src/sagemaker_ground_truth_spec.py
  components/aws/sagemaker/hyperparameter_tuning/src/sagemaker_tuning_spec.py
  components/aws/sagemaker/model/src/sagemaker_model_spec.py
  components/aws/sagemaker/process/src/sagemaker_process_spec.py
  components/aws/sagemaker/workteam/src/sagemaker_workteam_spec.py
Due: kubeflow-pipelines-component-containers

Add ground truth unit tests
  components/aws/sagemaker/ground_truth/src/sagemaker_ground_truth_component.py
  components/aws/sagemaker/ground_truth/src/sagemaker_ground_truth_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/ground_truth/test_ground_truth_component.py
  components/aws/sagemaker/tests/unit_tests/tests/ground_truth/test_ground_truth_spec.py
Due: kubeflow-pipelines-component-containers

Add spec unit tests
  components/aws/sagemaker/hyperparameter_tuning/src/sagemaker_tuning_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/common/test_sagemaker_component.py
  components/aws/sagemaker/tests/unit_tests/tests/deploy/test_deploy_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/ground_truth/test_ground_truth_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/hyperparameter_tuning/test_tuning_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/model/test_model_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/process/test_process_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/train/test_train_component.py
  components/aws/sagemaker/tests/unit_tests/tests/workteam/test_workteam_spec.py
Due: kubeflow-pipelines-component-containers

Add HPO component
  components/aws/sagemaker/common/sagemaker_component.py
  components/aws/sagemaker/ground_truth/src/sagemaker_ground_truth_component.py
  components/aws/sagemaker/hyperparameter_tuning/src/sagemaker_tuning_component.py
  components/aws/sagemaker/train/src/sagemaker_training_component.py
Due: kubeflow-pipelines-component-containers

Add tuning component unit tests
  components/aws/sagemaker/hyperparameter_tuning/src/sagemaker_tuning_component.py
  components/aws/sagemaker/tests/unit_tests/tests/hyperparameter_tuning/test_tuning_component.py
Due: kubeflow-pipelines-component-containers

Add workteam component unit tests
  components/aws/sagemaker/tests/unit_tests/tests/workteam/test_workteam_component.py
  components/aws/sagemaker/workteam/src/sagemaker_workteam_component.py
Due: kubeflow-pipelines-component-containers

Add create model component unit test
  components/aws/sagemaker/model/src/sagemaker_model_component.py
  components/aws/sagemaker/tests/unit_tests/tests/batch_transform/test_transform_component.py
  components/aws/sagemaker/tests/unit_tests/tests/model/test_model_component.py
  components/aws/sagemaker/tests/unit_tests/tests/model/test_model_spec.py
Due: kubeflow-pipelines-component-containers

Add processing component
  components/aws/sagemaker/process/src/sagemaker_process_component.py
  components/aws/sagemaker/process/src/sagemaker_process_spec.py
Due: kubeflow-pipelines-component-containers

Add workteam component
  components/aws/sagemaker/workteam/src/sagemaker_workteam_component.py
Due: kubeflow-pipelines-component-containers

Add deploy unit tests
  components/aws/sagemaker/deploy/src/sagemaker_deploy_component.py
  components/aws/sagemaker/tests/unit_tests/tests/deploy/test_deploy_component.py
Due: kubeflow-pipelines-component-containers

Add batch component
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/batch_transform/src/sagemaker_transform_component.py
  components/aws/sagemaker/batch_transform/src/sagemaker_transform_spec.py
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/common/common_inputs.py
  components/aws/sagemaker/common/generate_components.py
  components/aws/sagemaker/common/sagemaker_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_deploy_component.py
  components/aws/sagemaker/tests/integration_tests/utils/__init__.py
  components/aws/sagemaker/tests/integration_tests/utils/minio_utils.py
  components/aws/sagemaker/tests/unit_tests/tests/batch_transform/test_transform_component.py
  components/aws/sagemaker/tests/unit_tests/tests/batch_transform/test_transform_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/common/test_sagemaker_component.py
  components/aws/sagemaker/tests/unit_tests/tests/train/test_train_component.py
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/train/src/sagemaker_training_component.py
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Add create model component
  components/aws/sagemaker/model/src/sagemaker_model_component.py
Due: kubeflow-pipelines-component-containers

Remove old transform components
  components/aws/sagemaker/batch_transform/src/batch_transform.py
  components/aws/sagemaker/tests/unit_tests/tests/test_batch_transform.py
Due: kubeflow-pipelines-component-containers

Add process component unit tests
  components/aws/sagemaker/tests/unit_tests/tests/process/test_process_component.py
Due: kubeflow-pipelines-component-containers

Add ground truth component
  components/aws/sagemaker/ground_truth/src/sagemaker_ground_truth_component.py
Due: kubeflow-pipelines-component-containers

Update region input description
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/common/common_inputs.py
  components/aws/sagemaker/train/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Add deploy component
  components/aws/sagemaker/batch_transform/src/sagemaker_transform_component.py
  components/aws/sagemaker/common/sagemaker_component.py
  components/aws/sagemaker/deploy/src/sagemaker_deploy_component.py
  components/aws/sagemaker/deploy/src/sagemaker_deploy_spec.py
  components/aws/sagemaker/train/src/sagemaker_training_component.py
Due: kubeflow-pipelines-component-containers

Remove output_path from required_args
  components/aws/sagemaker/tests/unit_tests/tests/batch_transform/test_transform_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/deploy/test_deploy_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/ground_truth/test_ground_truth_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/hyperparameter_tuning/test_tuning_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/model/test_model_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/process/test_process_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/test_deploy.py
  components/aws/sagemaker/tests/unit_tests/tests/test_ground_truth.py
  components/aws/sagemaker/tests/unit_tests/tests/test_hpo.py
  components/aws/sagemaker/tests/unit_tests/tests/test_model.py
  components/aws/sagemaker/tests/unit_tests/tests/test_new_train.py
  components/aws/sagemaker/tests/unit_tests/tests/test_process.py
  components/aws/sagemaker/tests/unit_tests/tests/test_utils.py
  components/aws/sagemaker/tests/unit_tests/tests/test_workteam.py
  components/aws/sagemaker/tests/unit_tests/tests/train/test_train_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/workteam/test_workteam_spec.py
Due: kubeflow-pipelines-component-containers

Remove old component implementations
  components/aws/sagemaker/deploy/src/deploy.py
  components/aws/sagemaker/ground_truth/src/ground_truth.py
  components/aws/sagemaker/hyperparameter_tuning/src/hyperparameter_tuning.py
  components/aws/sagemaker/model/src/create_model.py
  components/aws/sagemaker/process/src/process.py
  components/aws/sagemaker/train/src/__init__.py
  components/aws/sagemaker/train/src/train.py.old
  components/aws/sagemaker/workteam/src/workteam.py
Due: kubeflow-pipelines-component-containers

Update black formatting
  components/aws/sagemaker/batch_transform/src/sagemaker_transform_component.py
  components/aws/sagemaker/common/sagemaker_component.py
  components/aws/sagemaker/deploy/src/sagemaker_deploy_component.py
  components/aws/sagemaker/deploy/src/sagemaker_deploy_spec.py
  components/aws/sagemaker/ground_truth/src/sagemaker_ground_truth_component.py
  components/aws/sagemaker/ground_truth/src/sagemaker_ground_truth_spec.py
  components/aws/sagemaker/hyperparameter_tuning/src/sagemaker_tuning_component.py
  components/aws/sagemaker/model/src/sagemaker_model_component.py
  components/aws/sagemaker/model/src/sagemaker_model_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/batch_transform/test_transform_component.py
  components/aws/sagemaker/tests/unit_tests/tests/batch_transform/test_transform_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/common/test_sagemaker_component.py
  components/aws/sagemaker/tests/unit_tests/tests/deploy/test_deploy_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/ground_truth/test_ground_truth_component.py
  components/aws/sagemaker/tests/unit_tests/tests/ground_truth/test_ground_truth_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/hyperparameter_tuning/test_tuning_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/model/test_model_component.py
  components/aws/sagemaker/tests/unit_tests/tests/model/test_model_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/process/test_process_component.py
  components/aws/sagemaker/tests/unit_tests/tests/process/test_process_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/train/test_train_component.py
  components/aws/sagemaker/tests/unit_tests/tests/train/test_train_spec.py
  components/aws/sagemaker/tests/unit_tests/tests/workteam/test_workteam_component.py
  components/aws/sagemaker/tests/unit_tests/tests/workteam/test_workteam_spec.py
  components/aws/sagemaker/train/src/sagemaker_training_component.py
  components/aws/sagemaker/workteam/src/sagemaker_workteam_component.py
Due: kubeflow-pipelines-component-containers

Add assume role feature
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/common/boto3_manager.py
  components/aws/sagemaker/common/common_inputs.py
  components/aws/sagemaker/common/generate_components.py
  components/aws/sagemaker/common/sagemaker_component.py
  components/aws/sagemaker/tests/unit_tests/tests/common/test_boto3_manager.py
Due: kubeflow-pipelines-component-containers

Update nits
  components/aws/sagemaker/CONTRIBUTING.md
  components/aws/sagemaker/common/boto3_manager.py
  components/aws/sagemaker/common/common_inputs.py
  components/aws/sagemaker/common/component_compiler.py
  components/aws/sagemaker/common/sagemaker_component.py
  components/aws/sagemaker/hyperparameter_tuning/src/sagemaker_tuning_component.py
  components/aws/sagemaker/tests/unit_tests/tests/common/test_sagemaker_component.py
  components/aws/sagemaker/train/src/sagemaker_training_component.py
Due: kubeflow-pipelines-component-containers

Compiled all components
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/src/sagemaker_tuning_component.py
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/train/src/built_in_algos.py
  components/aws/sagemaker/train/src/sagemaker_training_component.py
  components/aws/sagemaker/workteam/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Update compiler to use kfp structures
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/common/component_compiler.py
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/requirements.txt
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/workteam/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Fix process terminate syntax error
  components/aws/sagemaker/common/boto3_manager.py
  components/aws/sagemaker/process/src/sagemaker_process_component.py
  components/aws/sagemaker/tests/integration_tests/resources/config/kmeans-mnist-endpoint/config.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Update doc formatting
  components/aws/sagemaker/common/boto3_manager.py
  components/aws/sagemaker/common/common_inputs.py
  components/aws/sagemaker/common/generate_components.py
  components/aws/sagemaker/ground_truth/src/sagemaker_ground_truth_component.py
  components/aws/sagemaker/hyperparameter_tuning/src/sagemaker_tuning_component.py
  components/aws/sagemaker/process/src/sagemaker_process_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_processing_component.py
  components/aws/sagemaker/tests/integration_tests/utils/__init__.py
  components/aws/sagemaker/tests/unit_tests/tests/common/test_boto3_manager.py
  components/aws/sagemaker/train/src/built_in_algos.py
  components/aws/sagemaker/workteam/src/sagemaker_workteam_component.py
Due: kubeflow-pipelines-component-containers

Update unified requirements
  components/aws/sagemaker/requirements.txt
  components/aws/sagemaker/tests/unit_tests/Dockerfile
  components/aws/sagemaker/tests/unit_tests/README.md
  components/aws/sagemaker/tests/unit_tests/requirements.txt
  components/aws/sagemaker/tests/unit_tests/tests/common/test_component_compiler.py
  components/aws/sagemaker/tests/unit_tests/tests/common/test_sagemaker_component.py
Due: kubeflow-pipelines-component-containers

Add debugger unit tests
  components/aws/sagemaker/tests/unit_tests/tests/train/test_train_component.py
  components/aws/sagemaker/train/src/sagemaker_training_component.py
Due: kubeflow-pipelines-component-containers

Rebase on debugging commit
  components/aws/sagemaker/common/sagemaker_component.py
  components/aws/sagemaker/hyperparameter_tuning/src/sagemaker_tuning_component.py
  components/aws/sagemaker/requirements.txt
  components/aws/sagemaker/tests/integration_tests/component_tests/test_deploy_component.py
  components/aws/sagemaker/tests/integration_tests/utils/__init__.py
  components/aws/sagemaker/tests/unit_tests/tests/hyperparameter_tuning/test_tuning_component.py
  components/aws/sagemaker/tests/unit_tests/tests/train/test_train_component.py
  components/aws/sagemaker/train/src/sagemaker_training_component.py
  components/aws/sagemaker/train/src/sagemaker_training_spec.py
Due: kubeflow-pipelines-component-containers

Update formatting
  components/aws/sagemaker/tests/integration_tests/component_tests/test_deploy_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_groundtruth_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_train_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_workteam_component.py
  components/aws/sagemaker/tests/integration_tests/utils/__init__.py
  components/aws/sagemaker/tests/integration_tests/utils/sagemaker_utils.py
  components/aws/sagemaker/tests/unit_tests/tests/hyperparameter_tuning/test_tuning_component.py
  components/aws/sagemaker/tests/unit_tests/tests/train/test_train_component.py
  components/aws/sagemaker/train/src/sagemaker_training_component.py
  components/aws/sagemaker/train/src/sagemaker_training_spec.py
  samples/contrib/aws-samples/sagemaker_debugger_demo/debugger-training-pipeline.py
Due: kubeflow-pipelines-component-containers

Update component YAML
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/workteam/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Fix unit test Dockerfile relative directory
  components/aws/sagemaker/tests/unit_tests/Dockerfile
Due: kubeflow-pipelines-component-containers

Update unit test context to root
  components/aws/sagemaker/codebuild/unit-test.buildspec.yml
  components/aws/sagemaker/tests/unit_tests/Dockerfile
Due: kubeflow-pipelines-component-containers

fix: cleanup oidc provider
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: kubeflow-pipelines-component-containers

improve container build steps
  developer_guide.md
Due: none

add go.mod files
  backend/src/apiserver/go.mod
  backend/src/apiserver/go.sum
Due: none

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*
