Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

kubeflow-pipelines-sdk-python35:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.5
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-component-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-component-containers.sh

kubeflow-pipelines-backend-visualization:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

fixed nits
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_util.go
  backend/src/apiserver/resource/resource_manager_util_test.go
Due: none

address review comments
  sdk/python/kfp/v2/compiler/compiler_test.py
  sdk/python/kfp/v2/dsl/component_bridge.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

make the test case more complex
  sdk/python/kfp/compiler/compiler.py
  sdk/python/tests/compiler/testdata/uri_artifacts.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

chore (sdk.v2): Error out on using InputPath placeholder for artifacts require importer. (#4929)
  sdk/python/kfp/v2/compiler/compiler_test.py
  sdk/python/kfp/v2/dsl/component_bridge.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

update-docs-of-deploying-apiserver
  backend/README.md
Due: none

fixed nits
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/util.go
Due: none

fixed nits
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/server/util.go
  backend/src/apiserver/server/util_test.go
Due: none

docs(backend)update docs of deploying apiserver (#4930)
  backend/README.md
Due: none

fix(backend): fixed validation logic and resource manager logic when creating job and run (#4914)
  backend/src/apiserver/resource/client_manager_fake.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/apiserver/resource/resource_manager_util.go
  backend/src/apiserver/resource/resource_manager_util_test.go
  backend/src/apiserver/server/job_server.go
  backend/src/apiserver/server/job_server_test.go
  backend/src/apiserver/server/run_server.go
  backend/src/apiserver/server/run_server_test.go
  backend/src/apiserver/server/test_util.go
  backend/src/apiserver/server/util.go
  backend/src/apiserver/server/util_test.go
Due: none

Fix the case when working with OpsGroup
  sdk/python/kfp/compiler/_data_passing_rewriter.py
  sdk/python/kfp/compiler/compiler.py
  sdk/python/tests/compiler/testdata/uri_artifacts.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Fix test case
  sdk/python/tests/compiler/compiler_tests.py
  sdk/python/tests/compiler/testdata/uri_artifacts.py
  sdk/python/tests/compiler/testdata/uri_artifacts.yaml
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix resolving test
  sdk/python/kfp/components_tests/test_components.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix redundant cmd lines
  sdk/python/kfp/compiler/_data_passing_rewriter.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

feat(kfp): Correct link generation for multi user
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Add the guidelines of writing UT of golang part in Contrubuting.md
  CONTRIBUTING.md
Due: none

fixed nits:
  CONTRIBUTING.md
Due: none

update naming and return types
  backend/src/crd/controller/scheduledworkflow/util/cron_schedule.go
  backend/src/crd/controller/scheduledworkflow/util/cron_schedule_test.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go
Due: none

Delete unused to_table component item
  components/gcp/bigquery/query/to_table/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

feat(frontend): Reorganize Experiments, Runs, and Archive pages. Fixes #4918 (#4919)
  frontend/src/components/Router.tsx
  frontend/src/components/SideNav.tsx
  frontend/src/components/__snapshots__/SideNav.test.tsx.snap
  frontend/src/lib/Buttons.ts
  frontend/src/pages/AllExperimentsAndArchive.test.tsx
  frontend/src/pages/AllExperimentsAndArchive.tsx
  frontend/src/pages/AllRunsAndArchive.test.jsx.tsx
  frontend/src/pages/AllRunsAndArchive.tsx
  frontend/src/pages/AllRunsList.tsx
  frontend/src/pages/ArchivedExperiments.tsx
  frontend/src/pages/ArchivedRuns.tsx
  frontend/src/pages/ExperimentList.tsx
  frontend/src/pages/__snapshots__/AllExperimentsAndArchive.test.tsx.snap
  frontend/src/pages/__snapshots__/AllRunsList.test.tsx.snap
  frontend/src/pages/__snapshots__/ArchivedExperiments.test.tsx.snap
  frontend/src/pages/__snapshots__/ArchivedRuns.test.tsx.snap
  frontend/src/pages/__snapshots__/ExperimentsAndRuns.test.tsx.snap
  test/frontend-integration-test/helloworld.spec.js
Due: kubeflow-pipelines-component-containers

Fixes typo of 'desc'. 'des' is not recognized.
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix(frontend): Change CachedIcon to something more intuitive (#4912)
  frontend/src/icons/statusCached.tsx
  frontend/src/pages/Status.tsx
  frontend/src/pages/__snapshots__/Status.test.tsx.snap
Due: none

fix(sdk): fixes typo of 'desc'. (#4938)
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

updated with sleep and TODO
  samples/core/parallelism_sub_dag/parallelism_sub_dag.py
  samples/core/parallelism_sub_dag_with_op_output/parallelism_sub_dag_with_op_output.py
  sdk/python/kfp/compiler/compiler.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix imports
  samples/core/parallelism_sub_dag/parallelism_sub_dag.py
  samples/core/parallelism_sub_dag_with_op_output/parallelism_sub_dag_with_op_output.py
Due: none

feat(compiler): add dsl operation for parallelism on sub dag level (#4199)
  samples/core/parallelism_sub_dag/parallelism_sub_dag.py
  samples/core/parallelism_sub_dag_with_op_output/parallelism_sub_dag_with_op_output.py
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/dsl/__init__.py
  sdk/python/kfp/dsl/_ops_group.py
  test/sample-test/configs/parallelism_sub_dag.yaml
  test/sample_test.yaml
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

updated to UTC as default
  manifests/kustomize/base/params.env
Due: none

added examples
  CONTRIBUTING.md
Due: none

docs: Add the guidelines of writing UT of golang part in Contrubuting.md (#4935)
  CONTRIBUTING.md
Due: none

resolve comments
  sdk/python/kfp/compiler/_data_passing_rewriter.py
  sdk/python/kfp/components/_components.py
  sdk/python/kfp/components_tests/test_components.py
  sdk/python/kfp/containers/run_container.py
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/kfp/dsl/_pipeline.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

fix file outputs
  sdk/python/kfp/dsl/_component_bridge.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

resolve comments
  sdk/python/kfp/compiler/_data_passing_rewriter.py
  sdk/python/kfp/dsl/_container_op.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*
