Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*

Add base Artifact class
  sdk/python/kfp/v2/dsl/artifact_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

add __repr__ test
  sdk/python/kfp/v2/dsl/artifact_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

add __repr__ test
  sdk/python/kfp/v2/dsl/artifact.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

reverted back
  backend/src/crd/controller/scheduledworkflow/controller.go
  backend/src/crd/controller/scheduledworkflow/main.go
  backend/src/crd/controller/scheduledworkflow/util/cron_schedule.go
  backend/src/crd/controller/scheduledworkflow/util/cron_schedule_test.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow.go
  backend/src/crd/controller/scheduledworkflow/util/scheduled_workflow_test.go
  manifests/kustomize/base/params.env
Due: none

add serialization
  sdk/python/kfp/v2/dsl/artifact.py
  sdk/python/kfp/v2/dsl/artifact_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

add serialization tests
  sdk/python/kfp/v2/dsl/artifact.py
  sdk/python/kfp/v2/dsl/artifact_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

feat(sdk): Components - Restored stack traces in lightweight python components. Fixes #4273, #4849 (#4861)
  sdk/python/kfp/components/_python_op.py
  sdk/python/kfp/containers/_component_builder.py
  sdk/python/tests/compiler/testdata/parallelfor_item_argument_resolving.yaml
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

add deserialization tests
  sdk/python/kfp/v2/dsl/artifact.py
  sdk/python/kfp/v2/dsl/artifact_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

add absl-py
  sdk/python/requirements.in
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

update requirements
  sdk/python/requirements.txt
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

feat(sdk): Add settings of the dnsConfig field. Fixes #4836 (#4837)
  samples/core/dns_config/dns_config.py
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/dsl/_pipeline.py
  sdk/python/tests/compiler/compiler_tests.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

docs(backend): clean up readme
  backend/README.md
Due: none

docs(backend): clean up readme (#4896)
  backend/README.md
Due: none

feat(components): Add v1beta1 Katib launcher and samples (#4798)
  components/kubeflow/katib-launcher/Dockerfile
  components/kubeflow/katib-launcher/build_image.sh
  components/kubeflow/katib-launcher/component.yaml
  components/kubeflow/katib-launcher/requirements.txt
  components/kubeflow/katib-launcher/sample.py
  components/kubeflow/katib-launcher/sample2.py
  components/kubeflow/katib-launcher/src/__init__.py
  components/kubeflow/katib-launcher/src/launch_experiment.py
  samples/contrib/kubeflow-katib/OWNERS
  samples/contrib/kubeflow-katib/README.md
  samples/contrib/kubeflow-katib/early-stopping.ipynb
  samples/contrib/kubeflow-katib/mpi-job-horovod.py
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Resolve comments
  sdk/python/kfp/v2/dsl/artifact.py
  sdk/python/requirements.in
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

update comments of _create_job_config
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

feat(SDK): adds Artifact base class. (#4895)
  sdk/python/kfp/v2/dsl/artifact.py
  sdk/python/kfp/v2/dsl/artifact_test.py
  sdk/python/requirements.in
  sdk/python/requirements.txt
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

cleand up comments
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

update
  sdk/python/kfp/v2/dsl/artifact.py
  sdk/python/kfp/v2/dsl/artifact_test.py
  sdk/python/kfp/v2/dsl/artifacts.py
  sdk/python/kfp/v2/dsl/artifacts_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

change get_artifact_type to classmethod
  sdk/python/kfp/v2/dsl/artifact.py
  sdk/python/kfp/v2/dsl/type_utils.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fixed comments
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix NoneType serialization
  sdk/python/kfp/v2/dsl/artifact.py
  sdk/python/kfp/v2/dsl/artifact_test.py
  sdk/python/kfp/v2/dsl/type_utils.py
  sdk/python/kfp/v2/dsl/type_utils_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix tests
  sdk/python/kfp/v2/dsl/type_utils_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix compiler cli tests
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_ontology.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_resource_spec.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/pipeline_with_various_io_types.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/simple_pipeline_without_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.json
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

test(cache): fix cache deployer image build in apk add command
  backend/src/cache/deployer/Dockerfile
Due: none

fix tests
  sdk/python/kfp/v2/dsl/artifacts_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

test(cache): fix cache deployer image build in apk add command (#4902)
  backend/src/cache/deployer/Dockerfile
Due: none

fix(sdk): make healthz exception visible in logs by default
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

only catch exceptions, but not keyboard interrupt
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Added support for specifying resources for custom model deployment
  components/kubeflow/kfserving/src/kfservingdeployer.py
Due: kubeflow-pipelines-component-containers

fix(frontend): Use task_display_name annotation when displaying run metrics (#4875)
  frontend/src/lib/CompareUtils.test.ts
  frontend/src/lib/CompareUtils.ts
  frontend/src/lib/ParserUtils.ts
  frontend/src/lib/WorkflowParser.ts
Due: none
