Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

kubeflow-pipelines-sdk-python35:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.5
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-component-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-component-containers.sh

kubeflow-pipelines-backend-visualization:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

Removes recurse configuration for simplicity
  components/google-cloud/storage/download/component.yaml
  components/google-cloud/storage/download_blob/component.yaml
  components/google-cloud/storage/download_dir/component.yaml
  components/google-cloud/storage/upload_dir_contents/component.yaml
  components/google-cloud/storage/upload_to_explicit_uri/component.yaml
  components/google-cloud/storage/upload_to_unique_uri/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Update black formatting for all files
  components/aws/sagemaker/batch_transform/src/batch_transform.py
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/deploy/src/deploy.py
  components/aws/sagemaker/ground_truth/src/ground_truth.py
  components/aws/sagemaker/hyperparameter_tuning/src/hyperparameter_tuning.py
  components/aws/sagemaker/model/src/create_model.py
  components/aws/sagemaker/process/src/process.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_batch_transform_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_hpo_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_processing_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_train_component.py
  components/aws/sagemaker/tests/integration_tests/scripts/kmeans_preprocessing.py
  components/aws/sagemaker/tests/integration_tests/utils/argo_utils.py
  components/aws/sagemaker/tests/unit_tests/tests/test_batch_transform.py
  components/aws/sagemaker/tests/unit_tests/tests/test_deploy.py
  components/aws/sagemaker/tests/unit_tests/tests/test_ground_truth.py
  components/aws/sagemaker/tests/unit_tests/tests/test_hpo.py
  components/aws/sagemaker/tests/unit_tests/tests/test_model.py
  components/aws/sagemaker/tests/unit_tests/tests/test_process.py
  components/aws/sagemaker/tests/unit_tests/tests/test_train.py
  components/aws/sagemaker/tests/unit_tests/tests/test_utils.py
  components/aws/sagemaker/tests/unit_tests/tests/test_workteam.py
  components/aws/sagemaker/train/src/train.py
  components/aws/sagemaker/workteam/src/workteam.py
Due: kubeflow-pipelines-component-containers

Add client assume role functionality
  components/aws/sagemaker/batch_transform/src/batch_transform.py
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/deploy/src/deploy.py
  components/aws/sagemaker/ground_truth/src/ground_truth.py
  components/aws/sagemaker/hyperparameter_tuning/src/hyperparameter_tuning.py
  components/aws/sagemaker/model/src/create_model.py
  components/aws/sagemaker/process/src/process.py
  components/aws/sagemaker/tests/unit_tests/tests/test_utils.py
  components/aws/sagemaker/train/src/train.py
  components/aws/sagemaker/workteam/src/workteam.py
Due: kubeflow-pipelines-component-containers

Add assume_role to component.yaml files
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/workteam/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Update image to personal
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/workteam/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Update input to force NoneType on empty
  components/aws/sagemaker/common/_utils.py
Due: kubeflow-pipelines-component-containers

Add detailed error message when visualization server is not accessible
  backend/src/apiserver/server/visualization_server.go
  backend/src/apiserver/server/visualization_server_test.go
Due: none

Update _create_cluster.py
  components/gcp/container/component_sdk/python/kfp_component/google/dataproc/_create_cluster.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers

feat(backend): sorting on run metrics - step 1 (#4203)
  backend/src/apiserver/storage/run_store.go
Due: none

Update VERSION
  VERSION
Due: none

Update parallelism_sub_dag.yaml
  test/sample-test/configs/parallelism_sub_dag.yaml
Due: none

feat: Add option to specify either pipeline_id or pipeline_name
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Update sample_test.yaml
  test/sample_test.yaml
Due: none

doc: versioning policy doc revamp by Bobgy
  docs/releases/versioning-policy.md
Due: none

Update sdk/python/kfp/_client.py
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Update integration test setup with assumed role
  components/aws/sagemaker/tests/integration_tests/scripts/generate_iam_role
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
Due: kubeflow-pipelines-component-containers

Fix KFP SDK TFX tests by specifying transitive dependency to resolve google-auth mismatch
  .travis.yml
Due: none

Add assume role integration test
  components/aws/sagemaker/tests/integration_tests/component_tests/test_train_component.py
  components/aws/sagemaker/tests/integration_tests/conftest.py
  components/aws/sagemaker/tests/integration_tests/resources/config/assume-role-training/config.yaml
  components/aws/sagemaker/tests/integration_tests/resources/definition/training_pipeline.py
  components/aws/sagemaker/tests/integration_tests/scripts/run_integration_tests
  components/aws/sagemaker/tests/integration_tests/utils/__init__.py
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

SDK - Components - Fixed examples in docstrings (#4074)
  sdk/python/kfp/components/_python_op.py
  sdk/python/kfp/components/_python_to_graph_component.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

fix(sdk): SDK - Avoiding deprecated ContainerOp methods (#4134)
  samples/tutorials/gpu/gpu.ipynb
  sdk/python/kfp/gcp.py
  sdk/python/tests/compiler/testdata/basic.py
  sdk/python/tests/compiler/testdata/basic_no_decorator.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

test: Added presubmit unit tests for the component.yaml definitions (#4135)
  test/presubmit-component-yaml.sh
Due: none

test: Added presubmit unit tests for the GCP components (#4137)
  components/gcp/container/component_sdk/python/tox.ini
  test/presubmit-components-gcp.sh
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers

done
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

feat(sdk/client): add cookie configuration to kfp client (#2679)
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

add integ test for mnist sample pipeline
  components/aws/sagemaker/tests/integration_tests/component_tests/test_sample_pipeline_mnist.py
  components/aws/sagemaker/tests/integration_tests/resources/config/sample-pipeline-mnist/config.yaml
  samples/contrib/aws-samples/mnist-kmeans-sagemaker/mnist-classification-pipeline.py
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

test: Fix KFP SDK TFX tests by specifying transitive dependency to resolve google-auth mismatch (#4211)
  .travis.yml
Due: none

Fix: Optionals, incorrect var reference
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Fix: import orders
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

support local file storage type for local volume mount path, refer: https://github.com/kubeflow/pipelines/issues/4208
  frontend/server/handlers/artifacts.ts
  frontend/src/lib/WorkflowParser.test.ts
  frontend/src/lib/WorkflowParser.ts
Due: none

Prepare SDK docs environment so its easier to understand how to build the docs locally so theyre consistent with ReadTheDocs.
  .readthedocs.yml
  docs/conf.py
  docs/requirements.txt
Due: none

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*
