Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

kubeflow-pipelines-sdk-python35:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.5
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-component-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-component-containers.sh

kubeflow-pipelines-backend-visualization:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

fix conflicting paths for download, add test for batch
  components/aws/sagemaker/tests/integration_tests/component_tests/test_batch_transform_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_hpo_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_processing_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_train_component.py
Due: kubeflow-pipelines-component-containers

Apply suggestions from code review
  samples/contrib/e2e-mnist/mnist-pipeline.ipynb
Due: none

update notebook description
  samples/contrib/e2e-mnist/mnist-pipeline.ipynb
Due: none

feat(components): AWS SageMaker - Add functionality to stop SageMaker jobs on run termination (#4167)
  components/aws/sagemaker/Changelog.md
  components/aws/sagemaker/THIRD-PARTY-LICENSES.txt
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/batch_transform/src/batch_transform.py
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/ground_truth/src/ground_truth.py
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/src/hyperparameter_tuning.py
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/process/src/process.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_batch_transform_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_groundtruth_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_hpo_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_processing_component.py
  components/aws/sagemaker/tests/integration_tests/component_tests/test_train_component.py
  components/aws/sagemaker/tests/integration_tests/resources/definition/hpo_pipeline.py
  components/aws/sagemaker/tests/integration_tests/resources/definition/training_pipeline.py
  components/aws/sagemaker/tests/integration_tests/utils/kfp_client_utils.py
  components/aws/sagemaker/tests/unit_tests/tests/test_batch_transform.py
  components/aws/sagemaker/tests/unit_tests/tests/test_ground_truth.py
  components/aws/sagemaker/tests/unit_tests/tests/test_hpo.py
  components/aws/sagemaker/tests/unit_tests/tests/test_process.py
  components/aws/sagemaker/tests/unit_tests/tests/test_train.py
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/train/src/train.py
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

revert old code indent
  frontend/server/handlers/artifacts.ts
Due: none

Components - ml_metrics - Calculate_regression_metrics - Added the metrics and number_of_items outputs
  components/ml_metrics/Calculate_regression_metrics/from_CSV/component.py
  components/ml_metrics/Calculate_regression_metrics/from_CSV/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Components - ml_metrics - Added the Aggregate_regression_metrics component
  components/ml_metrics/Aggregate_regression_metrics/component.py
  components/ml_metrics/Aggregate_regression_metrics/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Components - XGBoost - Added the Train_regression_and_calculate_metrics component
  components/XGBoost/Train_regression_and_calculate_metrics/from_CSV/component.py
  components/XGBoost/Train_regression_and_calculate_metrics/from_CSV/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Components - XGBoost - Added the Cross_validation_for_regression component
  components/XGBoost/Cross_validation_for_regression/from_CSV/component.py
  components/XGBoost/Cross_validation_for_regression/from_CSV/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

run 'npm run format' to format code
  frontend/server/handlers/artifacts.ts
Due: none

Components - XGBoost - Added Train_and_cross-validate_regression component
  components/XGBoost/Train_and_cross-validate_regression/from_CSV/component.py
  components/XGBoost/Train_and_cross-validate_regression/from_CSV/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Added sample pipeline
  components/XGBoost/_samples/training_with_cross_validation.py
Due: kubeflow-pipelines-component-containers

certificat approval
  manifests/kustomize/base/cache-deployer/cache-deployer-role.yaml
Due: none

Components - XGBoost - Added the Cross_validation_for_regression component (#4244)
  components/XGBoost/Cross_validation_for_regression/from_CSV/component.py
  components/XGBoost/Cross_validation_for_regression/from_CSV/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

feat(sdk/client): add cookie configuration to kfp client (#2679)
  sdk/python/kfp/_client.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

test: Fix KFP SDK TFX tests by specifying transitive dependency to resolve google-auth mismatch (#4211)
  .travis.yml
Due: none

test(backend): prepares a test/presubmit-backend-test.sh script. Part of #3436 (#4220)
  test/presubmit-backend-test.sh
Due: none

SDK - Components - Temporary removed Kubernetes options from ComponentSpec (#4230)
  sdk/python/kfp/components/_structures.py
  sdk/python/kfp/components/structures/components.json_schema.json
  sdk/python/kfp/components/structures/components.json_schema.outline.yaml
  sdk/python/kfp/components/structures/components.proto
  sdk/python/kfp/components/structures/kubernetes/__init__.py
  sdk/python/kfp/components/structures/kubernetes/v1.py
  sdk/python/kfp/components_tests/test_graph_components.py
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

fix(backend): Metadata Writer - Fixed regression with artifact type retrieval. Fixes #3971 (#4231)
  backend/metadata_writer/src/metadata_writer.py
Due: none

Components - XGBoost - Added Train_and_cross-validate_regression component (#4245)
  components/XGBoost/Train_and_cross-validate_regression/from_CSV/component.py
  components/XGBoost/Train_and_cross-validate_regression/from_CSV/component.yaml
  components/XGBoost/_samples/training_with_cross_validation.py
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Components - XGBoost - Added the Train_regression_and_calculate_metrics component (#4243)
  components/XGBoost/Train_regression_and_calculate_metrics/from_CSV/component.py
  components/XGBoost/Train_regression_and_calculate_metrics/from_CSV/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

unit test: add sorting on metrics with both asc and desc order
  backend/src/apiserver/storage/run_store_test.go
Due: none

chore(release): Generate CHANGELOG.md from 0.5.1 to 1.0.0.
  CHANGELOG.md
Due: none

doc(release): instructions for update master branch version and etc
  RELEASE.md
Due: none

update tag name for release note
  RELEASE.md
Due: none

Components - ml_metrics - Added the Aggregate_regression_metrics component (#4240)
  components/ml_metrics/Aggregate_regression_metrics/component.py
  components/ml_metrics/Aggregate_regression_metrics/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

GetFieldValue in all models
  backend/src/apiserver/list/list.go
  backend/src/apiserver/model/experiment.go
  backend/src/apiserver/model/job.go
  backend/src/apiserver/model/pipeline.go
  backend/src/apiserver/model/pipeline_version.go
Due: none

Update RELEASE.md
  RELEASE.md
Due: none

fix unit test
  backend/src/apiserver/list/list_test.go
Due: none

feat(deployment): GCP managed storage - detailed instructions to set up workload identity bindings before deployment (#4232)
  CHANGELOG.md
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-ui-configmap.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-ui-deployment.yaml
  manifests/kustomize/base/pipeline/viewer-sa.yaml
  manifests/kustomize/gcp-workload-identity-setup.sh
  manifests/kustomize/sample/README.md
  test/deploy-pipeline-lite.sh
Due: none

whether to test in list_test. It's hacky when check mode == 'run'
  backend/src/apiserver/list/list.go
  backend/src/apiserver/list/list_test.go
Due: none

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*
