Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

kubeflow-pipelines-sdk-python35:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.5
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-component-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-component-containers.sh

kubeflow-pipelines-backend-visualization:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

copy file outputs instead of modifying inplace.
  sdk/python/kfp/dsl/_component_bridge.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

feat(sdk): Replace command output messages from print/logging to click echo statements
  sdk/python/kfp/cli/cli.py
  sdk/python/kfp/cli/diagnose_me_cli.py
  sdk/python/kfp/cli/experiment.py
  sdk/python/kfp/cli/output.py
  sdk/python/kfp/cli/pipeline.py
  sdk/python/kfp/cli/run.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Added checks for parallism values
  sdk/python/kfp/dsl/_ops_group.py
  sdk/python/kfp/dsl/_pipeline.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix variable name
  sdk/python/kfp/dsl/_pipeline.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

[UI] Show run ID in the config tab of RunDetails
  frontend/src/pages/RunDetails.tsx
  frontend/src/pages/__snapshots__/RunDetails.test.tsx.snap
Due: none

[UI] Show workflow name in the config tab of RunDetails
  frontend/src/pages/RunDetails.tsx
  frontend/src/pages/__snapshots__/RunDetails.test.tsx.snap
Due: none

AIP-3158: Add in ability to override the template handler for a BaseOp.
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/dsl/_container_op.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

AIP-3158: It actually needs to return a list of templates as it extends the returned values
  sdk/python/kfp/dsl/_container_op.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

skeleton
  sdk/python/kfp/containers/entrypoint.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

add default V1ContainerPort protocol value
  components/kubeflow/kfserving/src/kfservingdeployer.py
Due: kubeflow-pipelines-component-containers

feat(sdk): Implements artifact URI placeholder. (#4932)
  sdk/python/kfp/compiler/_data_passing_rewriter.py
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/components/_components.py
  sdk/python/kfp/components_tests/test_components.py
  sdk/python/kfp/containers/run_container.py
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/kfp/dsl/_pipeline.py
  sdk/python/tests/compiler/compiler_tests.py
  sdk/python/tests/compiler/testdata/uri_artifacts.py
  sdk/python/tests/compiler/testdata/uri_artifacts.yaml
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

Change enqueue base delay in non-error mode to 1 second
  backend/src/agent/persistence/worker/persistence_worker.go
  backend/src/apiserver/resource/resource_manager.go
Due: none

added Terminating constants
  backend/src/apiserver/model/run.go
  backend/src/apiserver/resource/resource_manager.go
Due: none

used terminating constants in store layer
  backend/src/apiserver/storage/run_store.go
Due: none

modified comments
  backend/src/agent/persistence/worker/persistence_worker.go
Due: none

Update GCP component container to Python 3.7, fix Dataflow client
  components/gcp/container/Dockerfile
  components/gcp/container/component_sdk/python/kfp_component/google/dataflow/_client.py
  components/gcp/container/component_sdk/python/kfp_component/google/dataflow/_launch_python.py
  components/gcp/dataflow/launch_python/component.yaml
  components/gcp/dataflow/launch_python/sample.ipynb
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers

fix test
  components/gcp/container/component_sdk/python/kfp_component/google/dataflow/_launch_python.py
  components/gcp/container/component_sdk/python/setup.py
  components/gcp/container/component_sdk/python/tests/google/dataflow/test__launch_python.py
  components/gcp/container/component_sdk/python/tox.ini
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers

add entrypoint utils to parse param
  sdk/python/kfp/containers/entrypoint.py
  sdk/python/kfp/containers/entrypoint_utils.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

add back the http patch
  components/gcp/container/Dockerfile
Due: kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers

wip: artifact parsing
  sdk/python/kfp/containers/entrypoint.py
  sdk/python/kfp/containers/entrypoint_utils.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix(components): Update GCP component container to Python 3.7. Fixes #4959 (#4960)
  components/gcp/container/Dockerfile
  components/gcp/container/component_sdk/python/kfp_component/google/dataflow/_client.py
  components/gcp/container/component_sdk/python/kfp_component/google/dataflow/_launch_python.py
  components/gcp/container/component_sdk/python/setup.py
  components/gcp/container/component_sdk/python/tests/google/dataflow/test__launch_python.py
  components/gcp/container/component_sdk/python/tox.ini
  components/gcp/dataflow/launch_python/component.yaml
  components/gcp/dataflow/launch_python/sample.ipynb
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers

move modules back to v1
  sdk/python/kfp/dsl/artifact.py
  sdk/python/kfp/dsl/ontology_artifacts.py
  sdk/python/kfp/dsl/serialization_utils.py
  sdk/python/kfp/v2/dsl/ontology_artifacts_test.py
  sdk/python/kfp/v2/dsl/serialization_utils_test.py
  sdk/python/kfp/v2/dsl/type_utils.py
  sdk/python/tests/dsl/artifact_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

move and fix ontology tests
  sdk/python/kfp/dsl/artifact.py
  sdk/python/tests/dsl/ontology_artifacts_test.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

chore: add capri-xiyue as backend reviewer
  backend/OWNERS
  test/api-integration-test/OWNERS
Due: none

chore: add capri-xiyue as backend reviewer (#4964)
  backend/OWNERS
  test/api-integration-test/OWNERS
Due: none

missed to update component
  components/kubeflow/launcher/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

changed containerRuntimeExecutor to pns
  manifests/kustomize/base/params.env
  manifests/kustomize/env/dev/kustomization.yaml
  test/deploy-pipeline-lite.sh
Due: none

fixed typo
  test/deploy-pipeline-lite.sh
Due: none

refactor(components): parametrize InferenceService resource watching timeout (#4951)
  components/kubeflow/kfserving/component.yaml
  components/kubeflow/kfserving/src/kfservingdeployer.py
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

fix(components): Add default V1ContainerPort protocol value for the kfserving component (#4956)
  components/kubeflow/kfserving/src/kfservingdeployer.py
Due: kubeflow-pipelines-component-containers

changed base to pns
  manifests/kustomize/env/dev/kustomization.yaml
Due: none

deleted platform-agnostic-pns
  manifests/kustomize/env/platform-agnostic-pns/kustomization.yaml
  manifests/kustomize/env/platform-agnostic-pns/params.env
Due: none

feat(components): Added support for specifying resources for custom model deployment (#4905)
  components/kubeflow/kfserving/src/kfservingdeployer.py
Due: kubeflow-pipelines-component-containers

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*
