Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

kubeflow-pipelines-sdk-python35:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.5
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-component-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-component-containers.sh

kubeflow-pipelines-backend-visualization:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

fix(sdk): Allow non-pythonic names for graph components' task's outputs. Fixes #4514. (#4515)
  sdk/python/kfp/components/_components.py
  sdk/python/tests/dsl/component_bridge_tests.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

fix(backend): Cache Deployer - Fixed grep call (#4568)
  backend/src/cache/deployer/deploy-cache-service.sh
Due: none

fix(cache): Cache deployer - Using the same kubectl version as the server (#4525)
  backend/src/cache/deployer/deploy-cache-service.sh
Due: none

feat(sdk): Added optional argument to specify description for pipeline upload (#4577)
  sdk/python/kfp/cli/pipeline.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

chore: update @kubeflow/frontend to include MLMD client upgrade
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: update @kubeflow/frontend to include MLMD client upgrade to 0.22.1 (#4605)
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
Due: none

feat(sdk): Adds missing short options to the cli (#4604)
  sdk/python/kfp/cli/experiment.py
  sdk/python/kfp/cli/pipeline.py
  sdk/python/kfp/cli/run.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

build: update proxy agent to fix CVE vulnerabilities
  proxy/Dockerfile
Due: none

build: update proxy agent to fix CVE vulnerabilities. Fixes #4531 (#4606)
  proxy/Dockerfile
Due: none

test presubmit
  README.md
Due: none

Components - Added JSON query components
  components/json/Get_element_by_index/component.yaml
  components/json/Get_element_by_key/component.yaml
  components/json/Query/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Use Managed NodeGroup for EKS Cluster
  manifests/kustomize/env/aws/README.md
Due: none

Components - Simplified graph component child task resolving
  sdk/python/kfp/components/_components.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

Dropped support for Python 3.5
  backend/Dockerfile
  backend/update_requirements.sh
  sdk/python/setup.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

SDK - Components - Fixed ModelBase handling of open generic types in Python 3.9
  sdk/python/kfp/components/modelbase.py
  sdk/python/kfp/components_tests/test_structure_model_base.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

SDK - Components - Fixed handling of typing.NamedTuple in Python 3.9
  sdk/python/kfp/components/_python_op.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

SDK - Components - Tests - Made python component tests use the same python executable to run the components
  sdk/python/kfp/components_tests/test_python_op.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

feat(sdk): Preserve parameter arguments and input names (#4563)
  sdk/python/kfp/compiler/_op_to_template.py
  sdk/python/kfp/dsl/_component_bridge.py
  sdk/python/kfp/dsl/_container_op.py
  sdk/python/tests/compiler/compiler_tests.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

fix(doc): Use Managed NodeGroup for EKS Cluster (#4609)
  manifests/kustomize/env/aws/README.md
Due: none

fix bug on input paramter connection
  sdk/python/kfp/v2/compiler_tests/test_data/two_step_pipeline_with_importer.json
  sdk/python/kfp/v2/dsl/component_bridge.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

address comments
  frontend/src/lib/Utils.tsx
Due: none

linting
  sdk/python/kfp/v2/compiler_tests/test_data/simple_pipeline_without_importer.json
  sdk/python/kfp/v2/compiler_tests/test_data/simple_pipeline_without_importer.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Update IR ExecutorOutput message
  api/v2alpha1/pipeline_spec.proto
  sdk/python/kfp/v2/proto/pipeline_spec_pb2.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

feat(deployment): Kustomize manifest for Azure deployments (#4567)
  manifests/kustomize/env/azure/OWNERS
  manifests/kustomize/env/azure/kustomization.yaml
  manifests/kustomize/env/azure/minio-azure-gateway/kustomization.yaml
  manifests/kustomize/env/azure/minio-azure-gateway/minio-artifact-secret.env
  manifests/kustomize/env/azure/minio-azure-gateway/minio-azure-gateway-deployment.yaml
  manifests/kustomize/env/azure/minio-azure-gateway/minio-azure-gateway-service.yaml
  manifests/kustomize/env/azure/mysql-secret.env
  manifests/kustomize/env/azure/params.env
  manifests/kustomize/env/azure/readme.md
Due: none

SDK - Refactoring - Moved the component bridge installation to the compiler
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/dsl/_pipeline.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Components - Added the Google Cloud Optimizer components
  components/google-cloud/Optimizer/Add_measurement_for_trial/component.py
  components/google-cloud/Optimizer/Add_measurement_for_trial/component.yaml
  components/google-cloud/Optimizer/Create_study/component.py
  components/google-cloud/Optimizer/Create_study/component.yaml
  components/google-cloud/Optimizer/Suggest_trials/component.py
  components/google-cloud/Optimizer/Suggest_trials/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

restructure tests
  sdk/python/kfp/v2/compiler/compiler_test.py
  sdk/python/kfp/v2/compiler/importer_node_test.py
  sdk/python/kfp/v2/compiler_cli_tests/__init__.py
  sdk/python/kfp/v2/compiler_cli_tests/compiler_cli_tests.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/component_yaml/serving_component.yaml
  sdk/python/kfp/v2/compiler_cli_tests/test_data/component_yaml/trainer_component.yaml
  sdk/python/kfp/v2/compiler_cli_tests/test_data/simple_pipeline_without_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/simple_pipeline_without_importer.py
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.json
  sdk/python/kfp/v2/compiler_cli_tests/test_data/two_step_pipeline_with_importer.py
  sdk/python/kfp/v2/compiler_tests/main.py
  sdk/python/kfp/v2/dsl/type_utils_test.py
  sdk/python/kfp/v2/dsl_tests/__init__.py
  sdk/python/kfp/v2/dsl_tests/main.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

feat(components): Added the Run notebook using papermill component. Fixes #497 (#4578)
  components/notebooks/Run_notebook_using_papermill/component.yaml
  components/notebooks/samples/sample_pipeline.py
  components/notebooks/samples/test_notebook.ipynb
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*
