Repository kubeflow/pipelines: changes, and which Prow jobs are due for each by the changed paths.
All: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-yaml, kubeflow-pipelines-components-gcp-python27, kubeflow-pipelines-components-gcp-python37, kubeflow-pipelines-component-containers, kubeflow-pipelines-backend-visualization

kubeflow-pipelines-sdk-python35:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.5
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-sdk-python38:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.8
      command:
      - ./test/presubmit-tests-sdk.sh

kubeflow-pipelines-tfx-python36:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-tests-tfx.sh

kubeflow-pipelines-component-yaml:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-component-yaml.sh

kubeflow-pipelines-components-gcp-python27:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:2.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-components-gcp-python37:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-components-gcp.sh

kubeflow-pipelines-component-containers:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.7
      command:
      - ./test/presubmit-component-containers.sh

kubeflow-pipelines-backend-visualization:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: python:3.6
      command:
      - ./test/presubmit-backend-visualization.sh

disable kf-tf-serving sample
  test/sample_test.yaml
Due: none

test: disable kf-tf-serving sample test to unblock release. (#4483)
  test/sample_test.yaml
Due: none

Reduce ttl of persisted final workflow to 1 day (#4005)
  backend/Dockerfile.persistenceagent
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/pipeline.yaml
  manifests/kustomize/base/pipeline/ml-pipeline-persistenceagent-deployment.yaml
Due: none

fix(backend): workflow not found error should be permanent
  backend/src/apiserver/client/workflow_fake.go
Due: none

failing test case
  backend/src/apiserver/resource/resource_manager_test.go
Due: none

Fix logic
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
Due: none

fix another case
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
Due: none

Switched to not found error
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/common/util/error.go
Due: none

not found error should be permanent
  backend/src/agent/persistence/client/pipeline_client.go
Due: none

fix(backend): persistence agent - workflow not found error should be a permanent error (#4486)
  backend/src/agent/persistence/client/pipeline_client.go
  backend/src/apiserver/client/workflow_fake.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/resource/resource_manager_test.go
  backend/src/common/util/error.go
Due: none

fix(frontend): do not render Retry nodes in UI DAG as they are virtual nodes. Fixes #4425 #2705 (#4474)
  frontend/mock-backend/fixed-data.ts
  frontend/mock-backend/mock-retry-runtime.ts
  frontend/src/lib/WorkflowParser.test.ts
  frontend/src/lib/WorkflowParser.ts
Due: none

Version 0.3.0 -> 0.4.0
  components/kubeflow/kfserving/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

feat(manifest): add support for Standalone KFP on AWS. Fixes #4337 (#4350)
  manifests/kustomize/README.md
  manifests/kustomize/env/aws/OWNERS
  manifests/kustomize/env/aws/README.md
  manifests/kustomize/env/aws/aws-configuration-patch.yaml
  manifests/kustomize/env/aws/config
  manifests/kustomize/env/aws/kustomization.yaml
  manifests/kustomize/env/aws/minio-artifact-secret-patch.env
  manifests/kustomize/env/aws/params.env
  manifests/kustomize/env/aws/secret.env
  manifests/kustomize/env/aws/viewer-pod-template.json
Due: none

chore(release): auto configure changelog genreartion for stable/pre releases. Fixes #4248
  hack/cherry-pick.sh
  hack/release.sh
Due: none

chore(release): auto configure changelog genreartion for stable/pre releases. Fixes #4248 (#4491)
  hack/cherry-pick.sh
  hack/release.sh
Due: none

chore: make Pull Request template conciser (#4473)
  .github/pull_request_template.md
Due: none

SDK - Components - Making whole TaskSpec available to the container and graph handlers
  sdk/python/kfp/components/_components.py
  sdk/python/kfp/components/_python_to_graph_component.py
  sdk/python/kfp/dsl/_component_bridge.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36, kubeflow-pipelines-component-containers

chore(release): bump version to 1.0.1 on master branch
  CHANGELOG.md
  VERSION
  backend/api/python_http_client/README.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/api_client.py
  backend/api/python_http_client/kfp_server_api/configuration.py
  backend/api/python_http_client/setup.py
  backend/api/swagger/kfp_api_single_file.swagger.json
  backend/src/apiserver/BUILD.bazel
  backend/src/apiserver/client/BUILD.bazel
  backend/src/apiserver/list/BUILD.bazel
  backend/src/apiserver/model/BUILD.bazel
  backend/src/apiserver/resource/BUILD.bazel
  backend/src/apiserver/server/BUILD.bazel
  backend/test/BUILD.bazel
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/metadata/kustomization.yaml
  manifests/kustomize/base/params.env
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/metadata-writer/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

remove rc changelog
  CHANGELOG.md
Due: none

chore(release): bump version to 1.0.1 on master branch (#4492)
  CHANGELOG.md
  VERSION
  backend/api/python_http_client/README.md
  backend/api/python_http_client/kfp_server_api/__init__.py
  backend/api/python_http_client/kfp_server_api/api_client.py
  backend/api/python_http_client/kfp_server_api/configuration.py
  backend/api/python_http_client/setup.py
  backend/api/swagger/kfp_api_single_file.swagger.json
  backend/src/apiserver/BUILD.bazel
  backend/src/apiserver/client/BUILD.bazel
  backend/src/apiserver/list/BUILD.bazel
  backend/src/apiserver/model/BUILD.bazel
  backend/src/apiserver/resource/BUILD.bazel
  backend/src/apiserver/server/BUILD.bazel
  backend/test/BUILD.bazel
  manifests/gcp_marketplace/chart/kubeflow-pipelines/templates/application.yaml
  manifests/gcp_marketplace/schema.yaml
  manifests/kustomize/base/cache-deployer/kustomization.yaml
  manifests/kustomize/base/cache/kustomization.yaml
  manifests/kustomize/base/metadata/kustomization.yaml
  manifests/kustomize/base/params.env
  manifests/kustomize/base/pipeline/kustomization.yaml
  manifests/kustomize/base/pipeline/metadata-writer/kustomization.yaml
  manifests/kustomize/env/gcp/inverse-proxy/kustomization.yaml
  sdk/python/kfp/__init__.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

removed selector
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/dsl/_pipeline.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

New server API: read run log
  backend/src/apiserver/archive/log.go
  backend/src/apiserver/archive/log_test.go
  backend/src/apiserver/archive/test/step-main_log.gz
  backend/src/apiserver/client_manager.go
  backend/src/apiserver/config/config.json
  backend/src/apiserver/main.go
  backend/src/apiserver/resource/client_manager_fake.go
  backend/src/apiserver/resource/resource_manager.go
  backend/src/apiserver/server/run_log_server.go
  frontend/server/app.ts
  frontend/server/configs.ts
  frontend/src/lib/Apis.ts
  frontend/src/pages/RunDetails.tsx
  go.mod
  go.sum
Due: none

New server API: read run log
  manifests/kustomize/base/pipeline/ml-pipeline-apiserver-role.yaml
Due: none

Read run log: enhanced error handling
  backend/src/apiserver/resource/resource_manager.go
Due: none

Read run log: enhanced log archive options
  backend/src/apiserver/archive/log.go
  backend/src/apiserver/archive/log_test.go
  backend/src/apiserver/client_manager.go
  backend/src/apiserver/resource/resource_manager.go
Due: none

moved config value
  backend/src/apiserver/common/config.go
  backend/src/apiserver/common/util.go
  backend/src/apiserver/config/config.json
  manifests/kustomize/base/params.env
Due: none

feat(compiled): set pod disruption budget for pipelines. Fixes #3877 (#4178)
  sdk/python/kfp/compiler/compiler.py
  sdk/python/kfp/dsl/_pipeline.py
  sdk/python/tests/compiler/compiler_tests.py
Due: kubeflow-pipelines-sdk-python35, kubeflow-pipelines-sdk-python36, kubeflow-pipelines-sdk-python37, kubeflow-pipelines-sdk-python38, kubeflow-pipelines-tfx-python36

Review comments addressed
  components/aws/sagemaker/batch_transform/component.yaml
  components/aws/sagemaker/common/_utils.py
  components/aws/sagemaker/deploy/component.yaml
  components/aws/sagemaker/deploy/src/deploy.py
  components/aws/sagemaker/ground_truth/component.yaml
  components/aws/sagemaker/hyperparameter_tuning/component.yaml
  components/aws/sagemaker/model/component.yaml
  components/aws/sagemaker/process/component.yaml
  components/aws/sagemaker/tests/integration_tests/component_tests/test_deploy_component.py
  components/aws/sagemaker/train/component.yaml
  components/aws/sagemaker/workteam/component.yaml
Due: kubeflow-pipelines-component-yaml, kubeflow-pipelines-component-containers

Path conditions:
  kubeflow-pipelines-sdk-python35: any of: sdk/.*
  kubeflow-pipelines-sdk-python36: any of: sdk/.*
  kubeflow-pipelines-sdk-python37: any of: sdk/.*
  kubeflow-pipelines-sdk-python38: any of: sdk/.*
  kubeflow-pipelines-tfx-python36: any of: sdk/.*
  kubeflow-pipelines-component-yaml: any of: components/.*\.yaml
  kubeflow-pipelines-components-gcp-python27: any of: components/gcp/container/.*
  kubeflow-pipelines-components-gcp-python37: any of: components/gcp/container/.*
  kubeflow-pipelines-component-containers: any of: components/.*
  kubeflow-pipelines-backend-visualization: any of: backend/src/apiserver/visualization/.*
