Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/check-lint\.sh)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh)

Add support for adding custom vmx keys
  api/v1alpha3/types.go
  api/v1alpha3/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  packaging/flavorgen/flavors/generators.go
  pkg/services/govmomi/extra/config.go
  pkg/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add support for upgrading virtual hardware
  api/v1alpha3/condition_consts.go
  api/v1alpha3/types.go
  api/v1alpha3/vspherevm_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  packaging/flavorgen/flavors/generators.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/util.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

bump CPI version to v1.2.1
  packaging/flavorgen/flavors/generators.go
  pkg/services/cloudprovider/cloud-controller-manager.go
  test/e2e/data/infrastructure-vsphere/cluster-template.yaml
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

cloud provider: remove SKIP_NODE_DELETION config
  pkg/services/cloudprovider/cloud-controller-manager.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Adds metadata.yaml for clusterctl contracts
  Makefile
  metadata.yaml
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

fix typo in getting_started
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Update to CAPI v0.3.9
  go.mod
  go.sum
Due: none

Run go mod tidy
  hack/tools/go.sum
Due: none

Fix E2E tests
  Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

fix reconcile of controlplane endpoint in VSphereCluster
  controllers/vspherecluster_controller.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

[e2e] Install CNI using ClusterResourceSet and bump CAPI to v0.3.9
  Makefile
  templates/cluster-template.yaml
  test/e2e/common.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/cni/calico/calico.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-resource-set.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/kustomization.yaml
  test/e2e/e2e_suite_test.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Use envsubst syntax
  packaging/flavorgen/flavors/generators.go
  templates/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-resource-set-label.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-resource-set.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-template.yaml
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add check for template disk size
  pkg/services/govmomi/vcenter/clone.go
  pkg/services/govmomi/vcenter/clone_test.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

[e2e] Modify cluster CIDR to match with CNI CIDR
  .gitignore
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-network-CIDR.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/kustomization.yaml
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Get insecure flag value from provider config for session creation
  api/v1alpha3/vspherevm_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/vcenter/clone_test.go
  pkg/session/session.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

bump kube-vip to 0.1.8 and adjust leader election params
  packaging/flavorgen/flavors/generators.go
Due: none

move E2Es to 1.19.1
  test/e2e/README.md
  test/e2e/config/vsphere-ci.yaml
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Add conditions for the reconcile delete workflow
  .gitignore
  controllers/vspherecluster_controller.go
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  pkg/context/cluster_context.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Refactor the error handling
  pkg/services/govmomi/errors.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/util.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

More changes
  pkg/services/govmomi/errors.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/util.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

More changes
  pkg/services/govmomi/service.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Printcolumn added in VSphereCluster and VSphereMachine
  api/v1alpha3/vspherecluster_types.go
  api/v1alpha3/vspheremachine_types.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Added generated crd
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

add the v1alpha4 roadmap
  docs/roadmap/v1alpha4.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

re-order the deletion process to delete the haproxylb after the machines
  controllers/vspherecluster_controller.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

remove the example directory
  examples/default/addons.yaml
  examples/default/cluster/cluster.yaml
  examples/default/cluster/kustomization.yaml
  examples/default/cluster/kustomizeconfig.yaml
  examples/default/controlplane/controlplane.yaml
  examples/default/controlplane/kustomization.yaml
  examples/default/controlplane/kustomizeconfig.yaml
  examples/default/machinedeployment/kustomization.yaml
  examples/default/machinedeployment/kustomizeconfig.yaml
  examples/default/machinedeployment/machinedeployment.yaml
  examples/default/provider-components/capi_manager_patches.yaml
  examples/default/provider-components/capv_manager_bootstrap_credentials.yaml
  examples/default/provider-components/capv_manager_patches.yaml
  examples/default/provider-components/kustomization.yaml
  examples/default/provider-components/manager_tolerations_patch.yaml
  examples/generate.sh
  examples/pre-67u3/addons.yaml
  examples/pre-67u3/cluster/cluster.yaml
  examples/pre-67u3/cluster/kustomization.yaml
  examples/pre-67u3/cluster/kustomizeconfig.yaml
  examples/pre-67u3/controlplane/controlplane.yaml
  examples/pre-67u3/controlplane/kustomization.yaml
  examples/pre-67u3/controlplane/kustomizeconfig.yaml
  examples/pre-67u3/machinedeployment/kustomization.yaml
  examples/pre-67u3/machinedeployment/kustomizeconfig.yaml
  examples/pre-67u3/machinedeployment/machinedeployment.yaml
  examples/pre-67u3/provider-components/cabpk_manager_patches.yaml
  examples/pre-67u3/provider-components/capi_manager_patches.yaml
  examples/pre-67u3/provider-components/capv_manager_bootstrap_credentials.yaml
  examples/pre-67u3/provider-components/capv_manager_patches.yaml
  examples/pre-67u3/provider-components/kustomization.yaml
  examples/pre-67u3/provider-components/manager_tolerations_patch.yaml
Due: pull-cluster-api-provider-vsphere-verify-shell

remove the manifests image
  hack/build-dev.sh
  hack/release.sh
  hack/tools/generate-yaml/Dockerfile
  hack/tools/manifests-base/Dockerfile
  hack/tools/manifests-base/Makefile
Due: pull-cluster-api-provider-vsphere-verify-shell

document migration path from haproxy to kube-vip
  docs/migrations.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

add failure domain proposal
  docs/proposal/20201103-failure-domain.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

update to capi 0.3.11
  go.mod
  go.sum
Due: none

update govmomi to v0.23.1
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

move CI to capi v0.3.11
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

use RegisterClusterResourceSetConfigMapTransformation for CNI instead of envvar
  test/e2e/e2e_suite_test.go
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

cleanup consts
  test/e2e/common.go
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

set the thumbprint to enable secure communications
  api/v1alpha2/vspherecluster_conversion.go
  api/v1alpha2/zz_generated.conversion.go
  api/v1alpha3/types.go
  api/v1alpha3/vspherecluster_types.go
  api/v1alpha3/vspherecluster_webhook.go
  api/v1alpha3/vspherecluster_webhook_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/webhook/manifests.yaml
  controllers/vspheremachine_controller.go
  controllers/vspherevm_controller.go
  packaging/flavorgen/flavors/generators.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/vcenter/clone_test.go
  pkg/session/session.go
  test/e2e/config/vsphere-ci.yaml
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

WIP: deploy CPI in same minor version as Kubernetes
  api/v1alpha3/cloudprovider_types.go
  controllers/vspherecluster_controller.go
  packaging/flavorgen/flavors/generators.go
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

move CPI over to CRS and refactor flavorgen
  packaging/flavorgen/cmd/root.go
  packaging/flavorgen/flavors/crs/cpi.go
  packaging/flavorgen/flavors/crs/csi.go
  packaging/flavorgen/flavors/crs/util.go
  packaging/flavorgen/flavors/env/envsubts_consts.go
  packaging/flavorgen/flavors/flavors.go
  packaging/flavorgen/flavors/generators.go
  packaging/flavorgen/flavors/util/helpers.go
Due: none

deprecate API fields in v1alpha3 for future removal
  api/v1alpha3/cloudprovider_types.go
  api/v1alpha3/haproxyloadbalancer_types.go
  api/v1alpha3/vspherecluster_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
Due: pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Move ncdc to emeritus status
  OWNERS
  OWNERS_ALIASES
Due: none
